$light_clr-page-bkg: 		#fbfbf9;
$light_clr-header-bkg: 	#f8f7f2;
$light_clr-footer-bkg: 	#f8f7f2;

$light_clr-well-bkg: 		#e9e6df;
$light_clr-line: 			#e9e6df;
$light_clr-hr: 			#e9e6df;
$light_clr-img-border: 	#e9e6df;

$light_clr-text: 			#333333;
$light_clr-headers: 		#333333;
$light_clr-header1: 		#333333;
$light_clr-header2: 		#333333;

$light_clr-link: 			#8c1515;
$light_clr-link-hvr: 		#333333;
$light_clr-btn-text: 		#fbfbf9;
$light_clr-btn-bkg: 		#8c1515;
$light_clr-btn-bkg-hvr: 	#333333;
$light_clr-btn-text-hvr:	#fbfbf9;

$light_clr-menu-text: 	#8c1515;
$light_clr-menu-bkg:		transparent;
$light_clr-menu-text-hvr: #333333;
$light_clr-menu-bkg-hvr:  transparent;
$light_clr-menu-link-border: #e9e6df;

$light_clr-icons: 		#928b81;