/* Internet Explorer */

.ie .navbar-inner {
    border: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background: url(../images/transparent.png);
}
.ie .dropdown-menu a:hover,
.ie .dropdown-menu a:focus {
    background: #f2f1eb;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
/* Internet Explorer 9 only */

.ie9 .navbar-inner {
    filter: none;
}
/* Internet Explorer 8 only */

.ie8 #header #logo {
    display: block;
    float: left;
    margin-right: 10px;
    width: 180px;
}
.ie8 #name-and-slogan {
    display: block;
    padding: 0;
}
.ie8 #site-name {
    margin: 8px 0 0 0;
}
.ie8 #site-slogan {
    margin: 0;
}
.ie8 #site-title-first-line {
    display: block;
    margin: -10px 0 0 0;
}
.ie8 #site-title-second-line {
    display: block;
    margin: 0;
}
.ie8 #block-search-form input {
    max-width: none;
}
.ie8 #nav-search {
    margin: -25px -10px 0 0;
}
.ie8 blockquote {
    background: #e1e1df;
}
.ie8 .quote:before,
.ie8 .quote:after {
    font-size: 40px;
    font-weight: bold;
    color: #8a8a89;
}
.ie8 div.quote:after,
.ie8 blockquote.quote:after {
    display: inline-block;
    float: right;
    margin-top: -50px;
}
.ie8 .banner-overlay > div {
    min-width: 300px;
}
/* Internet Explorer 7 only */

.ie7 #header #logo {
    display: block;
    float: left;
    margin-right: 10px;
    width: 180px;
}
.ie7 #name-and-slogan {
    display: block;
    padding: 0;
    width: 490px;
}
.ie7 #site-name {
    margin: 8px 0 0 0;
}
.ie7 #site-slogan {
    margin: 0;
}
.ie7 #site-title-first-line {
    display: block;
    margin: -10px 0 0 0;
}
.ie7 #site-title-second-line {
    display: block;
    margin: 0;
}
.ie7 #block-search-form input {
    max-width: none;
}
.ie7 #nav-search {
    margin: -25px -10px 0 0;
}
.ie7 blockquote {
    background: #e1e1df;
}
.ie7 .banner-overlay > div {
    min-width: 300px;
}
