.node-type-stanford-story-page {
  &.hide-title #page-title {
    font-size: 0;
    width: 0;
    height: 0;
    display: inline-block;
    overflow: hidden;
    position: absolute;
  }

  .main {
    padding-top: 0;
  }

  .content-head {
    margin-bottom: 0;
  }

  #main > div,
  #content {
    width: 100%;
    margin: 0;
  }

  // Allows all the other various regions we have to still look normal.
  #main .region:not(.region-content),
  #content-wrapper > div:not(.content-body) {
    max-width: 1170px;
    margin: 0 auto;
  }

  #main-content,
  #content {
    margin: 0;
  }
}
