.front .main-top > .container {
    width: 100%;
}

.full-width-banner img {
    width: 100%;
}

.full-width-banner .banner-overlay {
 position: relative;
 width: 1170px;
 margin-left: auto;
 margin-right: auto;
}
.full-width-banner .banner-overlay.carousel-position-right > div {
    right: 0;
}
.full-width-banner .banner-overlay > div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 68px;
    color: white;
    padding: 30px 40px;
    position: absolute;
    top: auto;
    width: 32%; 
}
.full-width-banner .banner-overlay h2, 
.full-width-banner .banner-overlay p, 
.full-width-banner .banner-overlay-caption {
 color: white;   
}
.full-width-banner .banner-overlay a, 
.full-width-banner .banner-overlay a.more-link, 
.full-width-banner .banner-overlay .more-link a {
    color: #c6af6f;
}
.full-width-banner .banner-overlay a:hover, 
.full-width-banner .banner-overlay a.more-link:hover, 
.full-width-banner .banner-overlay .more-link a:hover,
.full-width-banner .banner-overlay a:focus, 
.full-width-banner .banner-overlay a.more-link:focus, 
.full-width-banner .banner-overlay .more-link a:focus {
    color: white;
    text-decoration: underline;
}

@media (max-width: 1199px) {
 .full-width-banner .banner-overlay {
     width: 940px;
 }
 .full-width-banner .banner-overlay > div {
     width: 35%;
 }
}
@media (max-width: 979px) {
 .full-width-banner .banner-overlay {
     width: 724px;
 }
 .full-width-banner .banner-overlay > div {
     width: 50%;
 }
}
@media (max-width: 767px) {
 .front .main-top > .container {
     margin-left: 0;
 }
 .full-width-banner .banner-overlay {
    height: auto;
    position: inherit;
    width: 100%;
 }
 .full-width-banner .banner-overlay > div {
    max-width: 100%;
    position: inherit;
    width: 100%;
 }
}

.view-display-id-midget_block_caption_credits_below .below-banner {
    float: right;
    margin-right: 10%;
}
.view-display-id-midget_block_caption_credits_below .caption-style {
    padding-right: 1em;
    float: left;
}
.view-display-id-midget_block_caption_credits_below .credits-style {
    float: left;
}
