.header-bkg .header {
    min-height: 60px;
}
.front.header-bkg .header {
    min-height: 175px;
}
.front.header-bkg .nav-search {
    margin-top: -205px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
}
.front.header-bkg.header-bkg-style-frontbleed .header {
    min-height: 60px;
}
.header-bkg.header-bkg-style-frontbleed .nav-search,
.front.header-bkg.header-bkg-style-frontbleed .nav-search {
    margin-top: -100px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
}
.header-bkg.header-bkg-image .header {
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: 100%;
    margin: 0;
    @media (max-width: 380px) {
        background-size: cover;
    }
}
.header-bkg .site-main-menu {
    padding-top: 10px;
}
@media (max-width: 767px) {
    .header-bkg .site-main-menu {
        padding-top: 0px;
    }
    .front.header-bkg.header-bkg-image .header {
        min-height: 150px;
    }
}
.header-bkg.header-bkg-wallpaper .header {
    background-repeat: repeat;
    background-position: center top;
    margin: 0;
}
.header-bkg.header-bkg-text-light .site-name a, 
.header-bkg.header-bkg-text-light .site-name a:hover, 
.header-bkg.header-bkg-text-light .site-name a:active, 
.header-bkg.header-bkg-text-light #site-slogan, 
.header-bkg.header-bkg-text-light .site-login,
.header-bkg.header-bkg-text-light .site-login a {
    color: $clr-light;
    text-shadow: 0 0 2px $clr-dark;
}
.header-bkg.header-bkg-text-dark .site-name a, 
.header-bkg.header-bkg-text-dark .site-name a:hover, 
.header-bkg.header-bkg-text-dark .site-name a:active, 
.header-bkg.header-bkg-text-dark #site-slogan, 
.header-bkg.header-bkg-text-dark .site-login,
.header-bkg.header-bkg-text-dark .site-login a {
    color: $clr-dark;
    text-shadow: 0 0 2px $clr-light;
}
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    border: 0;
    background: transparent;
}
.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    padding: 0;
}
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
    padding: 0.5em;
    margin: 0;
    .nav > li > a {
        padding: 0.25em 0.5em;
        border: 0;
        margin-right: 0.5em;
    }
}
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a {
}