@charset "UTF-8";

/* Jumpstart CSS */

/* Homepage banner */

.page-node .content-body .bean-stanford-banner .field {
  margin-bottom: 0;
}

/* Format default image, caption, and credits on Stanford Page */

.node .group_s_postcard_image,
.node .group-s-postcard-image {
  width: 283px;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  max-width: 50%;
}

.page-node #content-body .group_s_postcard_image .field,
.page-node #content-body .group-s-postcard-image .field {
  margin-bottom: 0;
}

.node .group_s_postcard_image,
.node .group-s-postcard-image {
  margin-bottom: 0;
  margin-left: 0;
  width: auto;
}

.node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item,
.node .group-s-postcard-image .field-collection-container > .field > .field-items > .field-item {
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 270px;
}

.page-node .content-body .group_s_postcard_content .field,
.page-node .content-body .group-s-postcard-content .field {
  margin-bottom: 0;
}

.page-node .content-body .postcard-left-wrap > div:first-child,
.page-node .content-body .postcard-left > div:first-child {
  margin-bottom: 1em;
  margin-right: 1em;
}

/* In Stanford Page node body, make sure images are never wider than node body */

.node .group_s_postcard_content img,
.node .group-s-postcard-content img {
  max-width: 100%;
}

/** Breakout text styles **/

.content p.pullquote {
  margin: .8em;
  background: #f2f1eb;
  border: solid 1px #d5d2c5;
  padding: 1em;
  line-height: 1.25em;
  text-indent: 0;
  font-size: 1em;
  display: inline-block;
  display: -moz-box;
  display: -webkit-box;
}

/* Dark theme. */

.style-custom-styles-dark .content p.pullquote {
  color: #fbfbf9;
  background: #232220;
  border-color: #b3995d;
}

/* Plain theme. */

.style-custom-styles-plain .content p.pullquote {
  background: #e9e9e9;
  border-color: #8c1515;
}

/* Rich theme. */

.style-custom-styles-rich .content p.pullquote {
  color: #3f3c30;
  background: #d5d0c0;
  border-color: #5e4a1b;
}

/* Bright theme. */

.style-custom-styles-bright .content p.pullquote {
  color: #ffffff;
  background: #006374;
  border-color: #ffce49;
}

.style-custom-styles-bright .content p.pullquote a,
.style-custom-styles-bright .content p.pullquote .normal-link a {
  color: #ffce49;
}

.style-custom-styles-bright .content p.pullquote a:hover,
.style-custom-styles-bright .content p.pullquote .normal-link a:hover,
.style-custom-styles-bright .content p.pullquote a:focus,
.style-custom-styles-bright .content p.pullquote .normal-link a:focus {
  color: #ffffff;
}

/* High contrast theme. */

.style-custom-styles-contrast .content p.pullquote {
  color: #ffffff;
  background: #333333;
  border-color: #b3995d;
}

.style-custom-styles-contrast .content p.pullquote a,
.style-custom-styles-contrast .content p.pullquote .normal-link a {
  color: #b3995d;
}

.style-custom-styles-contrast .content p.pullquote a:hover,
.style-custom-styles-contrast .content p.pullquote .normal-link a:hover,
.style-custom-styles-contrast .content p.pullquote a:focus,
.style-custom-styles-contrast .content p.pullquote .normal-link a:focus {
  color: #ffffff;
}

/* Cardinal theme. */

.style-custom-styles-cardinal .content p.pullquote {
  border-color: #8c1515;
}

/* Vivid theme. */

.style-custom-styles-vivid .content p.pullquote {
  color: #ffffff;
  background: #0f6c91;
  border-color: #eca446;
}

.style-custom-styles-vivid .content p.pullquote a,
.style-custom-styles-vivid .content p.pullquote .normal-link a {
  color: #ffffff;
}

.style-custom-styles-vivid .content p.pullquote a:hover,
.style-custom-styles-vivid .content p.pullquote .normal-link a:hover,
.style-custom-styles-vivid .content p.pullquote a:focus,
.style-custom-styles-vivid .content p.pullquote .normal-link a:focus {
  color: #ffffff;
  text-decoration: underline;
}

/* Hide menu tabs on homepage */

.front #content-head .tabs {
  display: none;
}

/* Contact us block */

.field-group-div.group-s-contact-us-address {
  margin-bottom: 0.8em;
}

/* Map block */

#content-body #block-bean-jumpstart-location-map-block .content h2 {
  margin-top: 1em;
}

/* Hide contextual editor on search box */

html.js .region-search-box div.contextual-links-wrapper {
  display: none;
}

/* Media queries */

@media (max-width: 767px) {
  /* Footer blocks to single column */
  #footer-content .block {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .node .group_s_postcard_image,
  .node .group-s-postcard-image {
    max-width: 50%;
  }

  #main-menu .contextual-links-wrapper {
    display: none;
  }
}

@media (max-width: 480px) {
  .view-mode-stanford-8-col-banner img {
    width: 100%;
  }

  .page-node .content-body .view-mode-stanford-8-col-banner .field,
  #main-content .view-mode-stanford-8-col-banner .border-simple img {
    margin-bottom: 0;
  }
}

@media (max-width: 300px) {
  .node .group_s_postcard_image,
  .node .group-s-postcard-image {
    max-width: 100%;
  }

  .node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item,
  .node .group-s-postcard-image .field-collection-container > .field > .field-items > .field-item {
    margin-left: 0;
  }
}

/* ----- Features styles --------- */

/* News */

.node-stanford-news-item .field-name-field-s-news-categories {
  margin-top: 1em;
}

.node-stanford-news-item .field-name-field-s-news-categories .field-item,
.node-stanford-news-item .field-name-field-s-news-date,
.node-stanford-news-item .field-name-field-s-news-source {
  display: inline-block;
}

.node-stanford-news-item .field-name-field-s-news-source {
  padding-left: 5px;
  border-left: 1px solid #585754;
  margin-left: 5px;
}

.node.node-stanford-news-item .group_s_postcard_image,
.node.node-stanford-news-item .group-s-postcard-image {
  margin-left: 15px;
  margin-bottom: 15px;
}

/* Courses */

.view-id-courses table td:last-child {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.view-id-courses table td:first-child a {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 600;
}

#block-views-exp-courses-search-page .views-submit-button {
  clear: left;
}

/* Events */

.content-body .view-stanford-events-calendar .view-header ul.pager {
  display: none;
}

.page-node .content-body .view-stanford-events-views .postcard-left > div:first-child {
  margin-bottom: 0;
}

.node-type-stanford-event .group_floatright.float-right,
.node-type-stanford-event .group-floatright.float-right {
  max-width: 50%;
}

.date-stacked {
  min-width: 30px;
  padding: 8px 10px 10px;
  text-align: center;
  margin-right: 10px;
}

.date-month {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 12px;
  text-transform: uppercase;
}

.date-day {
  font-size: 25px;
  font-weight: 300;
  line-height: 18px;
}

/* Mini-calendar navigtaion */

.calendar-calendar td.mini a,
.calendar-calendar td.mini .mini-day-off {
  font-weight: 600;
  text-decoration: none;
  padding: 4px 8px 21px 4px !important;
  text-align: right;
  display: block;
}

.calendar-calendar .mini td {
  text-align: center;
  border: 1px solid #FFFFFF;
}

.calendar-calendar table.mini td .month {
  font-size: 10px;
  line-height: 16px;
  padding: 0;
}

.calendar-calendar th.days {
  border: 0;
  padding: 4px;
  font-size: 9px;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav {
  margin-bottom: 0;
  padding-bottom: 5px;
  padding-top: 10px;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  font-weight: normal;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager {
  background: none;
  border-bottom: 0;
  border-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next {
  margin-top: 6px;
  background: none repeat scroll 0 0 transparent;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  height: 14px;
  width: 3px;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev {
  left: 4px;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next {
  right: 4px;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  border-radius: 15px 15px 15px 15px;
  font-size: 1.5em;
  padding: 3px 15px 11px 11px;
}

.view .date-nav-wrapper .date-next a {
  margin-right: -10px;
}

.view .date-nav-wrapper .date-prev a {
  margin-left: -10px;
}

ul.pager li div.ajax-progress-throbber {
  display: none;
}

/* hide the throbber */

@media (max-width: 767px) {
  .calendar-calendar td.mini a,
  .calendar-calendar td.mini .mini-day-off {
    padding: 4px 4px 10px 4px !important;
  }

  .calendar-calendar table.mini td .month {
    line-height: 1em;
  }

  .calendar-calendar .mini td {
    display: table-cell;
  }

  .calendar-calendar table.mini td.empty {
    height: 100%;
  }

  .calendar-calendar th.days {
    display: table-cell;
  }
}

@media (max-width: 480px) {
  .node-type-stanford-event .row-fluid .node .group_floatright.float-right,
  .node-type-stanford-event .row-fluid .node .group-floatright.float-right {
    float: none !important;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
  }
}

/* People */

.node-type-stanford-person h1.title {
  display: none;
}

.node-type-stanford-person .node .field-name-field-s-person-faculty-type {
  font-size: 1.5em;
}

.node-type-stanford-person .content-body .field.field-name-field-s-person-profile-picture {
  margin-bottom: 0;
}

.view-stanford-person-faculty .faculty-type,
.view-stanford-person-staff .title-dept {
  margin-bottom: 0.5em;
  font-style: italic;
}

.page-node.node-type-stanford-person .content-body .postcard-left > div:first-child {
  max-width: 50%;
}

.node-type-stanford-person #main-content .postcard-left > div:first-child .border-simple-nowidth img {
  margin: 0;
}

@media (max-width: 480px) {
  .page-node.node-type-stanford-person .content-body .postcard-left > div:first-child {
    display: block;
    float: none;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}

/* Publications */

.view-publications .views-field-field-s-image-info img {
  margin-bottom: 0.5em;
}

.view-publications.view-display-id-block_4 h3.normal-link {
  margin-bottom: 0;
}

.node-type-stanford-publication .node .group_s_postcard_image .field-collection-container > .field > .field-items > .field-item,
.node-type-stanford-publication .node .group-s-postcard-image .field-collection-container > .field > .field-items > .field-item {
  margin-left: 0em;
}

/* ----- Admin Shortcuts bar --------- */

/* Hide headers */

#admin-shortcuts h2 {
  display: none;
}

#admin-shortcuts .block {
  display: inline-block;
  position: relative;
}

/* Hide editing of these blocks */

#admin-shortcuts .block .contextual-links-wrapper {
  display: none;
}

/* Home block */

#admin-shortcuts .block.shortcuts-home {
  top: -9px;
}

#admin-shortcuts .shortcuts-home .content a {
  background-image: url("../images/home.png");
  color: transparent;
  display: inline-block;
  font-size: 0;
  height: 25px;
  padding: 0;
  width: 30px;
}

#admin-shortcuts .shortcuts-home .content a:hover {
  background-image: url("../images/home.png");
}

/* Hello, gorgeous and logout */

#block-stanford-jumpstart-shortcuts-hello {
  float: right;
  margin-top: 6px;
}

#admin-shortcuts .shortcuts-user,
#admin-shortcuts .shortcuts-logout {
  display: inline-block;
}

#admin-shortcuts .content .shortcuts-user a {
  text-decoration: underline;
  margin-right: 10px;
  padding: 0;
}

#admin-shortcuts .content .shortcuts-user a:hover {
  background: transparent;
  color: #CCCCCC;
}

#admin-shortcuts .content .shortcuts-user a {
  display: inline;
}

#admin-shortcuts .shortcuts-user .field-content a {
  display: inline-block;
  padding: 0;
  margin-bottom: 2px;
}

#admin-shortcuts .shortcuts-user .content a:hover {
  text-decoration: underline;
}

/* Launch status ribbon block */

#admin-shortcuts .shortcuts-launch-block {
  background-image: url("../images/launch-block-border.png");
  background-position: center bottom;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-bottom: 15px;
  position: absolute;
  right: 50px;
  top: 0;
  width: 150px;
  z-index: 100;
}

#admin-shortcuts .shortcuts-launch-block .content {
  background-color: #A32A2A;
  padding: 10px;
  text-align: center;
}

#admin-shortcuts .shortcuts-launch-block .nextstep {
  border-bottom: 1px solid #611616;
  border-top: 1px solid #611616;
  color: #611616;
  display: block;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#admin-shortcuts .shortcuts-launch-block .content a {
  background: none repeat scroll 0 0 #222222;
  border: medium none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

#admin-shortcuts .shortcuts-launch-block .content a:hover {
  background: none repeat scroll 0 0 #4D4F53;
}

/* Responsive admin shortcuts */

@media (max-width: 979px) {
  #admin-shortcuts .content a,
  #admin-shortcuts .shortcuts-user {
    margin-bottom: 7px;
  }

  #block-stanford-jumpstart-shortcuts-hello {
    float: none;
    margin-top: auto;
    margin-left: 1em;
  }
}

@media (max-width: 640px) {
  #admin-shortcuts .shortcuts-launch-block {
    display: none;
  }

  #admin-shortcuts .region-admin-shortcuts {
    max-width: 100%;
  }
}

/* ----- Styles to move to Stanford Seven theme ----- */

.page-admin-stanford-jumpstart h2:first-child {
  margin-top: 0.5em;
}

.page-admin-stanford-jumpstart h2 {
  margin-top: 1.5em;
}

.page-admin-stanford-jumpstart a.btn-request {
  background-color: green;
  color: white;
  padding: 8px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
}

.page-admin-stanford-jumpstart a:hover.btn-request {
  background-color: #284D15;
  text-decoration: none;
}

.page-admin-stanford-jumpstart td {
  vertical-align: top;
  border-top: 1px solid #E8E8E8;
  border-left: none;
  border-right: none;
  padding-left: 0;
  padding-right: 30px;
}

.page-admin-stanford-jumpstart tr td:last-child {
  border-right: none;
}

.page-admin-stanford-jumpstart-features td .btn-request {
  margin-top: 45px;
  text-align: center;
  display: block;
}

.page-admin-stanford-jumpstart-features table {
  border-bottom: 1px solid #E8E8E8 !important;
  margin-bottom: 3em;
  margin-top: 2em;
}

.page-admin-stanford-jumpstart .block-extrainfo {
  width: 40%;
  border: 1px solid #E8E8E8;
  float: right;
  padding: 5px 20px 15px 20px;
  background-color: #FAFAFA;
  margin-bottom: 30px;
  clear: right;
}

.page-admin-stanford-jumpstart .block-extrainfo-full {
  border: 1px solid #E8E8E8;
  padding: 5px 20px 15px 20px;
  background-color: #FAFAFA;
}

/* Dropdown menu behavior for Admin Shortcuts region */

.region-admin-shortcuts .shortcuts-dropdown ul.nav ul {
  display: none;
  position: absolute;
  top: 100%;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li {
  float: none;
  position: relative;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li a {
  margin-bottom: 5px;
  margin-left: 7px;
  min-width: 150px;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li.first a {
  margin-top: 4px;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav ul li.last a {
  margin-bottom: 10px;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav li.expanded > a:after {
  background-image: url("../images/expanded-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  height: 5px;
  margin-left: 5px;
  padding-bottom: 2px;
  width: 13px;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav li a {
  display: block;
  padding: 25px 40px;
}

.region-admin-shortcuts .shortcuts-dropdown ul.nav li:hover > ul {
  display: block;
  display: block;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* ------------------------- NEW STYLES IMPLEMENTED DURING AND SINCE OCTOBER/NOVEMBER IPAW 2016 ------------------------- */

/** SEARCH **/

#block-search-form h2,
#block-search-form input.btn-search {
  display: none;
}

input[type="text"] {
  box-shadow: none;
}

body #block-search-form input.search-query {
  background: url("../images/sws-magnifying-glass.svg") no-repeat 0 center;
  background-size: 45px 45px;
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  padding-right: 35px;
  width: 0;
  height: 35px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 0 1.5px #c3c1be;
}

body #block-search-form input.search-query:hover,
body #block-search-form input.search-query:focus {
  box-shadow: 0 0 0 2px #c3c1be;
  border: none;
}

body #block-search-form input.search-query:focus {
  background: url("../images/sws-magnifying-glass.svg") no-repeat 160px center;
  background-size: 45px 45px;
  -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s;
  transition: width 0.6s, border-radius 0.6s, background 0.6s;
  padding-left: 15px;
  padding-right: 50px;
  cursor: text;
  width: 145px;
}

/** BANNERS **/

.border-simple .banner-overlay > div {
  margin-left: 1.5em;
}

@media (max-width: 979px) {
  .border-simple .banner-overlay > div {
    margin-left: 0;
  }
}

/** IMAGE TREATMENTS **/

.main .border-shadow img {
  padding: 0;
  box-shadow: none;
}

.main .border-bottom img {
  border: none;
}

.main .border-simple-nowidth img {
  background-color: transparent;
  padding: 0;
}

@media (max-width: 979px) {
  .main .border-bottom img {
    margin-bottom: 0;
  }

  .page-node .content-body .field.field-type-image {
    margin-bottom: 0;
  }
}

/** WELL BLOCKS **/

.well .postcard-left-wrap > div:first-child img,
.well .postcard-left > div:first-child img {
  margin-right: 10px;
  margin-bottom: 1.2em;
}

.well .postcard-left h3,
.well .postcard-right h3,
.well .postcard-left-wrap h3,
.well .postcard-right-wrap h3 {
  margin: .2em 0 .3em;
}

.well.well-transparent {
  background: transparent;
}

/* STONE BLUE WELL BLOCK */

.well.well-pastel-stoneblue {
  color: #333333;
  background: #949dae;
}

.well.well-pastel-stoneblue h2 {
  color: #333333;
}

.well.well-pastel-stoneblue a {
  color: #2e343b;
}

.well.well-pastel-stoneblue a:hover,
.well.well-pastel-stoneblue a:focus {
  color: #333333;
  text-decoration: underline;
}

.well.well-pastel-stoneblue a.btn {
  color: #ffffff;
  background: #2e343b;
}

.well.well-pastel-stoneblue a.btn:hover,
.well.well-pastel-stoneblue a.btn:focus {
  color: #ffffff;
  background: #333333;
}

/* SAGE WELL BLOCK */

.well.well-pastel-sage {
  color: #333333;
  background: #c7d1c5;
}

.well.well-pastel-sage h2 {
  color: #333333;
}

.well.well-pastel-sage a {
  color: #545953;
}

.well.well-pastel-sage a:hover,
.well.well-pastel-sage a:focus {
  color: #333333;
  text-decoration: underline;
}

.well.well-pastel-sage a.btn {
  color: #ffffff;
  background: #545953;
}

.well.well-pastel-sage a.btn:hover,
.well.well-pastel-sage a.btn:focus {
  background: #333333;
}

/* MAUVE WELL BLOCK */

.well.well-pastel-mauve {
  color: #333333;
  background: #b89fa6;
}

.well.well-pastel-mauve h2 {
  color: #333333;
}

.well.well-pastel-mauve a {
  color: #332533;
}

.well.well-pastel-mauve a:hover,
.well.well-pastel-mauve a:focus {
  color: #333333;
  text-decoration: underline;
}

.well.well-pastel-mauve a.btn {
  color: #ffffff;
  background: #332533;
}

.well.well-pastel-mauve a.btn:hover,
.well.well-pastel-mauve a.btn:focus {
  color: #ffffff;
  background: #333333;
}

/* MAROON WELL BLOCK */

.well.well-pastel-maroon {
  color: #ffffff;
  background: #714f51;
}

.well.well-pastel-maroon h2 {
  color: #ffffff;
}

.well.well-pastel-maroon a {
  color: #dad4d4;
}

.well.well-pastel-maroon a:hover,
.well.well-pastel-maroon a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.well.well-pastel-maroon a.btn {
  color: #ffffff;
  background: #4f3738;
}

.well.well-pastel-maroon a.btn:hover,
.well.well-pastel-maroon a.btn:focus {
  color: #ffffff;
  background: #333333;
}

/** VIEWS AND POSTCARDS **/

.well .view .postcard-left-wrap > div:first-child img,
.well .view .postcard-left > div:first-child img {
  margin-right: .5em;
  margin-bottom: 1.2em;
}

.view .postcard-left-wrap > div:first-child img,
.view .postcard-left > div:first-child img {
  margin-right: 1.2em;
  margin-top: .3em;
}

/** DESIGN COLOR OPTION SPECIFICS **/

/* LIGHT */

.style-custom-styles-light .banner-overlay > div {
  background: #fbfbf9;
}

.style-custom-styles-light .nav-collapse .dropdown-menu > li > a,
.style-custom-styles-light .nav-collapse .dropdown-menu > li > a:hover,
.style-custom-styles-light .nav-collapse .dropdown-menu > li > a:focus,
.style-custom-styles-light .nav-collapse .dropdown-menu > .active > a,
.style-custom-styles-light .nav-collapse .dropdown-menu > .active > a:hover,
.style-custom-styles-light .nav-collapse .dropdown-menu > .active > a:focus {
  color: #333333;
  background: #f8f7f2;
}

.style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a,
.style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a:hover,
.style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a:focus {
  background: #e9e6df;
}

.style-custom-styles-light .nav-collapse .dropdown-menu > li > a:hover,
.style-custom-styles-light .nav-collapse .dropdown-menu > li > a:focus {
  background: #e9e6df;
}

@media (max-width: 979px) {
  .style-custom-styles-light .border-simple .banner-overlay > div {
    background: #f8f7f2;
    border: 1px solid #e9e6df;
  }
}

@media (max-width: 767px) {
  .style-custom-styles-light #main-nav,
  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a:hover,
  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a:focus {
    background: #f8f7f2;
  }

  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a {
    background: #e9e6df;
  }

  .style-custom-styles-light .navbar .nav li.dropdown.open,
  .style-custom-styles-light .navbar .nav li.dropdown.open > .dropdown-toggle,
  .style-custom-styles-light .navbar .nav > li > a:hover,
  .style-custom-styles-light .navbar .nav > li > a:focus,
  .style-custom-styles-light .navbar .nav > .active > a,
  .style-custom-styles-light .navbar .nav > .active > a:hover,
  .style-custom-styles-light .navbar .nav > .active > a:focus,
  .style-custom-styles-light .navbar .nav > .active-trail > a,
  .style-custom-styles-light .navbar .nav > .active-trail > a:hover,
  .style-custom-styles-light .navbar .nav > .active-trail > a:focus,
  .style-custom-styles-light .navbar .nav li.active-trail.dropdown > .dropdown-toggle {
    color: #333333;
    background: #e9e6df;
  }

  .style-custom-styles-light .navbar .nav li.dropdown > a:hover .caret,
  .style-custom-styles-light .navbar .nav li.dropdown > a:focus .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-light .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-light .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .style-custom-styles-light .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .style-custom-styles-light .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
  }

  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a,
  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a:hover,
  .style-custom-styles-light .nav-collapse .dropdown-menu > li > a:focus,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active > a,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active > a:hover,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active > a:focus,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a:hover,
  .style-custom-styles-light .nav-collapse .dropdown-menu > .active-trail > a:focus {
    border-top: 1px solid #d6d6d6;
  }

  .style-custom-styles-light .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
}

/* DARK */

.style-custom-styles-dark .banner-overlay > div {
  background: #232220;
}

.style-custom-styles-dark #block-search-form input.search-query,
.style-custom-styles-dark #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown > a:hover .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown > a:focus .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown > a:hover .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown > a:focus .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
  border-top-color: #282724;
  border-bottom-color: #282724;
}

@media (max-width: 767px) {
  .style-custom-styles-dark .navbar .nav li.dropdown > a:hover .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown > a:focus .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-dark .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .style-custom-styles-dark .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #282724;
    border-bottom-color: #282724;
  }
}

/* PLAIN */

.style-custom-styles-plain .banner-overlay > div {
  background: #e9e9e9;
}

.style-custom-styles-plain .site-footer {
  border-top: 1px solid #e9e9e9;
}

.stanford-jumpstart-home-mayfield.style-custom-styles-plain #block-search-form input.search-query,
.stanford-jumpstart-home-mayfield.style-custom-styles-plain #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-plain #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-plain #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

@media (min-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown > a:hover .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown > a:focus .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-palm.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown > a:hover .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown > a:focus .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-plain #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-plain #block-search-form input.search-query:focus {
    background-color: #ffffff;
  }

  .style-custom-styles-plain .navbar .nav li.dropdown > a:hover .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown > a:focus .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-plain .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .style-custom-styles-plain .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
}

/* RICH */

.style-custom-styles-rich .banner-overlay > div {
  background: #d5d0c0;
}

.stanford-jumpstart-home-panama.style-custom-styles-rich #block-search-form input.search-query,
.stanford-jumpstart-home-panama.style-custom-styles-rich #block-search-form input.search-query:focus,
.stanford-jumpstart-home-serra.style-custom-styles-rich #block-search-form input.search-query,
.stanford-jumpstart-home-serra.style-custom-styles-rich #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-rich #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-rich #block-search-form input.search-query:focus {
  background-color: #fbfbf9;
}

.style-custom-styles-rich .navbar .nav li.dropdown > a:hover .caret,
.style-custom-styles-rich .navbar .nav li.dropdown > a:focus .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
  border-top-color: #fbfbf9;
  border-bottom-color: #fbfbf9;
}

@media (min-width: 767px) {
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown > a:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown > a:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #5e3032;
    border-bottom-color: #5e3032;
  }
}

@media (max-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-rich #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-rich #block-search-form input.search-query:focus {
    background-color: #f8f7f2;
  }

  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown > a:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown > a:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .stanford-jumpstart-home-mayfield.style-custom-styles-rich .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #d5d0c0;
    border-bottom-color: #d5d0c0;
  }
}

/* BRIGHT */

.style-custom-styles-bright .banner-overlay > div {
  background: #006374;
}

.style-custom-styles-bright .well.well-transparent,
.style-custom-styles-bright .well.well-transparent h2 {
  color: #333333;
}

.style-custom-styles-bright .well.well-transparent a {
  color: #007c92;
}

.style-custom-styles-bright .well.well-transparent a:hover,
.style-custom-styles-bright .well.well-transparent a:focus {
  color: #333333;
  text-decoration: none;
}

.stanford-jumpstart-home-panama.style-custom-styles-bright #block-search-form input.search-query,
.stanford-jumpstart-home-panama.style-custom-styles-bright #block-search-form input.search-query:focus,
.stanford-jumpstart-home-serra.style-custom-styles-bright #block-search-form input.search-query,
.stanford-jumpstart-home-serra.style-custom-styles-bright #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-bright #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-bright #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-bright #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-bright #block-search-form input.search-query:focus {
    background-color: #ffffff;
  }
}

/* HIGH CONTRAST */

.style-custom-styles-contrast .banner-overlay > div {
  background: #333333;
}

.style-custom-styles-contrast .descriptor {
  color: #333333;
}

.style-custom-styles-contrast .well .descriptor {
  color: #ffffff;
}

.style-custom-styles-contrast .well.well-transparent,
.style-custom-styles-contrast .well.well-transparent h2 {
  color: #333333;
}

.style-custom-styles-contrast .well.well-transparent a {
  color: #8c1515;
}

.style-custom-styles-contrast .well.well-transparent a:hover,
.style-custom-styles-contrast .well.well-transparent a:focus {
  color: #333333;
  text-decoration: none;
}

.stanford-jumpstart-home-panama.style-custom-styles-contrast #block-search-form input.search-query,
.stanford-jumpstart-home-panama.style-custom-styles-contrast #block-search-form input.search-query:focus,
.stanford-jumpstart-home-serra.style-custom-styles-contrast #block-search-form input.search-query,
.stanford-jumpstart-home-serra.style-custom-styles-contrast #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-contrast #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-contrast #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .style-custom-styles-contrast .navbar .nav li.dropdown > a:hover .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown > a:focus .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-contrast .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-contrast .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .style-custom-styles-contrast .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .style-custom-styles-contrast .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }

  .style-custom-styles-contrast .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
  }

  .stanford-jumpstart-home-palm.style-custom-styles-contrast #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-contrast #block-search-form input.search-query:focus {
    background-color: #ffffff;
  }
}

/* CARDINAL */

.style-custom-styles-cardinal .banner-overlay > div {
  background: #f2f1eb;
}

.stanford-jumpstart-home-panama.style-custom-styles-cardinal #block-search-form input.search-query,
.stanford-jumpstart-home-panama.style-custom-styles-cardinal #block-search-form input.search-query:focus,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal #block-search-form input.search-query,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-cardinal #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-cardinal #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .style-custom-styles-cardinal .navbar .nav li.dropdown > a:hover .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown > a:focus .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .style-custom-styles-cardinal .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .style-custom-styles-cardinal .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .style-custom-styles-cardinal .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .style-custom-styles-cardinal .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }

  .style-custom-styles-cardinal .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #333333;
    border-bottom-color: #333333;
  }

  .stanford-jumpstart-home-palm.style-custom-styles-cardinal #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-cardinal #block-search-form input.search-query:focus {
    background-color: #ffffff;
  }
}

/* VIVID */

.style-custom-styles-vivid .banner-overlay > div {
  background: #0f6c91;
}

.style-custom-styles-vivid .site-footer {
  border-top: 1px solid #e9e9e9;
}

.style-custom-styles-vivid .well.well-transparent,
.style-custom-styles-vivid .well.well-transparent h2 {
  color: #333333;
}

.style-custom-styles-vivid .well.well-transparent a {
  color: #00795d;
}

.style-custom-styles-vivid .well.well-transparent a:hover,
.style-custom-styles-vivid .well.well-transparent a:focus {
  color: #0f6c91;
  text-decoration: none;
}

.stanford-jumpstart-home-mayfield.style-custom-styles-vivid #block-search-form input.search-query,
.stanford-jumpstart-home-mayfield.style-custom-styles-vivid #block-search-form input.search-query:focus,
.stanford-jumpstart-home-lomita.style-custom-styles-vivid #block-search-form input.search-query,
.stanford-jumpstart-home-lomita.style-custom-styles-vivid #block-search-form input.search-query:focus {
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-vivid #block-search-form input.search-query,
  .stanford-jumpstart-home-palm.style-custom-styles-vivid #block-search-form input.search-query:focus {
    background-color: #ffffff;
  }
}

/* VIVID DESIGN THEME FIXES */

.style-custom-styles-vivid .nav-collapse .dropdown-menu > li > a:hover,
.style-custom-styles-vivid .nav-collapse .dropdown-menu > li > a:focus,
.style-custom-styles-vivid .nav-collapse .dropdown-menu > .active > a,
.style-custom-styles-vivid .nav-collapse .dropdown-menu > .active-trail > a {
  color: #ffffff;
  background: #00795d;
}

.stanford-jumpstart-home-palm.style-custom-styles-vivid .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .navbar .nav li.dropdown.open > .dropdown-toggle:focus {
  color: #ffffff;
}

.not-front.stanford-jumpstart-home-lomita.style-custom-styles-vivid .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.not-front.stanford-jumpstart-home-lomita.style-custom-styles-vivid .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
.not-front.stanford-jumpstart-home-lomita.style-custom-styles-vivid .navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

@media (min-width: 767px) {
  .stanford-jumpstart-home-palm.style-custom-styles-vivid .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .style-custom-styles-vivid .navbar .nav li.dropdown.open,
  .style-custom-styles-vivid .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
  .style-custom-styles-vivid .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
  .style-custom-styles-vivid .navbar .nav li.active-trail.dropdown > .dropdown-toggle,
  .style-custom-styles-vivid .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
  .style-custom-styles-vivid .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
    background: #00795d;
  }

  .style-custom-styles-vivid .nav-collapse .dropdown-menu a {
    color: white;
  }

  .style-custom-styles-vivid .nav-collapse .dropdown-menu > li > a:hover,
  .style-custom-styles-vivid .nav-collapse .dropdown-menu > li > a:focus,
  .style-custom-styles-vivid .nav-collapse .dropdown-menu > .active > a,
  .style-custom-styles-vivid .nav-collapse .dropdown-menu > .active-trail > a {
    color: #333333;
    background: white;
  }

  .style-custom-styles-vivid .navbar .btn-navbar {
    border: 1px solid #ffffff;
  }

  .stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a {
    color: #0f6c91;
    margin: 0;
    padding: .25em;
  }

  .stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:hover,
  .stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:focus,
  .stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a,
  .stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a.active-trail.dropdown-toggle,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:hover,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:focus,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a.active-trail.dropdown-toggle {
    color: #ffffff;
  }

  .stanford-jumpstart-home-lomita.style-custom-styles-vivid.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:hover,
  .stanford-jumpstart-home-lomita.style-custom-styles-vivid.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:focus {
    background: #00795d;
    margin: 0;
    padding: .25em;
  }
}

/** DESIGN LAYOUT OPTION SPECIFICS **/

/* PALM */

@media (max-width: 767px) {
  .stanford-jumpstart-home-palm .navbar .nav > li > a {
    margin-right: 0;
  }

  .stanford-jumpstart-home-palm #block-search-form input.search-query,
  .stanford-jumpstart-home-mayfield #block-search-form input.search-query {
    margin: 6px 6px 0 0;
  }
}

/* MAYFIELD */

.stanford-jumpstart-home-mayfield #block-search-form input.search-query,
.stanford-jumpstart-home-mayfield #block-search-form input.search-query:focus {
  background-color: #f8f7f2;
}

@media (max-width: 767px) {
  .stanford-jumpstart-home-mayfield .navbar-inner {
    margin-top: 0.5em;
    margin-bottom: .7em;
  }
}

/* LOMITA */

.stanford-jumpstart-home-lomita #block-search-form input.search-query,
.stanford-jumpstart-home-lomita #block-search-form input.search-query:focus {
  background-color: #f8f7f2;
}

/** SOE SPECIFIC **/

.style-custom-styles-rich #block-search-form input.search-query,
.style-custom-styles-rich #block-search-form input.search-query:focus,
.style-custom-styles-contrast #block-search-form input.search-query,
.style-custom-styles-contrast #block-search-form input.search-query:focus,
.style-custom-styles-cardinal #block-search-form input.search-query,
.style-custom-styles-cardinal #block-search-form input.search-query:focus {
  background-color: #fbfbf9;
}

@media (min-width: 767px) {
  .style-custom-styles-jse-dept .dropdown-menu {
    background: #ffffff;
  }
}

@media (max-width: 767px) {
  .style-custom-styles-jse-dept .navbar {
    margin-bottom: 1.2em;
  }

  .style-custom-styles-jse-dept .navbar .nav > li > a:hover,
  .style-custom-styles-jse-dept .navbar .nav > li > a:focus {
    border-bottom: none;
    padding-bottom: 6px;
  }
}

.highlight-block-right {
  float: right;
  width: 16em;
  padding: 0 0 0 1.5em;
  margin: 1em 0 1em 1.5em;
  border-left: solid 1px #CCC;
}

.highlight-block-left {
  float: left;
  width: 16em;
  padding: 0 1.5em 0 0;
  margin: 1em 1.5em 1em 0;
  border-right: solid 1px #CCC;
}
