$bright_clr-page-bkg: 		#ffffff;
$bright_clr-header-bkg: 	#53284f;
$bright_clr-footer-bkg: 	#53284f;

$bright_clr-well-bkg: 		#006374;
$bright_clr-line: 			#53284f;
$bright_clr-hr: 			#888888;
$bright_clr-img-border: 	#53284f;

$bright_clr-text: 			#333333;
$bright_clr-headers: 		#53284f;
$bright_clr-header1: 		#333333;
$bright_clr-header2: 		#53284f;

$bright_clr-link: 			#007c92;
$bright_clr-link-hvr: 		#333333;
$bright_clr-btn-text: 		#ffffff;
$bright_clr-btn-bkg: 		#53284f;
$bright_clr-btn-bkg-hvr: 	#333333;
$bright_clr-btn-text-hvr:	#ffffff;

$bright_clr-menu-text: 	#ffffff;
$bright_clr-menu-bkg:		transparent;
$bright_clr-menu-text-hvr: #333333;
$bright_clr-menu-bkg-hvr:	#ffffff;

$bright_clr-icons: 		#888888;