$dark_clr-page-bkg: 		#2e2d29;
$dark_clr-header-bkg: 	#282724;
$dark_clr-footer-bkg: 	#282724;

$dark_clr-well-bkg: 		#232220;
$dark_clr-line: 			#232220;
$dark_clr-hr: 			#232220;
$dark_clr-img-border: 	#232220;

$dark_clr-text: 			#fbfbf9;
$dark_clr-headers: 		#fbfbf9;
$dark_clr-header1: 		#fbfbf9;
$dark_clr-header2: 		#fbfbf9;

$dark_clr-link: 			#b3995d;
$dark_clr-link-hvr: 		#fbfbf9;
$dark_clr-btn-text: 		#fbfbf9;
$dark_clr-btn-bkg: 		#b3995d;
$dark_clr-btn-bkg-hvr: 	#232220;
$dark_clr-btn-text-hvr:	#fbfbf9;

$dark_clr-menu-text: 	#b3995d;
$dark_clr-menu-bkg:		transparent;
$dark_clr-menu-text-hvr: #fbfbf9;
$dark_clr-menu-bkg-hvr:	transparent;
$dark_clr-menu-link-border: #b3995d;

$dark_clr-icons: 		#94938e;