$plain_clr-page-bkg: 		#ffffff;
$plain_clr-header-bkg: 	#ffffff;
$plain_clr-footer-bkg: 	#ffffff;

$plain_clr-well-bkg: 		#e9e9e9;
$plain_clr-line: 			transparent;
$plain_clr-hr: 			#e9e9e9;
$plain_clr-img-border: 	#e9e9e9;

$plain_clr-text: 			#333333;
$plain_clr-headers: 		#333333;
$plain_clr-header1: 		#333333;
$plain_clr-header2: 		#333333;

$plain_clr-link: 			#8c1515;
$plain_clr-link-hvr: 		#333333;
$plain_clr-btn-text: 		#ffffff;
$plain_clr-btn-bkg: 		#8c1515;
$plain_clr-btn-bkg-hvr: 	#333333;
$plain_clr-btn-text-hvr:	#ffffff;

$plain_clr-menu-text: 	#686868;
$plain_clr-menu-bkg:		transparent;
$plain_clr-menu-text-hvr: #333333;
$plain_clr-menu-bkg-hvr:	transparent;
$plain_clr-menu-link-border: transparent;

$plain_clr-icons: 		#888888;