.header-bkg .site-main-menu {
    padding-top: 0px;
}
.site-name a,
.site-name a:hover,
.site-name a:active {
    color: $clr-page-bkg;
}
.site-login,
.site-login a {
    color: $clr-page-bkg;
}
.site-login a:hover,
.site-login a:active {
    text-decoration: underline;
}
#site-slogan {
    color: $clr-page-bkg;
}
.site-main-menu {
    border-bottom: 0;
    background: $clr-btn-bkg;
}
.descriptor-btn a,
a.descriptor-btn {
    color: $clr-page-bkg;
}
.well .descriptor {
    color: $clr-well-text;
}
.well .descriptor a {
    color: $clr-light-link;
}
@media (min-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }
}

/* menu styles -------- */
/* display items as blocks, uppercase */
.navbar .nav > li > a {
    padding: 0.5em 1em;
    margin-right: 0.25em;
    text-transform: uppercase;
}

/* menu links in active states */
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active-trail > a,
.navbar .nav > .active-trail > a:hover,
.navbar .nav > .active-trail > a:focus {
    color: $clr-text;
    @media (max-width: 767px) {
        background: $clr-page-bkg;
    }
}

/* for rounded corners theme option */
.roundedcorners .navbar .nav > li > a {
    @include border-radius(5px 5px 0 0);
}

/* dropdown menu container */
.dropdown-menu {
    background: $clr-page-bkg;
    right: 6px;
}

/* dropdown menu nested links - hover/active states */
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: $clr-page-bkg;
    background: $clr-header-bkg;
}

@media (max-width: 767px) {
    /* background color of nav in mobile */
    #main-nav {
        background: shade($clr-header-bkg, 20%);
    }

    /* dropdown hamburger button */
    .navbar .btn-navbar {
        border: 1px solid transparent;
        background: $clr-link;
    }
    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled] {
        background: $clr-header-bkg;
        border: 1px solid $clr-page-bkg;
    }

    /* rounded corners option */
    .roundedcorners .navbar .nav > li > a {
        @include border-radius(5px);
        margin-right: 0;
    }

    /* dropdown menu items when open and active */
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
    .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
        background: $clr-page-bkg;
    }

    /* background of open nested links */
    .navbar .nav li.dropdown.open {
        background: $clr-page-bkg;
    }
    
}


.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active {
    text-decoration: underline;
}
.well {
    color: $clr-page-bkg;
}
.well .caption {
    color: darken( $clr-page-bkg, 15%);
}
.well h2,
.well h3,
.well h4,
.well h2 a,
.well h2 a:hover,
.well h2 a:focus {
    color: $clr-page-bkg;
}
.well h2 a:hover,
.well h2 a:focus {
    text-decoration: underline;
}
.well a,
.well .menu li a {
    color: $clr-well-link;
}
.well a:hover,
.well a:focus,
.well .menu li a:hover,
.well .menu li a:focus,
.well .menu li a.active {
    color: $clr-page-bkg;
    text-decoration: underline;
}
.site-footer {
    color: $clr-page-bkg;
}
.site-footer .block h2 {
    color: $clr-page-bkg;
}
.site-footer a {
    color: $clr-well-link;
}
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
    color: $clr-page-bkg;
    text-decoration: underline;
}
hr {
    border-top: 1px solid $clr-hr;
}
th,
td {
    border-color: $clr-well-bkg;
}
th {
    background: $clr-well-bkg;
    color: $clr-page-bkg;
}
td.active {
    background: rgba($clr-well-bkg, 0.5);
}
th a {
    color: $clr-well-link;
}
th a:hover,
th a:focus {
    color: $clr-page-bkg;
    text-decoration: underline;
}
.banner-overlay {
    h2, p {
        color: $clr-page-bkg;
    }
    a.more-link,
    .more-link a {
        color: $clr-well-link;
    }
    a.more-link:hover,
    .more-link a:hover,
    a.more-link:focus,
    .more-link a:focus {
        color: $clr-page-bkg;
        text-decoration: underline;
    }
}
ul.pager li a {
    color: $clr-page-bkg;
    background: $clr-text;
}
.calendar-calendar th.days,
.calendar-calendar td.mini .mini-day-off,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:focus {
    color: $clr-page-bkg;
}
.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover,
.calendar-calendar tr td.has-events a:hover {
    background: $clr-page-bkg;
    color: $clr-text;
}
.calendar-calendar .mini td.has-events {
    background: $clr-link;
}
.calendar-calendar td.mini a {
    color: $clr-page-bkg;
}
.calendar-calendar table.mini td.empty {
    background: tint($clr-well-bkg, 10%);
}
.calendar-calendar .mini td,
.calendar-calendar table.mini td.empty {
    border-color: tint($clr-well-bkg, 10%);
}
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu .content > .menu > li.last,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-color: tint($clr-well-bkg, 20%);
    color: $clr-well-link;
}
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail,
.sidebar .block-menu .content > .menu > li > a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
    color: $clr-page-bkg;
}
.sidebar .block-menu .content > .menu > li > a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
    text-decoration: none;
}
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu li.expanded,
.sidebar .block-menu-block .content > .menu li.expanded {
    background: shade($clr-well-bkg, 15%);
}
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
    color: $clr-page-bkg;
}
#block-search-form input.search-query:focus {
    border-color: $clr-well-link;
    @include box-shadow($clr-well-link 0px 0px 5px 3px);
}

.well .bean-stanford-icon-block i {
    color: $clr-light-text;
}