/* General */

body {
    color: $clr-text;
    background: $clr-page-bkg;
}

.header {
    background: $clr-header-bkg;
}

.site-main-menu {
    background: $clr-header-bkg;
    border-bottom: 1px solid $clr-line;
}

.main {
    background: $clr-page-bkg;
}

.bodybg .main {
    background: transparent;
}

.site-footer {
    background: $clr-footer-bkg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $clr-headers;
}

h1 {
    color: $clr-header1;
}

h2,
h2 a,
h2 a:hover,
h2 a:focus {
    color: $clr-header2;
}

h2 a:hover,
h2 a:focus {
    text-decoration: underline;
}


/* Site Title and Slogan */

#header #logo {
    border-right: 1px solid $clr-header-text;
}

@media (max-width: 480px) {
    #header.organization #logo.logo-mobile #site-title-line4 a {
        border-bottom: 1px solid $clr-header-text;
    }
}

#site-name a,
#site-name a:hover,
#site-name a:focus,
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus,
#site-title-line3 a,
#site-title-line3 a:hover,
#site-title-line3 a:focus,
#site-title-line4 a,
#site-title-line4 a:hover,
#site-title-line4 a:focus,
#site-title-line5 a,
#site-title-line5 a:hover,
#site-title-line5 a:focus {
    color: $clr-header-text;
}

#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5 {
    color: $clr-header-text;
}

#site-slogan {
    color: $clr-header-text;
}


/* Content */

.summary {}

.descriptor {
    color: $clr-text;
}

.descriptor-btn a,
a.descriptor-btn {
    color: $clr-text;
    background-color: $clr-well-bkg;
}

.descriptor-btn a:hover,
a.descriptor-btn:hover,
.descriptor-btn a:focus,
a.descriptor-btn:focus {
    background-color: $clr-link-hvr;
    color: $clr-page-bkg;
    text-decoration: none;
}

.credits {}

.caption {
    color: $clr-icons;
}

.quote {}

a,
.normal-link a {
    color: $clr-link;
}

a:hover,
a:focus,
.normal-link a:hover,
.normal-link a:focus {
    color: $clr-link-hvr;
}

a.btn,
.btn a,
.site-footer a.btn,
.site-footer .btn a {
    background: $clr-btn-bkg;
    color: $clr-btn-text;

    &:hover,
    &:focus {
        color: $clr-btn-text;
    }
}

a.btn:hover,
a.btn:focus,
.btn a:hover,
.btn a:focus {
    background: $clr-btn-bkg-hvr;
    color: $clr-btn-text-hvr;
}

a.more-link,
.more-link a {
    color: $clr-link;
}

a.more-link:hover,
a.more-link:focus,
.more-link a:hover,
.more-link a:focus {
    color: $clr-link-hvr;
}

a.edit-link,
.edit-link a {}

a.edit-link:hover,
a.edit-link:focus,
.edit-link a:hover,
.edit-link a:focus {
    background: $clr-btn-bkg-hvr;
    color: $clr-btn-text-hvr;
    text-decoration: none;
}

th,
td {
    border: 1px solid $clr-well-bkg;
}

th {
    background: $clr-well-bkg;
}

td.active {
    background: rgba($clr-well-bkg, 0.5);
}

.main .border-simple-nowidth img,
.main .border-simple img {
    background-color: $clr-well-bkg;
}

.main .well .border-simple-nowidth img,
.main .well .border-simple img {
    background-color: tint($clr-well-bkg, 50%);
}

.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
    border-color: $clr-well-bkg;
}

.well {
    background: $clr-well-bkg;
}

.block.well h2 {}

.tile-link {
    margin-bottom: 1em;
    background: $clr-btn-bkg;
}

.tile-link h2 {
    margin: 0;
}

.tile-link h2 a {
    display: block;
    padding: 0.5em 0.75em;
    color: $clr-btn-text;
}

.tile-link h2 a:hover,
.tile-link h2 a:focus {
    color: $clr-btn-text;
    text-decoration: none;
}

.tile-link:hover,
.tile-link:focus {
    cursor: pointer;
    opacity: 0.8;
}

.content-body .tile-link .field.field-name-tile-display-image,
.content-body .tile-link .field.field-name-tile-display-title,
.content-body .tile-link .field.field-name-field-s-lp-item-image {
    margin-bottom: 0;
}

.banner-overlay > div {
    background: $clr-well-bkg;
    background: rgba($clr-well-bkg, 0.8);
}

.banner-overlay h2,
.banner-overlay p,
.banner-overlay-caption {
    color: $clr-text;
}


/* Start menu styles ---------- */


/* menu links by default */

.navbar .nav > li > a {
    color: $clr-menu-text;
    background: $clr-menu-bkg;
}


/* menu links in active states */

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active-trail > a,
.navbar .nav > .active-trail > a:hover,
.navbar .nav > .active-trail > a:focus {
    color: $clr-menu-text-hvr;
    background: $clr-menu-bkg-hvr;
    @media (max-width: 767px) {
        color: $clr-header-bkg;
        background: $clr-menu-text-hvr;
    }
}


/* dropdown arrow color by default */

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: $clr-menu-text;
    border-top-color: $clr-menu-text;
}


/* overriding Bootstrap dropdown arrow default state */

.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: $clr-menu-text-hvr;
    border-top-color: $clr-menu-text-hvr;
    @media (max-width: 767px) {
        border-bottom-color: $clr-header-bkg;
        border-top-color: $clr-header-bkg;
    }
}


/* dropdown menu items when open */

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: $clr-menu-text;
    background: $clr-menu-bkg;
    @media (max-width: 767px) {
        color: $clr-header-bkg;
        background: $clr-menu-text-hvr;
    }
    /* color of the dropdown arrow */
    .caret {
        border-bottom-color: $clr-menu-text;
        border-top-color: $clr-menu-text;
        @media (max-width: 767px) {
            border-bottom-color: $clr-header-bkg;
            border-top-color: $clr-header-bkg;
        }
    }
}


/* dropdown menu items when open and active */

.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
    color: $clr-menu-text-hvr;
    background: $clr-menu-bkg-hvr;
    @media (max-width: 767px) {
        color: $clr-header-bkg;
        background: $clr-menu-text-hvr;
    }
    /* color of the dropdown arrow on hover */
    .caret {
        border-bottom-color: $clr-menu-text-hvr;
        border-top-color: $clr-menu-text-hvr;
        @media (max-width: 767px) {
            border-bottom-color: $clr-header-bkg;
            border-top-color: $clr-header-bkg;
        }
    }
}


/* dropdown menu container */

.dropdown-menu {
    background: $clr-header-bkg;
    border: 1px solid $clr-line;
    right: 1em;
    padding: 0;
}


/* dropdown menu nested links - overriding Bootstrap */

.nav-collapse .dropdown-menu a {
    color: $clr-text;
    padding: 0.5em;
    @include border-radius(0);
    font-weight: 400;
    @media (max-width: 767px) {
        color: $clr-header-bkg;
    }
}


/* dropdown menu nested links - hover/active states */

.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: $clr-header-bkg;
    background: $clr-text;
    @media (max-width: 767px) {
        color: $clr-menu-text-hvr;
        background: $clr-header-bkg;
    }
}


/* mobile styles */

@media (max-width: 767px) {
    /* background color of nav in mobile */
    #main-nav {
        background: $clr-page-bkg;
    }
    /* dropdown containers that are open in mobile */
    .navbar .nav li.dropdown.open {
        color: $clr-header-bkg;
        background: $clr-menu-text-hvr;
        padding-bottom: 0.5em;
        margin-bottom: 0.25em;
    }
}


/* Sidebar menu styles ------- */

.sidebar .block-menu,
.sidebar .block-menu-block {
    background: $clr-well-bkg;
    padding: 1.3em;
    @include box-sizing(border-box);
}

.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
    font-size: 1.3em;
    font-weight: 600;
}

.sidebar .nav li a {
    color: $clr-well-link;
}

.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail {
    color: $clr-link-hvr;
    text-decoration: none;
}


/* top level sidebar links */

.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
    border-top: 1px solid tint($clr-text, 80%);
    padding: 0.5em;
}

.sidebar .block-menu .content > .menu > li.last,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-bottom: 1px solid tint($clr-text, 80%);
}

.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .content > .menu > li.expanded {
    background: $clr-header-bkg;
}


/* nested sidebar links */

.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.expanded {
    padding-bottom: 0.75em;
}

.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
    padding: 0.25em 0;
}

.sidebar .block-menu .content > .menu > li li a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover,
.sidebar .block-menu .content > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu .content > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail {
    text-decoration: underline;
}


/* Footer menu styles ----- */

.site-footer .menu li a,
.site-footer .menu li a.active-trail {
    color: $clr-footer-link;
    text-decoration: none;
}

.site-footer .menu li a:hover,
.site-footer .menu li a:focus {
    color: $clr-footer-link-hvr;
    text-decoration: underline;
}


/* ---------- end menu styles */

.bodybg .sidebar .region,
.bodybg .content-wrapper {
    background-color: $clr-page-bkg;
}

.bodybg .sidebar .region {
    opacity: 1;
}

.borders .sidebar .region,
.borders .content-wrapper,
.bodybg.borders .breadcrumb {
    border: 1px solid $clr-header-bkg;
}

.roundedcorners .well {
    border-radius: 5px;
}

.breadcrumb {
    background-color: $clr-page-bkg;
    border-radius: 0;
}

.bean-stanford-social-media-connect a {
    opacity: 0.75;
}

.site-footer {
    border-top: 1px solid $clr-line;
}


/* Header Image Background */

.header-bkg a.element-invisible.element-focusable {
    color: $clr-text;
    background: $clr-page-bkg;
}


/* Front Page Header Image Background */

.front.header-bkg.header-bkg-style-frontbleed .content-wrapper,
.front.header-bkg.header-bkg-style-frontbleed .sidebar .region {
    background: transparent;
}

.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover,
    .navbar .nav > .active-trail > a {
        color: $clr-header-bkg-menu-text;
        background: $clr-header-bkg-menu-bkg;
    }
}

.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
    background: $clr-header-bkg;
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main {
    color: $clr-light-text;
    /* text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main a {
    color: $clr-light-link;
    /* link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a.focus,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a:hover {
    color: $clr-link;
    /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h6 {
    color: $clr-light-text;
    /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu {
    color: $clr-well-text;
    /* well text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu a {
    color: $clr-well-link;
    /* well link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h6 {
    color: $clr-well-text;
    /* heading color */
}


/* --- dark text theme option --- */

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main {
    color: $clr-dark-text;
    /* text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main a {
    color: $clr-dark-link;
    /* link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a.focus,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a:hover {
    color: $clr-link;
    /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h6 {
    color: $clr-dark-text;
    /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu {
    color: $clr-well-text;
    /* well text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu a {
    color: $clr-well-link;
    /* well link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h6 {
    color: $clr-well-text;
    /* heading color */
}

.views-row-lines .views-row {
    border-color: $clr-hr;
}

ul.pager li a {
    background-color: $clr-well-bkg;
    color: $clr-text;
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li.pager-current {
    background-color: $clr-link;
    color: $clr-page-bkg;
}

.date-stacked {
    background: shade($clr-well-bkg, 50%);
    .date-month,
    .date-day {
        color: $clr-page-bkg;
    }
}


/* Mini-calendar navigtaion */

.calendar-calendar td.mini a,
.calendar-calendar td.mini .mini-day-off {
    color: $clr-text;
}

.calendar-calendar .mini td {
    border-color: $clr-page-bkg;
    background: $clr-well-bkg;
}

.calendar-calendar table.mini td.empty {
    border-color: $clr-page-bkg;
}

.calendar-calendar .mini td.has-events {
    background: shade($clr-well-bkg, 10%);
}

.calendar-calendar .mini td.today {
    background: $clr-link;
}

.calendar-calendar td.mini .mini-day-off {
    color: $clr-text;
}

.calendar-calendar td.today .mini-day-off {
    color: $clr-page-bkg;
}

.calendar-calendar tr td.has-events a:hover {
    background: $clr-link;
    color: $clr-page-bkg;
}

.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover {
    background: $clr-link;
    color: $clr-page-bkg;
}

.calendar-calendar table.mini td.empty {
    background: shade($clr-well-bkg, 10%);
}

.calendar-calendar th.days {
    background: $clr-well-bkg;
    color: $clr-text;
}

.view-stanford-events-calendar .date-nav-wrapper {
    background: $clr-well-bkg;
    h3 {
        color: $clr-well-text;
    }
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
    color: $clr-link;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
    color: $clr-link;
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
    background: $clr-page-bkg;
    color: shade($clr-well-bkg, 10%);
}

.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
    background-color: $clr-link;
    color: $clr-page-bkg;
}

.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
    background-color: $clr-link;
    color: $clr-page-bkg;
}


/* override colors on news nodes to match descriptor color */

.node-stanford-news-item .field-name-field-s-news-categories,
body.page-node .content .group_s_news_postedin h3,
body.page-node .content .group-s-news-postedin h3 {
    color: $clr-text;
}


/* Search box */

#block-search-form input.search-query {
    border: 2px solid $clr-well-bkg;
    color: $clr-text;
}

#block-search-form input.search-query:focus {
    color: black;
    @include box-shadow($clr-well-bkg 0px 0px 5px 3px);
}
