$clr-page-bkg: #ffffff;

$clr-header-text: #333333;
$clr-header-bkg: #ffffff;
$clr-header-bkg-menu-text: #f2efea;
$clr-header-bkg-menu-bkg: #ffffff;

$clr-footer-bkg: #ffffff;
$clr-footer-link: #00795d;
$clr-footer-link-hvr: #0f6c91;

$clr-well-text: #ffffff;
$clr-well-bkg: #0f6c91;
$clr-well-grn-bkg: #00795d;
$clr-well-gray-bkg: #f2f3f4;
$clr-well-link: #ffffff;
$clr-well-heading: #ffffff;

$clr-line: #cb7300;
$clr-hr: #d7d7d7;
$clr-img-border: #eca446;

$clr-text: #333333;
$clr-headers: #0f6c91;
$clr-header1: #333333;
$clr-header2: #0f6c91;

$clr-link: #00795d;
$clr-link-hvr: #0f6c91;

$clr-btn-text: #f2efea;
$clr-btn-bkg: #0f6c91;
$clr-btn-bkg-hvr: #00795d;
$clr-btn-text-hvr:#f2efea;

$clr-menu-text: #0f6c91;
$clr-menu-bkg: transparent;
$clr-menu-text-hvr: #00795d;
$clr-menu-bkg-hvr: transparent;

$clr-icons: #d7d7d7;

$clr-light-text: #ffffff;
$clr-light-link: #00795d;
$clr-dark-text: #000000;
$clr-dark-link:	#00795d;