.site-name a,
.site-name a:hover,
.site-name a:active {
    color: $clr-page-bkg;
}
.site-login,
.site-login a {
    color: $clr-page-bkg;
}
.site-login a:hover,
.site-login a:active {
    text-decoration: underline;
}
#site-slogan {
    color: $clr-page-bkg;
}
.site-main-menu {
    border-bottom: 0;
    background: $clr-page-bkg;
}
.descriptor-btn a,
a.descriptor-btn {
    color: $clr-page-bkg;
}
.descriptor {
    color: $clr-text;
}
@media (min-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }
}

/* menu styles -------- */
.navbar .nav > li > a,
.navbar .nav > .active > a,
.navbar .nav > .active-trail > a {
    padding-bottom: 4px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active-trail > a:hover,
.navbar .nav > .active-trail > a:focus {
    border-bottom: 2px solid $clr-menu-text-hvr;
    padding-bottom: 2px;
}
/* display items as blocks, uppercase */
.navbar .nav > li > a {
    color: $clr-menu-text;
}

/* for rounded corners theme option */
.roundedcorners .navbar .nav > li > a {
    @include border-radius(5px 5px 0 0);
}

/* dropdown menu container */
.dropdown-menu {
    background: $clr-page-bkg;
    right: 6px;
}

/* dropdown menu nested links - hover/active states */
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: $clr-page-bkg;
    background: $clr-menu-text-hvr;
}

@media (max-width: 767px) {
    .nav-collapse .dropdown-menu a {
      color: $clr-light-text;
    }
    /* background color of nav in mobile */
    #main-nav {
        background: tint($clr-hr, 20%);
    }

    /* dropdown hamburger button */
    .navbar .btn-navbar {
        border: 1px solid transparent;
        background: $clr-btn-bkg;
    }

    .navbar .btn-navbar:hover,
    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:active,
    .navbar .btn-navbar.active,
    .navbar .btn-navbar.disabled,
    .navbar .btn-navbar[disabled] {
        background: $clr-btn-bkg-hvr;
        border: 1px solid $clr-page-bkg;
    }

    /* rounded corners option */
    .roundedcorners .navbar .nav > li > a {
        @include border-radius(5px);
        margin-right: 0;
    }

    /* dropdown menu items when open and active */
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
    .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
    .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
    .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
        background: $clr-menu-text-hvr;
    }

    /* background of open nested links */
    .navbar .nav li.dropdown.open {
        background: $clr-menu-text-hvr;
    }

    .nav-collapse .dropdown-menu > li > a:hover,
    .nav-collapse .dropdown-menu > li > a:focus,
    .nav-collapse .dropdown-menu > .active > a,
    .nav-collapse .dropdown-menu > .active-trail > a {
        color: $clr-text;
        background: $clr-light-text;
    }

}


.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active {
    text-decoration: underline;
}
.well {
    color: $clr-page-bkg;
}
.well.well-green {
    background: $clr-well-grn-bkg;
}
.well.well-gray {
    color: $clr-text;
    background: $clr-well-gray-bkg;
}
.well .caption {
    color: darken( $clr-page-bkg, 15%);
}
.well h2,
.well h3,
.well h4,
.well h2 a,
.well h2 a:hover,
.well h2 a:focus {
    color: $clr-page-bkg;
}
.well h2 a:hover,
.well h2 a:focus {
    text-decoration: underline;
}
.well a,
.well .menu li a {
    color: $clr-well-link;
}
.well a:hover,
.well a:focus,
.well .menu li a:hover,
.well .menu li a:focus,
.well .menu li a.active {
    color: $clr-page-bkg;
    text-decoration: underline;
}
.well.well-green a,
.well.well-green .menu li a {
    color: $clr-light-text;
}
.well.well-green a:hover,
.well.well-green a:focus,
.well.well-green .menu li a:hover,
.well.well-green .menu li a:focus,
.well .well-green.menu li a.active {
    color: $clr-page-bkg;
}
.well.well-gray a,
.well.well-gray .menu li a {
    color: $clr-well-bkg;
}
.well.well-gray a:hover,
.well.well-gray a:focus,
.well.well-gray .menu li a:hover,
.well.well-gray .menu li a:focus,
.well .well-gray.menu li a.active {
    color: $clr-text;
}
.well.well-gray h2,
.well.well-gray h3,
.well.well-gray h4,
.well.well-gray h2 a,
.well.well-gray h2 a:hover,
.well.well-gray h2 a:focus {
    color: $clr-header-text;
}
.well .descriptor,
.well.well-green .descriptor {
    color: $clr-light-text;
}
.well.well-gray .descriptor {
    color: $clr-header-text;
}
/* Front Page Header Image Background */

.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > .active > a:focus,
    .navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover,
    .navbar .nav > .active-trail > a {
        color: $clr-menu-text-hvr;
        border-bottom: 2px solid $clr-menu-text-hvr;
        padding: 0.25em 0;
        margin: 0 0.5em;
    }
    .navbar .nav > li > a {
        padding: 0.25em 0;
        margin: 0 0.5em;
    }
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-green a {
    color: $clr-page-bkg;
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray {
    color: $clr-text;
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray a {
    color: $clr-well-bkg;
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray a:hover,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray a:focus {
    color: $clr-text;
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well.well-gray h6 {
    color: $clr-header-text;
}
.site-footer {
    color: $clr-text;
    border-top: none;
}
.site-footer .block h2 {
    color: $clr-headers;
}
.site-footer a {
    color: $clr-footer-link;
}
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
    color: $clr-footer-link-hvr;
    text-decoration: underline;
}
hr {
    border-top: 1px solid $clr-hr;
}
th,
td {
    border-color: $clr-well-bkg;
}
th {
    background: $clr-well-bkg;
    color: $clr-page-bkg;
}
td.active {
    background: rgba($clr-well-bkg, 0.5);
}
th a {
    color: $clr-well-link;
}
th a:hover,
th a:focus {
    color: $clr-page-bkg;
    text-decoration: underline;
}
.banner-overlay {
    h2, p {
        color: $clr-page-bkg;
    }
    a.more-link,
    .more-link a {
        color: $clr-well-link;
    }
    a.more-link:hover,
    .more-link a:hover,
    a.more-link:focus,
    .more-link a:focus {
        color: $clr-page-bkg;
        text-decoration: underline;
    }
}
ul.pager li a {
    color: $clr-page-bkg;
    background: $clr-btn-bkg;
}
.well.well-gray .date-stacked {
    background: $clr-well-bkg;
}
.well.well-green .date-stacked {
    background: $clr-well-gray-bkg;
    .date-month,
    .date-day {
        color: $clr-header-text;
    }
}
.calendar-calendar th.days,
.calendar-calendar td.mini .mini-day-off,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:focus {
    color: $clr-page-bkg;
}
.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover,
.calendar-calendar tr td.has-events a:hover {
    background: $clr-page-bkg;
    color: $clr-text;
}
.calendar-calendar .mini td.has-events {
    background: $clr-link;
}
.calendar-calendar td.mini a {
    color: $clr-page-bkg;
}
.calendar-calendar table.mini td.empty {
    background: $clr-menu-text-hvr;
}
.calendar-calendar .mini td,
.calendar-calendar table.mini td.empty {
    border-color: tint($clr-well-bkg, 10%);
}
.calendar-calendar .mini.today .month,
.calendar-calendar tr td.has-events a:hover {
    background-color: $clr-well-gray-bkg;
    color: $clr-text;
}
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu .content > .menu > li.last,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-color: tint($clr-well-bkg, 20%);
    color: $clr-light-text;
    background: $clr-link-hvr;
}
.sidebar .nav li a {
    color: $clr-text;
}

#sidebar-first.sidebar .nav li.expanded:not(.active-trail) {
    a {
        color: $clr-light-text;

        &:hover, &:focus {
            color: $clr-text;
        }
    }

    > ul {
        padding: 0;

        a {
            padding-left: 15px;
        }
    }
}
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail,
.sidebar .block-menu .content > .menu > li > a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
    color: $clr-text;
    background: $clr-well-gray-bkg;
}
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu li.expanded,
.sidebar .block-menu-block .content > .menu li.expanded {
    background: $clr-well-gray-bkg;
}
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
    color: $clr-page-bkg;
}
#block-search-form input.search-query:focus {
    border: 2px solid $clr-link-hvr;
    @include box-shadow($clr-link-hvr 0px 0px 1px 1px);
}

.well .bean-stanford-icon-block i {
    color: $clr-light-text;
}
.main .border-simple-nowidth img,
.main .border-simple img,
.main .well .border-simple-nowidth img,
.main .well .border-simple img {
    background-color: $clr-img-border;
}
.main .well.well-green .border-simple-nowidth img,
.main .well.well-green .border-simple img {
    background-color: shade($clr-well-bkg, 50%);
}
.main .well.well-gray .border-simple-nowidth img,
.main .well.well-gray .border-simple img {
    background-color: $clr-well-bkg;
}
.main .border-bottom img {
    border-bottom: none;
}
a,
.normal-link a {
    font-weight: 400;
}
h3 a {
    font-weight: 600;
}
