.form-item .description {
  white-space: normal;
}

#block-stanford-capx-mapper-in-use,
#block-stanford-capx-importer-in-use {
  background: #FFC;
  padding: 10px 20px;
  border: solid 1px #333;
}

.capx-menu-block {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

div.capx-menu-block > ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.capx-menu-block ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.capx-menu-block ul li a {
  display: inline-block;
  padding: 5px 10px;
  border: solid 1px #CCC;
  margin: 0;
}

.capx-menu-block ul li.active-trail a,
.capx-menu-block ul li a:hover {
  text-decoration: none;
  background: #0074BD;
  color: #FFF;
}
