/***** STANFORD VIDEO STYLES *****/


/*** STANFORD VIDEO FULL WIDTH/DEFAULT NODE DISPLAY ***/

.node-type-stanford-video iframe {
  width: 100%;
  height: 500px;
}

.node-type-stanford-video .postcard-quote {
  font-size: 1.8em;
  border-bottom: 2px solid #333333;
  width: auto;
  max-width: 65%;
  font-style: italic;
  margin: 1.4em auto;
  padding-bottom: 1em;
}

.node-type-stanford-video .postcard-quote .field-item {
  text-align: center;
  line-height: 1.4em;
}

.node-type-stanford-video .postcard-quote .field-item:before {
  content: open-quote;
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 5px;
}

.node-type-stanford-video .postcard-quote .field-item:after {
  content: close-quote;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 5px;
}

.page-node.node-type-stanford-video .content-body .postcard-content .field-name-field-s-video-date,
.page-node.node-type-stanford-video .content-body .postcard-content .field-name-field-s-video-speakers {
  margin-bottom: 2px;
}

.page-node.node-type-stanford-video .content-body .postcard-content .field-name-field-s-video-embed {
  margin-bottom: 1.5em;
}

.page-node.node-type-stanford-video .content-body .postcard-content .field-name-field-s-video-quote {
  margin-bottom: 0;
}

.node-type-stanford-video .postcard-speakers h3,
.node-type-stanford-video .postcard-category h3 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .04em;
  line-height: 1.5em;
  margin-right: 6px;
  margin-bottom: 2px;
  font-weight: normal;
  zoom: 1;
}

.node-type-stanford-video .field-name-field-s-video-speakers,
.node-type-stanford-video .field-name-field-s-video-categories {
  display: inline-block;
}

.node-type-stanford-video #main-content h1:before {
  font-family: FontAwesome;
  content: "\f03d";
  color: #333333;
  vertical-align: middle;
  padding-right: 6px;
}

@media (max-width: 767px) {
  .node-type-stanford-video .postcard-quote {
    max-width: 100%;
  }
}


/*** STANFORD VIDEO HALF WIDTH NODE DISPLAY ***/

.node-type-stanford-video .view-mode-stanford_video_half_width .postcard-quote {
  border-bottom: none;
  max-width: 100%;
  margin: .25em 0 .5em 0;
  padding-bottom: 0;
}

.node-type-stanford-video .view-mode-stanford_video_half_width .postcard-quote .field-item {
  text-align: left;
}

.node-type-stanford-video .postcard-video {
  margin-bottom: 1em;
  margin-left: 1em;
  width: auto;
  float: right;
  max-width: 50%;
}

.node-type-stanford-video .postcard-video .field {
  margin-bottom: 0px;
}

.node-type-stanford-video .postcard-video iframe {
  width: 640px;
  height: 360px;
}

@media (max-width: 480px) {
  .node-type-stanford-video .postcard-video {
    float: none;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
  }
}


/*** STANFORD VIDEO VIEWS ***/

.stanford-video-grid-two .views-row {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 20px;
  width: 48%;
  vertical-align: top;
}

.stanford-video-grid-two .views-row-2,
.stanford-video-grid-two .views-row-4 {
  margin-right: 0;
}

.view-display-id-attachment .views-row-1 {
  padding-top: 0;
}

.view-display-id-page_12_grid_page .field-name-field-s-image-caption,
.view-display-id-page_12_grid_page .field-name-field-s-image-credits {
  display: none;
}

.main .view-display-id-page_12_grid_page .border-simple-nowidth img,
.main .view-display-id-block_1_featured_video .border-simple-nowidth img,
.main .view-display-id-block_1_featured_video .border-simple-nowidth img {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1em;
  padding: 0;
}

.stanford-video-grid-four .views-row {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 1.7%;
  margin-bottom: 20px;
  width: 23.3%;
  vertical-align: top;
}

.stanford-video-grid-four .grouping .views-row:nth-of-type(4n) {
  margin-right: 0;
}

.stanford-video-grid-four.view-stanford-video .views-row img {
  margin-bottom: .5em;
}

.view-stanford-video .views-row h3:before {
  font-family: FontAwesome;
  content: "\f03d";
  color: #333333;
  vertical-align: middle;
  padding-right: 6px;
}

@media (max-width: 979px) {
  .stanford-video-grid-four .views-row {
    width: 48.3%;
  }
  .stanford-video-grid-four .views-row-even {
    margin-right: 0px;
  }
}

@media (max-width: 520px) {
  .stanford-video-grid-four .views-row {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .stanford-video-grid-two .views-row {
    width: 100%;
  }
}

/*** STANFORD VIDEO DESIGN OPTIONS ***/

/* DARK */

.style-custom-styles-dark.node-type-stanford-video #main-content h1:before,
.style-custom-styles-dark .view-stanford-video .views-row h3:before {
  color: #fbfbf9;
}

.style-custom-styles-dark.node-type-stanford-video .postcard-quote {
  color: #fbfbf9;
  border-bottom-color: #fbfbf9;
}

/* RICH */

.style-custom-styles-rich.node-type-stanford-video #main-content h1:before,
.style-custom-styles-rich .view-stanford-video .views-row h3:before {
  color: #3f3c30;
}

.style-custom-styles-rich.node-type-stanford-video .postcard-quote {
  color: #3f3c30;
  border-bottom-color: #3f3c30;
}
