
.field-name-field-s-smc-color {
  option {
    color: #fff;

    &[value*="color-facebook"] {
      background: #39599f;
    }

    &[value*="color-twitter"] {
      background: #45b0e3;
    }

    &[value*="color-google"] {
      background: #2369a6;
    }

    &[value*="color-linkedin"] {
      background: #82c6da;
    }

    &[value*="color-instagram"] {
      background: #2e5e86;
    }

    &[value*="color-youtube"] {
      background: #de4444;
    }

    &[value*="color-vimeo"] {
      background: #90d7ff;
    }

    &[value*="color-tumblr"] {
      background: #34414c;
    }

    &[value*="color-pinterest"] {
      background: #cb2027;
    }

    &[value*="color-red"] {
      background: #8c1515;
    }

    &[value*="color-black"] {
      background: #000000;
    }

    &[value*="color-white"] {
      border: 1px solid #fff;
      color: #000;
    }

    &[value*="color-cool-gray"] {
      background: #4d4f53;
    }

    &[value*="color-dark-taupe"] {
      background: #928b81;
    }

    &[value*="color-light-taupe"] {
      background: #d5d0c0;
      color: #000;
    }

    &[value*="color-deep-blue"] {
      background: #006374;
    }

    &[value*="color-deep-purple"] {
      background: #53284f;
    }

    &[value*="color-bright-green"] {
      background: #009b76;
    }

    &[value*="color-bright-blue"] {
      background: #0f6c91;
    }

    &[value*="color-bright-yellow"] {
      background: #eaab00;
    }

    &[value*="color-bright-orange"] {
      background: #e98300;
    }
  }
}
