.bean-stanford-social-media-connect .field-type-link-field a {
  color: transparent;
  display: inline-block;
  font-size: 0;
  height: 48px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 48px;
  opacity: 0.9;
  filter: alpha(opacity=40);
}
.bean-stanford-social-media-connect .field-type-link-field a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.bean-stanford-social-media-connect .field-name-field-s-smc-links .field-item {
  display: inline-block;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon a {
  border: 1px solid #808080;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 25px;
  font-size: 25px;
  display: table;
  color: #ffffff;
  margin: 0 4px;
  opacity: 1;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon a:hover, .bean-stanford-social-media-connect .field-type-fontawesome-icon a:focus {
  opacity: .7;
  text-decoration: none;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon i {
  display: table-cell;
  vertical-align: middle;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-flickr a, .bean-stanford-social-media-connect .field-type-fontawesome-icon.color-white a {
  color: #000;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-facebook a {
  background: #3b5998;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-twitter a {
  background: #1da1f2;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-google a {
  background: #03a9f4;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-linkedin a {
  background: #0084bf;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-instagram a {
  background: #3897f0;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-youtube a {
  background: #cc181e;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-vimeo a {
  background: #00adef;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-tumblr a {
  background: #36465d;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-pinterest a {
  background: #bd081c;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-red a {
  background: #8c1515;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-black a {
  background: #000000;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-cool-gray a {
  background: #4d4f53;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-dark-taupe a {
  background: #928b81;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-light-taupe a {
  background: #d5d0c0;
  color: #000;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-deep-blue a {
  background: #006374;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-deep-purple a {
  background: #53284f;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-bright-green a {
  background: #009b76;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-bright-blue a {
  background: #0f6c91;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-bright-yellow a {
  background: #eaab00;
}
.bean-stanford-social-media-connect .field-type-fontawesome-icon.color-bright-orange a {
  background: #e98300;
}
