.field-name-field-s-smc-color option {
  color: #fff;
}
.field-name-field-s-smc-color option[value*="color-facebook"] {
  background: #39599f;
}
.field-name-field-s-smc-color option[value*="color-twitter"] {
  background: #45b0e3;
}
.field-name-field-s-smc-color option[value*="color-google"] {
  background: #2369a6;
}
.field-name-field-s-smc-color option[value*="color-linkedin"] {
  background: #82c6da;
}
.field-name-field-s-smc-color option[value*="color-instagram"] {
  background: #2e5e86;
}
.field-name-field-s-smc-color option[value*="color-youtube"] {
  background: #de4444;
}
.field-name-field-s-smc-color option[value*="color-vimeo"] {
  background: #90d7ff;
}
.field-name-field-s-smc-color option[value*="color-tumblr"] {
  background: #34414c;
}
.field-name-field-s-smc-color option[value*="color-pinterest"] {
  background: #cb2027;
}
.field-name-field-s-smc-color option[value*="color-flickr"] {
  border: 1px solid #808080;
  color: #000;
}
.field-name-field-s-smc-color option[value*="color-red"] {
  background: #8c1515;
}
.field-name-field-s-smc-color option[value*="color-black"] {
  background: #000000;
}
.field-name-field-s-smc-color option[value*="color-white"] {
  border: 1px solid #fff;
  color: #000;
}
.field-name-field-s-smc-color option[value*="color-cool-gray"] {
  background: #4d4f53;
}
.field-name-field-s-smc-color option[value*="color-dark-taupe"] {
  background: #928b81;
}
.field-name-field-s-smc-color option[value*="color-light-taupe"] {
  background: #d5d0c0;
}
.field-name-field-s-smc-color option[value*="color-deep-blue"] {
  background: #006374;
}
.field-name-field-s-smc-color option[value*="color-deep-purple"] {
  background: #53284f;
}
.field-name-field-s-smc-color option[value*="color-bright-green"] {
  background: #009b76;
}
.field-name-field-s-smc-color option[value*="color-bright-blue"] {
  background: #0f6c91;
}
.field-name-field-s-smc-color option[value*="color-bright-yellow"] {
  background: #eaab00;
}
.field-name-field-s-smc-color option[value*="color-bright-orange"] {
  background: #e98300;
}
