.node-type-stanford-news-item {
  .group_descriptor_info,
  .node-type-stanford-news-item .group-descriptor-info {
    margin-bottom: 1em;
  }

  .field-name-field-s-news-postedin {
    margin: 0;
  }

  .group-descriptor-info {
    display: inline-block;
    zoom: 1;
  }

  .field-name-field-s-news-categories {
    display: inline-block;
    zoom: 1;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 12px;
    line-height: 1.5em;
    color: #585754;
    font-weight: normal;
  }

  @media screen and (max-width: 410px) {
    .group_s_postcard_image,
    .group-s-postcard-image {
      max-width: 100%;
      float: none;
    }
  }
}

.group-s-news-link_style {
  margin-bottom: 1em;
}

body.page-node .content-body {
  .field-name-field-s-news-date,
  .field-name-field-s-news-source {
    margin-bottom: 0;
    line-height: 1em;
  }

  .group_s_news_postedin,
  .group-s-news-postedin {
    margin: 0;
    line-height: 1em;
    padding: 0;
  }

  .group_s_news_postedin h3,
  .group-s-news-postedin h3 {
    margin-bottom: 4px;
    margin-right: 6px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-size: 12px;
    line-height: 1.5em;
    color: #585754;
    font-weight: normal;

    display: inline-block;
    zoom: 1;
  }
}

.content .field-name-field-s-news-source {
  margin-bottom: 0;
  flex-wrap: nowrap;
}
