/* Styles for the Stanford Publication Feature */

/* Field spacing */

.view-stanford-publications-reference .views-field-field-s-image-info {
	margin-bottom: 10px;
}

.view-stanford-publications-reference .views-field-title {
	margin-bottom: 5px;
}

.view-stanford-publications-reference .views-field-field-s-pub-author {
	margin-bottom: 3px;
}