$bright-clr-page-bkg: #ffffff;
$bright-clr-header-bkg: #53284f;
$bright-clr-footer-bkg: #53284f;

$bright-clr-well-bkg: #006374;
$bright-clr-line: #53284f;
$bright-clr-hr: #888888;
$bright-clr-img-border: #53284f;

$bright-clr-text: #333333;
$bright-clr-headers: #53284f;
$bright-clr-header1: #333333;
$bright-clr-header2: #53284f;

$bright-clr-link: #007c92;
$bright-clr-link-hvr: #333333;
$bright-clr-btn-text: #ffffff;
$bright-clr-btn-bkg: #53284f;
$bright-clr-btn-bkg-hvr: #333333;
$bright-clr-btn-text-hvr: #ffffff;

$bright-clr-menu-text: #ffffff;
$bright-clr-menu-bkg: transparent;
$bright-clr-menu-text-hvr: #333333;
$bright-clr-menu-bkg-hvr: #ffffff;

$bright-clr-icons: #888888;
