$cardinal-clr-page-bkg: #ffffff;
$cardinal-clr-header-bkg: #8c1515;
$cardinal-clr-footer-bkg: #8c1515;

$cardinal-clr-well-bkg: #f2f1eb;
$cardinal-clr-line: #8c1515;
$cardinal-clr-hr: #f2f1eb;
$cardinal-clr-img-border: #c4bfa9;

$cardinal-clr-text: #333333;
$cardinal-clr-headers: #8c1515;
$cardinal-clr-header1: #333333;
$cardinal-clr-header2: #8c1515;

$cardinal-clr-link: #8c1515;
$cardinal-clr-link-hvr: #333333;
$cardinal-clr-btn-text: #fbfbf9;
$cardinal-clr-btn-text-hvr: #ffffff;
$cardinal-clr-btn-bkg: #8c1515;
$cardinal-clr-btn-bkg-hvr: #333333;

$cardinal-clr-menu-text: #ffffff;
$cardinal-clr-menu-bkg: transparent;
$cardinal-clr-menu-text-hvr: #333333;
$cardinal-clr-menu-bkg-hvr: #ffffff;

$cardinal-clr-icons: #c4bfa9;
