$dark-clr-page-bkg: #2e2d29;
$dark-clr-header-bkg: #282724;
$dark-clr-footer-bkg: #282724;

$dark-clr-well-bkg: #232220;
$dark-clr-line: #232220;
$dark-clr-hr: #232220;
$dark-clr-img-border: #232220;

$dark-clr-text: #fbfbf9;
$dark-clr-headers: #fbfbf9;
$dark-clr-header1: #fbfbf9;
$dark-clr-header2: #fbfbf9;

$dark-clr-link: #b3995d;
$dark-clr-link-hvr: #fbfbf9;
$dark-clr-btn-text: #fbfbf9;
$dark-clr-btn-bkg: #b3995d;
$dark-clr-btn-bkg-hvr: #232220;
$dark-clr-btn-text-hvr: #fbfbf9;

$dark-clr-menu-text: #b3995d;
$dark-clr-menu-bkg: transparent;
$dark-clr-menu-text-hvr: #fbfbf9;
$dark-clr-menu-bkg-hvr: transparent;
$dark-clr-menu-link-border: #b3995d;

$dark-clr-icons: #94938e;
