$light-clr-page-bkg: #fbfbf9;
$light-clr-header-bkg: #f8f7f2;
$light-clr-footer-bkg: #f8f7f2;

$light-clr-well-bkg: #e9e6df;
$light-clr-line: #e9e6df;
$light-clr-hr: #e9e6df;
$light-clr-img-border: #e9e6df;

$light-clr-text: #333333;
$light-clr-headers: #333333;
$light-clr-header1: #333333;
$light-clr-header2: #333333;

$light-clr-link: #8c1515;
$light-clr-link-hvr: #333333;
$light-clr-btn-text: #fbfbf9;
$light-clr-btn-bkg: #8c1515;
$light-clr-btn-bkg-hvr: #333333;
$light-clr-btn-text-hvr: #fbfbf9;

$light-clr-menu-text: #8c1515;
$light-clr-menu-bkg: transparent;
$light-clr-menu-text-hvr: #333333;
$light-clr-menu-bkg-hvr: transparent;
$light-clr-menu-link-border: #e9e6df;

$light-clr-icons: #928b81;
