$plain-clr-page-bkg: #ffffff;
$plain-clr-header-bkg: #ffffff;
$plain-clr-footer-bkg: #ffffff;

$plain-clr-well-bkg: #e9e9e9;
$plain-clr-line: transparent;
$plain-clr-hr: #e9e9e9;
$plain-clr-img-border: #e9e9e9;

$plain-clr-text: #333333;
$plain-clr-headers: #333333;
$plain-clr-header1: #333333;
$plain-clr-header2: #333333;

$plain-clr-link: #8c1515;
$plain-clr-link-hvr: #333333;
$plain-clr-btn-text: #ffffff;
$plain-clr-btn-bkg: #8c1515;
$plain-clr-btn-bkg-hvr: #333333;
$plain-clr-btn-text-hvr: #ffffff;

$plain-clr-menu-text: #686868;
$plain-clr-menu-bkg: transparent;
$plain-clr-menu-text-hvr: #333333;
$plain-clr-menu-bkg-hvr: transparent;
$plain-clr-menu-link-border: transparent;

$plain-clr-icons: #888888;
