$vivid-clr-page-bkg: #ffffff;
$vivid-clr-header-bkg: #ffffff;
$vivid-clr-footer-bkg: #ffffff;

$vivid-clr-well-bkg: #0f6c91;
$clr-well-border: #cb7300;
$vivid-clr-well-grn-bkg: #00795d;
$clr-well-grn-border: #eaab00;
$vivid-clr-well-bge-bkg: #dbceaa;
$clr-well-bge-border: #0f6c91;
$vivid-clr-line: #b30000;
$vivid-clr-hr: #a2a2a2;
$vivid-clr-img-border: #b30000;

$vivid-clr-text: #333333;
$vivid-clr-headers: #0f6c91;
$vivid-clr-header1: #333333;
$vivid-clr-header2: #0f6c91;

$vivid-clr-link: #00795d;
$vivid-clr-link-hvr: #0f6c91;
$vivid-clr-btn-text: #f2efea;
$vivid-clr-btn-bkg: #0f6c91;
$vivid-clr-btn-bkg-hvr: #0f6c91;
$vivid-clr-btn-text-hvr: #f2efea;

$vivid-clr-menu-text: #0f6c91;
$vivid-clr-menu-bkg: transparent;
$vivid-clr-menu-text-hvr: #0f6c91;
$vivid-clr-menu-bkg-hvr: transparent;
$vivid-clr-menu-link-border: #ffffff;

$vivid-clr-icons: #a2a2a2;
