.field-name-field-s-icon-ext-columns {
  text-align: center;
  line-height: 1em;
}
.field-name-field-s-icon-ext-columns .more-link a {
  display: block;
  text-align: center;
}

.field-name-field-s-icon-ext-columns-title {
  margin: 20px 0;
}

.field-name-field-s-icon-ext-columns-links a {
  margin-bottom: 10px;
}

.field-name-field-s-icon-ext-columns-caption {
  margin-bottom: 20px;
}

.field-name-field-s-icon-ext-columns-caption {
  line-height: 1.2em;
}

.field-name-field-s-icon-ext-columns-fa-icon,
.field-name-field-s-icon-ext-columns-up-icon,
.field-name-field-s-icon-ext-columns-text {
  font-size: 80px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  position: relative;
  margin: 0 auto;
  display: table;
}
.field-name-field-s-icon-ext-columns-fa-icon a,
.field-name-field-s-icon-ext-columns-up-icon a,
.field-name-field-s-icon-ext-columns-text a {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  left: 0;
  top: 0;
  display: table;
  line-height: 200px;
}
.field-name-field-s-icon-ext-columns-fa-icon a > *,
.field-name-field-s-icon-ext-columns-up-icon a > *,
.field-name-field-s-icon-ext-columns-text a > * {
  display: table-cell;
  vertical-align: middle;
}
.field-name-field-s-icon-ext-columns-fa-icon > div,
.field-name-field-s-icon-ext-columns-up-icon > div,
.field-name-field-s-icon-ext-columns-text > div {
  display: table-cell;
  vertical-align: middle;
}
.field-name-field-s-icon-ext-columns-fa-icon i,
.field-name-field-s-icon-ext-columns-up-icon i,
.field-name-field-s-icon-ext-columns-text i {
  font-size: 100px;
}
.field-name-field-s-icon-ext-columns-fa-icon img,
.field-name-field-s-icon-ext-columns-up-icon img,
.field-name-field-s-icon-ext-columns-text img {
  max-height: 140px;
  max-width: 140px;
}
.color-icon-ffffff .field-name-field-s-icon-ext-columns-fa-icon, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-up-icon, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-text {
  color: #fff;
}
.color-icon-ffffff .field-name-field-s-icon-ext-columns-fa-icon a, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-up-icon a, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-text a {
  color: #fff;
}
.color-icon-ffffff .field-name-field-s-icon-ext-columns-fa-icon a:hover, .color-icon-ffffff .field-name-field-s-icon-ext-columns-fa-icon a:focus, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-up-icon a:hover, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-up-icon a:focus, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-text a:hover, .color-icon-ffffff
.field-name-field-s-icon-ext-columns-text a:focus {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.color-icon-000000 .field-name-field-s-icon-ext-columns-fa-icon, .color-icon-000000
.field-name-field-s-icon-ext-columns-up-icon, .color-icon-000000
.field-name-field-s-icon-ext-columns-text {
  color: #000;
}
.color-icon-000000 .field-name-field-s-icon-ext-columns-fa-icon a, .color-icon-000000
.field-name-field-s-icon-ext-columns-up-icon a, .color-icon-000000
.field-name-field-s-icon-ext-columns-text a {
  color: #000;
}
.color-icon-000000 .field-name-field-s-icon-ext-columns-fa-icon a:hover, .color-icon-000000 .field-name-field-s-icon-ext-columns-fa-icon a:focus, .color-icon-000000
.field-name-field-s-icon-ext-columns-up-icon a:hover, .color-icon-000000
.field-name-field-s-icon-ext-columns-up-icon a:focus, .color-icon-000000
.field-name-field-s-icon-ext-columns-text a:hover, .color-icon-000000
.field-name-field-s-icon-ext-columns-text a:focus {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.background-icon-8c1515 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-8c1515
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-8c1515
.field-name-field-s-icon-ext-columns-text {
  background-color: #8c1515;
}
.background-icon-000000 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-000000
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-000000
.field-name-field-s-icon-ext-columns-text {
  background-color: #000;
}
.background-icon-ffffff .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-ffffff
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-ffffff
.field-name-field-s-icon-ext-columns-text {
  background-color: #fff;
}
.background-icon-4d4f53 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-4d4f53
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-4d4f53
.field-name-field-s-icon-ext-columns-text {
  background-color: #4d4f53;
}
.background-icon-928b81 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-928b81
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-928b81
.field-name-field-s-icon-ext-columns-text {
  background-color: #928b81;
}
.background-icon-d5d0c0 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-d5d0c0
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-d5d0c0
.field-name-field-s-icon-ext-columns-text {
  background-color: #d5d0c0;
}
.background-icon-006374 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-006374
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-006374
.field-name-field-s-icon-ext-columns-text {
  background-color: #006374;
}
.background-icon-53284f .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-53284f
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-53284f
.field-name-field-s-icon-ext-columns-text {
  background-color: #53284f;
}
.background-icon-009b76 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-009b76
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-009b76
.field-name-field-s-icon-ext-columns-text {
  background-color: #009b76;
}
.background-icon-0f6c91 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-0f6c91
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-0f6c91
.field-name-field-s-icon-ext-columns-text {
  background-color: #0f6c91;
}
.background-icon-eaab00 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-eaab00
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-eaab00
.field-name-field-s-icon-ext-columns-text {
  background-color: #eaab00;
}
.background-icon-e98300 .field-name-field-s-icon-ext-columns-fa-icon, .background-icon-e98300
.field-name-field-s-icon-ext-columns-up-icon, .background-icon-e98300
.field-name-field-s-icon-ext-columns-text {
  background-color: #e98300;
}

.partial-offset:last-child > [class*="span"] {
  padding-left: 8.5%;
}
