$clr-page-bkg: 		#ffffff;
$clr-header-bkg: 	#53284f;
$clr-footer-bkg: 	#53284f;

$clr-well-bkg: 		#007c92;
$clr-line: 			#53284f;
$clr-hr: 			#888888;
$clr-img-border: 	#53284f;

$clr-text: 			#333333;
$clr-headers: 		#53284f;
$clr-header1: 		#333333;
$clr-header2: 		#53284f;

$clr-link: 			#007c92;
$clr-link-hvr: 		#333333;
$clr-btn-text: 		#ffffff;
$clr-btn-bkg: 		#53284f;
$clr-btn-bkg-hvr: 	#333333;
$clr-btn-text-hvr:	#ffffff;

$clr-menu-text: 	#ffffff;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #333333;
$clr-menu-bkg-hvr:	#ffffff;

$clr-icons: 		#888888;