$clr-page-bkg: 		#ffffff;
$clr-header-bkg: 	#8c1515;
$clr-footer-bkg: 	#8c1515;

$clr-well-bkg: 		#f2f1eb;
$clr-line: 			#8c1515;
$clr-hr: 			#f2f1eb;
$clr-img-border: 	#c4bfa9;

$clr-text: 			#333333;
$clr-headers: 		#8c1515;
$clr-header1: 		#333333;
$clr-header2: 		#8c1515;

$clr-link: 			#8c1515;
$clr-link-hvr: 		#333333;
$clr-btn-text: 		#fbfbf9;
$clr-btn-text-hvr:	#ffffff;
$clr-btn-bkg: 		#8c1515;
$clr-btn-bkg-hvr: 	#333333;

$clr-menu-text: 	#ffffff;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #333333;
$clr-menu-bkg-hvr:	#ffffff;

$clr-icons: 		#c4bfa9;