/* Stanford Framework Specific */
#header #logo {
    border-right: 1px solid $clr-header-text;
}

#site-name a, 
#site-name a:hover, 
#site-name a, 
#site-name a:focus, 
#site-title-first-line a, 
#site-title-first-line a:hover, 
#site-title-first-line a:focus, 
#site-title-second-line a, 
#site-title-second-line a:hover, 
#site-title-second-line a:focus {
    color: $clr-header-text;
}

/* General */
.header-bkg a.element-invisible.element-focusable {
    color: $clr-text;
    background: $clr-page-bkg;
}
.header-bkg .site-main-menu {
    padding-top: 0px;
}
.site-name a, 
.site-name a:hover, 
.site-name a:active {
    color: $clr-page-bkg;
}
.site-login, 
.site-login a {
    color: $clr-page-bkg;
}
.site-login a:hover, 
.site-login a:active {
    text-decoration: underline;
}
#site-slogan {
    color: $clr-page-bkg;
}
.site-main-menu {
    border-bottom: 0;
    background: $clr-btn-bkg;
}
@media (min-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }
}
.navbar .nav > li > a {
    padding: 0.5em 1em;
    margin-right: 0.25em;
    text-transform: uppercase;
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus, 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
    color: $clr-text;
}
.roundedcorners .navbar .nav > li > a {
    border-radius: 5px 5px 0 0;
}
.dropdown-menu {
    background: $clr-page-bkg;
    right: 6px;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: $clr-page-bkg;
    background: $clr-header-bkg;
}
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret, 
.navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret {
    border-bottom-color: $clr-menu-text-hvr;
    border-top-color: $clr-menu-text-hvr;
}
@media (max-width: 767px) {
    .navbar .btn-navbar {
        background: $clr-btn-bkg;
        border: 1px solid $clr-page-bkg;
    }
    .navbar .btn-navbar:hover, 
    .navbar .btn-navbar:focus, 
    .navbar .btn-navbar:active, 
    .navbar .btn-navbar.active, 
    .navbar .btn-navbar.disabled, 
    .navbar .btn-navbar[disabled] {
        background: $clr-btn-bkg-hvr;
        border: 1px solid $clr-page-bkg;
    }
    .roundedcorners .navbar .nav > li > a {
        border-radius: 5px;
        margin-right: 0;
    }
    .navbar .nav > li > a {
        color: $clr-text;
    }
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > .active-trail > a {
        color: $clr-page-bkg;
        background: $clr-header-bkg;
    }
    .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle,
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
        color: $clr-page-bkg;
        background: $clr-header-bkg;
    }
    .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret, .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
    .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret,
    .navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret, .navbar .nav li.active-trail.dropdown .caret {
        border-bottom-color: $clr-page-bkg;
        border-top-color: $clr-page-bkg;
    }
    .navbar .nav li.dropdown.open {
        background: $clr-header-bkg;
    }
    .nav-collapse .dropdown-menu a {
        color: $clr-page-bkg;
    }
    .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus, .nav-collapse .dropdown-menu a.active-trail {
        color: $clr-text;
        background: $clr-page-bkg;
    }
}
.main .menu li a:hover, 
.main .menu li a:focus, 
.main .menu li a.active {
    text-decoration: underline;
}
.well .caption {
    color: darken( $clr-icons, 15% );
}
.site-footer {
    color: $clr-page-bkg;
}
.site-footer .block h2 {
    color: $clr-page-bkg;
}
.site-footer a {
    color: $clr-page-bkg;
}
.site-footer a:hover, 
.site-footer a:focus, 
.site-footer a.active {
    color: $clr-page-bkg;
    text-decoration: underline;
}
hr {
    border-top: 1px solid $clr-hr;
}
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
    background: $clr-page-bkg;
}
.sidebar .block-menu .content > .menu > li > a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
    text-decoration: none;
}