$clr-page-bkg: 		#2e2d29;
$clr-header-bkg: 	#282724;
$clr-footer-bkg: 	#282724;

$clr-well-bkg: 		#232220;
$clr-line: 			#232220;
$clr-hr: 			#232220;
$clr-img-border: 	#232220;

$clr-text: 			#fbfbf9;
$clr-headers: 		#fbfbf9;
$clr-header1: 		#fbfbf9;
$clr-header2: 		#fbfbf9;

$clr-link: 			#b3995d;
$clr-link-hvr: 		#fbfbf9;
$clr-btn-text: 		#fbfbf9;
$clr-btn-bkg: 		#b3995d;
$clr-btn-bkg-hvr: 	#232220;
$clr-btn-text-hvr:	#fbfbf9;

$clr-menu-text: 	#b3995d;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #fbfbf9;
$clr-menu-bkg-hvr:	transparent;
$clr-menu-link-border: #b3995d;

$clr-icons: 		#94938e;