$clr-page-bkg: 		#fbfbf9;
$clr-header-bkg: 	#f8f7f2;
$clr-footer-bkg: 	#f8f7f2;

$clr-well-bkg: 		#e9e6df;
$clr-line: 			#e9e6df;
$clr-hr: 			#e9e6df;
$clr-img-border: 	#e9e6df;

$clr-text: 			#333333;
$clr-headers: 		#333333;
$clr-header1: 		#333333;
$clr-header2: 		#333333;

$clr-link: 			#8c1515;
$clr-link-hvr: 		#333333;
$clr-btn-text: 		#fbfbf9;
$clr-btn-bkg: 		#8c1515;
$clr-btn-bkg-hvr: 	#333333;
$clr-btn-text-hvr:	#fbfbf9;

$clr-menu-text: 	#8c1515;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #333333;
$clr-menu-bkg-hvr:  transparent;
$clr-menu-link-border: #e9e6df;

$clr-icons: 		#928b81;