a:hover, 
a:focus,
.normal-link a:hover, .normal-link a:focus,
.normal-link h2 a:hover, .normal-link h2 a:focus,
.normal-link h3 a:hover, .normal-link h3 a:focus {
    text-decoration: underline;
}
.header-bkg a.element-invisible.element-focusable {
    color: $clr-text;
    background: $clr-page-bkg;
}
.header-bkg .navbar {
    margin-bottom: 10px;
}
.header-bkg .site-main-menu {
    border-top: 1px solid $clr-line;
}
.navbar .nav > li > a {
    padding-bottom: .25em;
    border-bottom: 5px solid transparent;
    @media (max-width: 767px) {
        border-bottom: 0;
        padding: 0.25em 0.5em;
    }
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus, 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover, 
.navbar .nav > .active-trail > a {
    border-bottom: 5px solid $clr-menu-link-border;
    @media (max-width: 767px) {
        border-bottom: 0;
    }
}
@media (max-width: 767px) {
    .navbar {
        margin-top:0;
    }
}
.site-footer .menu li a:hover, 
.site-footer .menu li a:focus, 
.site-footer .menu li a.active, 
.site-footer .menu li a.active-trail {
    text-decoration: underline;
}
.well .caption {
    color: darken( $clr-icons, 15% );
}
.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    .navbar .nav > .active > a, 
    .navbar .nav > .active > a:hover, 
    .navbar .nav > .active > a:focus, 
    .navbar .nav > li > a:focus, 
    .navbar .nav > li > a:hover,
    .navbar .nav > .active-trail > a {
        color: $clr-menu-text-hvr;
        background: $clr-menu-link-border;
    }
}