$clr-page-bkg: 		#ffffff;
$clr-header-bkg: 	#ffffff;
$clr-footer-bkg: 	#ffffff;

$clr-well-bkg: 		#e9e9e9;
$clr-line: 			transparent;
$clr-hr: 			#e9e9e9;
$clr-img-border: 	#e9e9e9;

$clr-text: 			#333333;
$clr-headers: 		#333333;
$clr-header1: 		#333333;
$clr-header2: 		#333333;

$clr-link: 			#8c1515;
$clr-link-hvr: 		#333333;
$clr-btn-text: 		#ffffff;
$clr-btn-bkg: 		#8c1515;
$clr-btn-bkg-hvr: 	#333333;
$clr-btn-text-hvr:	#ffffff;

$clr-menu-text: 	#888888;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #333333;
$clr-menu-bkg-hvr:	transparent;
$clr-menu-link-border: transparent;

$clr-icons: 		#888888;