a:hover, 
a:focus,
.normal-link a:hover, .normal-link a:focus,
.normal-link h2 a:hover, .normal-link h2 a:focus,
.normal-link h3 a:hover, .normal-link h3 a:focus {
    text-decoration: underline;
}
.header-bkg a.element-invisible.element-focusable {
    color: $clr-text;
    background: $clr-page-bkg;
}
.header-bkg.header-bkg-style-frontbleed .site-main-menu {
    .navbar .nav > .active > a, 
    .navbar .nav > .active > a:hover, 
    .navbar .nav > .active > a:focus, 
    .navbar .nav > li > a:focus, 
    .navbar .nav > li > a:hover,
    .navbar .nav > .active-trail > a {
        color: $clr-page-bkg;
        background: $clr-menu-text-hvr;
    }
}