$clr-page-bkg: 		#fbfbf9;
$clr-header-bkg: 	#d5d0c0;
$clr-footer-bkg: 	#5e3032;

$clr-well-bkg: 		#d5d0c0;
$clr-line: 			#d5d0c0;
$clr-hr: 			#d5d0c0;
$clr-img-border: 	#d5d0c0;

$clr-text: 			#3f3c30;
$clr-headers: 		#3f3c30;
$clr-header1: 		#3f3c30;
$clr-header2: 		#3f3c30;

$clr-link: 			#8f7029;
$clr-link-hvr: 		#3f3c30;
$clr-btn-text: 		#fbfbf9;
$clr-btn-bkg: 		#5e3032;
$clr-btn-bkg-hvr: 	#3f3c30;
$clr-btn-text-hvr:	#fbfbf9;

$clr-menu-text: 	#3f3c30;
$clr-menu-bkg:		transparent;
$clr-menu-text-hvr: #5e3032;
$clr-menu-bkg-hvr:	transparent;
$clr-menu-link-border: #5e3032;

$clr-icons: 		#8a887d;