body {
    font-family: $font-header;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-header;
    font-weight: 400;
}
h1 {
    font-weight: 400;
    letter-spacing: -0.04em;
    font-size: 2.5em;
    line-height: 1.4em;
}
h2 {
    font-size: 1.5em;
    letter-spacing: -0.02em;
    line-height: 1.4em;
    margin: 1.3em 0 0.7em;
}
h3 {
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 1.3em 0 .8em;
}
h4 {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5em;
    margin: 1.5em 0 1em;
}
h5 {
}
h6 {
}
strong {
    font-weight: 500;
}
.site-name {
    font-family: $font-header;
    font-size: 3.5em;
}
.site-name a, .site-name a:hover {
    font-weight: 400;
    letter-spacing: -0.04em;
}
#site-slogan {
    font-family: $font-header;
    font-size: 1.5em;
    font-weight: 400;
}
.summary {
    font-family: $font-header;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5em;
}
.descriptor {
    font-size: .8em;
}
.credits {
    font-size: .8em;
    letter-spacing: 0.02em;
}
.caption {
    font-size: .8em;
}
.quote {
}
a {
    font-weight: 400;
}
a:hover, a:focus {
}
a.btn, .btn a {
    font-family: $font-header;
    font-weight: 400;
    font-size: inherit;
}
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
}
a.more-link, .more-link a {
    font-family: $font-header;
    font-weight: 400;
    font-size: 16px;
}
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
}
a.edit-link, .edit-link a {
}
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
}
.block {
}
.block h2 {
}
.block.well {
}
.block.well h2 {
    font-size: 1.2em;
    font-weight: 400;
}
#footer .block {
    font-size: 13px;
}
.navbar .nav > li > a {
    font-family: $font-header;
    font-size: 1.2em;
    font-weight: 400;
}
