/******** TEXT ************************************************************** */

.sooper-dooper-big-heading {
  font-size: 3em;
  line-height: 1.3em;
}
.main-top-region p {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
}

/******** REGIONS *********************************************************** */

.main-top-region,
.sidebar-second-region,
.main-content-region {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.main-top-region {
  display: block;
  margin-top: 30px;
}

.main-content-region {
  display: inline-block;
  width: 72%;
  margin-right: 20px;
}

.sidebar-second-region {
  width: auto;
  min-width: 200px;
}

/******** MEDIA QUERIES ***************************************************** */

@media screen and (max-width: 900px) {
   .main-content-region {
    width: 100%;
    display: block;
  }
  .sidebar-second-region {
    width: 100%;
  }
}

/******** BLOCKS ************************************************************ */

#page .block {
  margin-bottom: 30px;
}

.sidebar-second-region .block,
.view-filters {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 5px 20px 15px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
