/* GENERAL */

.front .main-top > .container {
  width: 100%;
}

.full-width-banner img {
  width: 100%;
}

.full-width-banner .banner-overlay {
  position: relative;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.full-width-banner .banner-overlay.carousel-position-right > div {
  right: 0;
}

.full-width-banner .banner-overlay > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 68px;
  color: white;
  padding: 30px 40px;
  position: absolute;
  top: auto;
  width: 32%;
}

.full-width-banner .banner-overlay a,
.full-width-banner .banner-overlay a.more-link,
.full-width-banner .banner-overlay .more-link a {
  color: #8c1515;
}

.full-width-banner .banner-overlay a:hover,
.full-width-banner .banner-overlay a.more-link:hover,
.full-width-banner .banner-overlay .more-link a:hover,
.full-width-banner .banner-overlay a:focus,
.full-width-banner .banner-overlay a.more-link:focus,
.full-width-banner .banner-overlay .more-link a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.full-width-banner .banner-overlay.carousel-light a:hover,
.full-width-banner .banner-overlay.carousel-light a.more-link:hover,
.full-width-banner .banner-overlay.carousel-light .more-link a:hover,
.full-width-banner .banner-overlay.carousel-light a:focus,
.full-width-banner .banner-overlay.carousel-light a.more-link:focus,
.full-width-banner .banner-overlay.carousel-light .more-link a:focus {
  color: #333333;
}

@media (max-width: 1199px) {
  .full-width-banner .banner-overlay {
    width: 940px;
  }
  .full-width-banner .banner-overlay > div {
    width: 35%;
  }
}

@media (max-width: 979px) {
  .full-width-banner .banner-overlay {
    width: 724px;
  }
  .full-width-banner .banner-overlay > div {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .front .main-top > .container {
    margin-left: 0;
  }
  .full-width-banner .banner-overlay {
    height: auto;
    position: inherit;
    width: 100%;
  }
  .full-width-banner .banner-overlay > div {
    max-width: 100%;
    position: inherit;
    width: 100%;
  }
}

.view-display-id-shorts_block_caption_credits_below .below-banner {
  float: right;
  margin-right: 10%;
}

.view-display-id-shorts_block_caption_credits_below .caption-style {
  padding-right: 1em;
  float: left;
}

.view-display-id-shorts_block_caption_credits_below .credits-style {
  float: left;
}

.full-width-banner .banner-overlay.carousel-light h2,
.full-width-banner .banner-overlay.carousel-light p,
.full-width-banner .banner-overlay.carousel-light .slide-caption {
  color: #333333;
}

.full-width-banner .banner-overlay.carousel-light > div {
  background: #ffffff;
}

.full-width-banner .banner-overlay.carousel-dark > div {
  background: #000000;
}


/* LIGHT */

.style-custom-styles-light .full-width-banner .banner-overlay.carousel-dark > div {
  background: #e9e6df;
}

.style-custom-styles-light .full-width-banner .banner-overlay.carousel-dark h2,
.style-custom-styles-light .full-width-banner .banner-overlay.carousel-dark p,
.style-custom-styles-light .full-width-banner .banner-overlay.carousel-dark .slide-caption {
  color: #333333;
}

.style-custom-styles-light .full-width-banner .banner-overlay a:hover,
.style-custom-styles-light .full-width-banner .banner-overlay a.more-link:hover,
.style-custom-styles-light .full-width-banner .banner-overlay .more-link a:hover,
.style-custom-styles-light .full-width-banner .banner-overlay a:focus,
.style-custom-styles-light .full-width-banner .banner-overlay a.more-link:focus,
.style-custom-styles-light .full-width-banner .banner-overlay .more-link a:focus {
  color: #333333;
}


/* PLAIN */

.style-custom-styles-plain .full-width-banner .banner-overlay.carousel-dark > div {
  background: #e9e9e9;
}

.style-custom-styles-plain .full-width-banner .banner-overlay.carousel-dark h2,
.style-custom-styles-plain .full-width-banner .banner-overlay.carousel-dark p,
.style-custom-styles-plain .full-width-banner .banner-overlay.carousel-dark .slide-caption {
  color: #333333;
}

.style-custom-styles-plain .full-width-banner .banner-overlay a:hover,
.style-custom-styles-plain .full-width-banner .banner-overlay a.more-link:hover,
.style-custom-styles-plain .full-width-banner .banner-overlay .more-link a:hover,
.style-custom-styles-plain .full-width-banner .banner-overlay a:focus,
.style-custom-styles-plain .full-width-banner .banner-overlay a.more-link:focus,
.style-custom-styles-plain .full-width-banner .banner-overlay .more-link a:focus {
  color: #333333;
}


/* DARK */

.style-custom-styles-dark .full-width-banner .banner-overlay.carousel-dark > div {
  background: #232220;
}

.style-custom-styles-dark .full-width-banner .banner-overlay.carousel-dark a,
.style-custom-styles-dark .full-width-banner .banner-overlay.carousel-dark a.more-link,
.style-custom-styles-dark .full-width-banner .banner-overlay.carousel-dark .more-link a {
  color: #b3995d;
}


/* RICH */

.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark > div {
  background: #d5d0c0;
}

.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark h2,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark p,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark .slide-caption {
  color: #3f3c30;
}

.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-light a,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-light a.more-link,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-light .more-link a {
  color: #8f7029;
}

.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark a,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark a.more-link,
.style-custom-styles-rich .full-width-banner .banner-overlay.carousel-dark .more-link a {
  color: #5e4a1b;
}

.style-custom-styles-rich .full-width-banner .banner-overlay a:hover,
.style-custom-styles-rich .full-width-banner .banner-overlay a.more-link:hover,
.style-custom-styles-rich .full-width-banner .banner-overlay .more-link a:hover,
.style-custom-styles-rich .full-width-banner .banner-overlay a:focus,
.style-custom-styles-rich .full-width-banner .banner-overlay a.more-link:focus,
.style-custom-styles-rich .full-width-banner .banner-overlay .more-link a:focus {
  color: #3f3c30;
}


/* BRIGHT */

.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark > div {
  background: #006374;
}

.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a.more-link,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light .more-link a {
  color: #007c92;
}

.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a.more-link,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark .more-link a {
  color: #ffce49;
}

.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a.more-link:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light .more-link a:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a:focus,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light a.more-link:focus,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-light .more-link a:focus {
  color: #333333;
}

.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a.more-link:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark .more-link a:hover,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a:focus,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark a.more-link:focus,
.style-custom-styles-bright .full-width-banner .banner-overlay.carousel-dark .more-link a:focus {
  color: #ffffff;
}


/* HIGH CONTRAST */

.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark > div {
  background: #333333;
}

.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a.more-link,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark .more-link a {
  color: #b3995d;
}

.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a:hover,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a.more-link:hover,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark .more-link a:hover,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a:focus,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark a.more-link:focus,
.style-custom-styles-contrast .full-width-banner .banner-overlay.carousel-dark .more-link a:focus {
  color: #ffffff;
}


/* CARDINAL */

.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark > div {
  background: #f2f1eb;
}

.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark h2 {
  color: #8c1515;
}

.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark p,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark .slide-caption {
  color: #333333;
}

.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark a:hover,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark a.more-link:hover,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark .more-link a:hover,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark a:focus,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark a.more-link:focus,
.style-custom-styles-cardinal .full-width-banner .banner-overlay.carousel-dark .more-link a:focus {
  color: #333333;
}


/* VIVID */

.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-dark > div {
  background: #0f6c91;
}

.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-dark a,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-dark a.more-link,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-dark .more-link a {
  color: #ffffff;
}

.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a.more-link,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light .more-link a {
  color: #00795d;
}

.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a:hover,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a.more-link:hover,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light .more-link a:hover,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a:focus,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light a.more-link:focus,
.style-custom-styles-vivid .full-width-banner .banner-overlay.carousel-light .more-link a:focus {
  color: #0f6c91;
}
