/* Color Buttons, can be used in css or in css injector */


/*  Button size */

input.form-submit,
a.button,
div.exposed-filters input#edit-submit,
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-actions-save,
input#edit-delete,
input#edit-delete-1,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit,
input.form-submit.button-remove,
input#edit-preview,
input#edit-preview-1,
input#edit-next,
input#preview-submit,
input[id^="edit-return"],
#edit-cancel,
#edit-actions-cancel,
input#edit-buttons-revert,
input.field-add-more-submit {
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
    /* LTR */
    padding: 5px 10px;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande", Verdana, sans-serif;
}


/* Gray Button */

input.form-submit,
a.button,
div.exposed-filters input#edit-submit {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    color: #777777;
}

input.form-submit:hover,
a.button:hover,
div.exposed-filters input#edit-submit:hover {
    background: #0074BD;
    /*  darker blue on rollover */
    color: #fff;
}

input.form-submit:active,
a.button:active,
div.exposed-filters input#edit-submit:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3) inset;
}


/* Green Button */

input#edit-submit,
input#edit-submit-1,
input#edit-actions-submit,
input[id^="save-continue"],
input[id^="edit-save"],
input#edit-save,
input#edit-actions-save,
input#edit-submit-admin-views-node {
    color: #fff;
    background: #4d8f46;
    /* green background*/
}

input#edit-submit:hover,
input#edit-actions-submit:hover,
input[id^="save-continue"]:hover,
input[id^="edit-save"]:hover,
input#edit-save:hover,
input#edit-actions-save:hover,
input#edit-submit-admin-views-node:hover {
    background: #0a6700;
    /*  darker green on rollover */
}

input#edit-submit:active,
input#edit-actions-submit:active,
input[id^="save-continue"]:active,
input[id^="edit-save"]:active,
input#edit-save:active,
input#edit-actions-save:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75) inset;
    background: #333;
}


/* Red Button */

input#edit-delete,
input#edit-delete-1,
input#remove-button,
input#edit-remove,
input#edit-clear,
.page-admin-modules-uninstall input#edit-submit,
input.button-remove {
    color: #fff;
    background: #b73939;
    /* red  */
}

input#edit-delete:hover,
input#remove-button:hover,
input#edit-remove:hover,
input#edit-clear:hover,
body.page-admin-modules-uninstall input#edit-submit:hover {
    background: #990000;
    /* darker red on rollover */
}

input#edit-delete:active,
input#remove-button:active,
input#edit-remove:active,
input#edit-clear:active,
body.page-admin-modules-uninstall input#edit-submit:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75) inset;
    background: #333;
}


/* Blue Button */

input#edit-publish,
input#edit-preview,
input#edit-preview-1,
input#edit-next,
input#preview-submit,
input.views-reset-button,
input.views-submit-button,
input.form-submit.field-add-more-submit,
input.form-submit.ajax-processed input[id^="edit-return"] {
    color: #fff;
    background: #0074BD;
}

input#edit-preview:hover,
input#edit-next:hover,
input#preview-submit:hover,
input[id^="edit-return"]:hover {
    background: #004c99;
}

input#edit-preview:active,
input#edit-next:active,
input#preview-submit:active,
input[id^="edit-return"]:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75) inset;
    background: #333;
}


/* Orange Button */

#edit-cancel,
#edit-actions-cancel,
input#edit-buttons-revert {
    color: #fff;
    background: #f69231;
}

a#edit-cancel,
a#edit-actions-cancel {
    padding: 6px 10px;
    text-decoration: none;
}

#edit-cancel:hover,
#edit-actions-cancel:hover,
input#edit-buttons-revert:hover {
    background: #ef6114;
    text-decoration: none;
}

#edit-cancel:active,
#edit-actions-cancel:active,
input#edit-buttons-revert:active {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.75) inset;
    background: #333;
}


/* Light Blue Button */

input.form-submit.field-add-more-submit {
    color: #fff;
    background: #38a;
}