/* global VPSA */
body hr {
  border-top: 1px solid #8C1515;
}

/**
 * Breakout text styles
 */

p.callout {
  width: auto;
  margin: .8em;
}

p.pullquote {
  margin: .8em;
  background: #f2f1eb;
  border: solid 1px #d5d2c5;
  padding: 1em;
  line-height: 1.25em;
  text-indent: 0;
  width: auto;
}

p.bracket {
  width: auto;
  margin: .8em;
}
