@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,400italic,300italic);
/* line 1, ../../sass/stanford_light/fonts/_sans-styles.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
}

/* line 13, ../../sass/stanford_light/fonts/_sans-styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

/* line 18, ../../sass/stanford_light/fonts/_sans-styles.scss */
h1 {
  font-weight: 300;
  letter-spacing: -0.04em;
  font-size: 3em;
  line-height: 1.3em;
}
@media (max-width: 480px) {
  /* line 18, ../../sass/stanford_light/fonts/_sans-styles.scss */
  h1 {
    font-size: 2.5em;
  }
}

/* line 28, ../../sass/stanford_light/fonts/_sans-styles.scss */
h2 {
  font-size: 1.8em;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin: 0.7em 0 0.5em;
}

/* line 35, ../../sass/stanford_light/fonts/_sans-styles.scss */
h3 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0.9em 0 0.5em;
}

/* line 42, ../../sass/stanford_light/fonts/_sans-styles.scss */
h4 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 1em 0 .5em;
}

/* line 55, ../../sass/stanford_light/fonts/_sans-styles.scss */
.site-name {
  font-size: 3.5em;
}

/* line 60, ../../sass/stanford_light/fonts/_sans-styles.scss */
.site-name a,
.site-name a:hover {
  font-weight: 300;
  letter-spacing: -0.04em;
}

/* line 65, ../../sass/stanford_light/fonts/_sans-styles.scss */
#site-slogan {
  font-size: 1.3em;
  font-weight: 400;
}

/* line 70, ../../sass/stanford_light/fonts/_sans-styles.scss */
.summary {
  font-size: 1.3em;
}

/* line 74, ../../sass/stanford_light/fonts/_sans-styles.scss */
.descriptor {
  font-size: .8em;
}

/* line 78, ../../sass/stanford_light/fonts/_sans-styles.scss */
.credits {
  font-size: .8em;
  letter-spacing: 0.02em;
}

/* line 83, ../../sass/stanford_light/fonts/_sans-styles.scss */
.caption {
  font-size: .8em;
}

/* line 89, ../../sass/stanford_light/fonts/_sans-styles.scss */
.banner-overlay p {
  font-size: 16px;
}

/* line 93, ../../sass/stanford_light/fonts/_sans-styles.scss */
a {
  font-weight: 600;
}

/* line 103, ../../sass/stanford_light/fonts/_sans-styles.scss */
.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
  font-size: 16px;
}

/* line 108, ../../sass/stanford_light/fonts/_sans-styles.scss */
a.btn,
.btn a {
  font-weight: 400;
  font-size: inherit;
}

/* line 119, ../../sass/stanford_light/fonts/_sans-styles.scss */
a.more-link,
.more-link a {
  font-weight: 600;
  font-size: 16px;
}

/* line 143, ../../sass/stanford_light/fonts/_sans-styles.scss */
.block.well h2 {
  font-size: 1.3em;
  font-weight: 600;
}

/* line 148, ../../sass/stanford_light/fonts/_sans-styles.scss */
#footer .block {
  font-size: 14px;
}

/* line 152, ../../sass/stanford_light/fonts/_sans-styles.scss */
.navbar .nav > li > a {
  font-size: 1.2em;
  font-weight: 600;
}
