/* General */
/* line 3, ../../sass/stanford_light/styles/_styles.scss */
body {
  color: #333333;
  background: white;
}

/* line 8, ../../sass/stanford_light/styles/_styles.scss */
.header {
  background: #8c1515;
}

/* line 12, ../../sass/stanford_light/styles/_styles.scss */
.site-main-menu {
  background: #8c1515;
  border-bottom: 1px solid #8c1515;
}

/* line 17, ../../sass/stanford_light/styles/_styles.scss */
.main {
  background: white;
}

/* line 21, ../../sass/stanford_light/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 25, ../../sass/stanford_light/styles/_styles.scss */
.site-footer {
  background: #8c1515;
}

/* line 34, ../../sass/stanford_light/styles/_styles.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8c1515;
}

/* line 38, ../../sass/stanford_light/styles/_styles.scss */
h1 {
  color: #333333;
}

/* line 45, ../../sass/stanford_light/styles/_styles.scss */
h2,
h2 a,
h2 a:hover,
h2 a:focus {
  color: #8c1515;
}

/* line 50, ../../sass/stanford_light/styles/_styles.scss */
h2 a:hover,
h2 a:focus {
  text-decoration: underline;
}

/* Site Title and Slogan */
/* line 57, ../../sass/stanford_light/styles/_styles.scss */
#header #logo {
  border-right: 1px solid white;
}

@media (max-width: 480px) {
  /* line 62, ../../sass/stanford_light/styles/_styles.scss */
  #header.organization #logo.logo-mobile #site-title-line4 a {
    border-bottom: 1px solid white;
  }
}
/* line 84, ../../sass/stanford_light/styles/_styles.scss */
#site-name a,
#site-name a:hover,
#site-name a:focus,
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus,
#site-title-line3 a,
#site-title-line3 a:hover,
#site-title-line3 a:focus,
#site-title-line4 a,
#site-title-line4 a:hover,
#site-title-line4 a:focus,
#site-title-line5 a,
#site-title-line5 a:hover,
#site-title-line5 a:focus {
  color: white;
}

/* line 93, ../../sass/stanford_light/styles/_styles.scss */
#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5 {
  color: white;
}

/* line 97, ../../sass/stanford_light/styles/_styles.scss */
#site-slogan {
  color: white;
}

/* Content */
/* line 106, ../../sass/stanford_light/styles/_styles.scss */
.descriptor {
  color: #333333;
}

/* line 111, ../../sass/stanford_light/styles/_styles.scss */
.descriptor-btn a,
a.descriptor-btn {
  color: #333333;
  background-color: #f2f1eb;
}

/* line 119, ../../sass/stanford_light/styles/_styles.scss */
.descriptor-btn a:hover,
a.descriptor-btn:hover,
.descriptor-btn a:focus,
a.descriptor-btn:focus {
  background-color: #333333;
  color: white;
  text-decoration: none;
}

/* line 127, ../../sass/stanford_light/styles/_styles.scss */
.caption {
  color: #c4bfa9;
}

/* line 134, ../../sass/stanford_light/styles/_styles.scss */
a,
.normal-link a {
  color: #8c1515;
}

/* line 141, ../../sass/stanford_light/styles/_styles.scss */
a:hover,
a:focus,
.normal-link a:hover,
.normal-link a:focus {
  color: #333333;
}

/* line 146, ../../sass/stanford_light/styles/_styles.scss */
a.btn,
.btn a {
  background: #8c1515;
  color: #fbfbf9;
}

/* line 154, ../../sass/stanford_light/styles/_styles.scss */
a.btn:hover,
a.btn:focus,
.btn a:hover,
.btn a:focus {
  background: #333333;
  color: white;
}

/* line 160, ../../sass/stanford_light/styles/_styles.scss */
a.more-link,
.more-link a {
  color: #8c1515;
}

/* line 167, ../../sass/stanford_light/styles/_styles.scss */
a.more-link:hover,
a.more-link:focus,
.more-link a:hover,
.more-link a:focus {
  color: #333333;
}

/* line 177, ../../sass/stanford_light/styles/_styles.scss */
a.edit-link:hover,
a.edit-link:focus,
.edit-link a:hover,
.edit-link a:focus {
  background: #333333;
  color: white;
  text-decoration: none;
}

/* line 184, ../../sass/stanford_light/styles/_styles.scss */
th,
td {
  border: 1px solid #f2f1eb;
}

/* line 188, ../../sass/stanford_light/styles/_styles.scss */
th {
  background: #f2f1eb;
}

/* line 192, ../../sass/stanford_light/styles/_styles.scss */
td.active {
  background: rgba(242, 241, 235, 0.5);
}

/* line 197, ../../sass/stanford_light/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #f2f1eb;
}

/* line 202, ../../sass/stanford_light/styles/_styles.scss */
.main .well .border-simple-nowidth img,
.main .well .border-simple img {
  background-color: #f8f8f5;
}

/* line 208, ../../sass/stanford_light/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #f2f1eb;
}

/* line 212, ../../sass/stanford_light/styles/_styles.scss */
.well {
  background: #f2f1eb;
}

/* line 218, ../../sass/stanford_light/styles/_styles.scss */
.tile-link {
  margin-bottom: 1em;
  background: #8c1515;
}

/* line 223, ../../sass/stanford_light/styles/_styles.scss */
.tile-link h2 {
  margin: 0;
}

/* line 227, ../../sass/stanford_light/styles/_styles.scss */
.tile-link h2 a {
  display: block;
  padding: 0.5em 0.75em;
  color: #fbfbf9;
}

/* line 234, ../../sass/stanford_light/styles/_styles.scss */
.tile-link h2 a:hover,
.tile-link h2 a:focus {
  color: #fbfbf9;
  text-decoration: none;
}

/* line 240, ../../sass/stanford_light/styles/_styles.scss */
.tile-link:hover,
.tile-link:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* line 247, ../../sass/stanford_light/styles/_styles.scss */
.content-body .tile-link .field.field-name-tile-display-image,
.content-body .tile-link .field.field-name-tile-display-title,
.content-body .tile-link .field.field-name-field-s-lp-item-image {
  margin-bottom: 0;
}

/* line 251, ../../sass/stanford_light/styles/_styles.scss */
.banner-overlay > div {
  background: #f2f1eb;
  background: rgba(242, 241, 235, 0.8);
}

/* line 258, ../../sass/stanford_light/styles/_styles.scss */
.banner-overlay h2,
.banner-overlay p,
.banner-overlay-caption {
  color: #333333;
}

/* Start menu styles ---------- */
/* menu links by default */
/* line 268, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav > li > a {
  color: white;
  background: transparent;
}

/* menu links in active states */
/* line 283, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active-trail > a,
.navbar .nav > .active-trail > a:hover,
.navbar .nav > .active-trail > a:focus {
  color: #333333;
  background: white;
}
@media (max-width: 767px) {
  /* line 283, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav > li > a:hover,
  .navbar .nav > li > a:focus,
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus,
  .navbar .nav > .active-trail > a,
  .navbar .nav > .active-trail > a:hover,
  .navbar .nav > .active-trail > a:focus {
    color: #8c1515;
    background: #333333;
  }
}

/* dropdown arrow color by default */
/* line 295, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

/* overriding Bootstrap dropdown arrow default state */
/* line 304, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}
@media (max-width: 767px) {
  /* line 304, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown > a:hover .caret,
  .navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #8c1515;
    border-top-color: #8c1515;
  }
}

/* dropdown menu items when open */
/* line 318, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
  background: transparent;
  /* color of the dropdown arrow */
}
@media (max-width: 767px) {
  /* line 318, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #8c1515;
    background: #333333;
  }
}
/* line 326, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}
@media (max-width: 767px) {
  /* line 326, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #8c1515;
    border-top-color: #8c1515;
  }
}

/* dropdown menu items when open and active */
/* line 347, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
  color: #333333;
  background: white;
  /* color of the dropdown arrow on hover */
}
@media (max-width: 767px) {
  /* line 347, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
    color: #8c1515;
    background: #333333;
  }
}
/* line 355, ../../sass/stanford_light/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
.navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
  border-bottom-color: #333333;
  border-top-color: #333333;
}
@media (max-width: 767px) {
  /* line 355, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-bottom-color: #8c1515;
    border-top-color: #8c1515;
  }
}

/* dropdown menu container */
/* line 368, ../../sass/stanford_light/styles/_styles.scss */
.dropdown-menu {
  background: #8c1515;
  border: 1px solid #8c1515;
  right: 1em;
  padding: 0;
}

/* dropdown menu nested links - overriding Bootstrap */
/* line 378, ../../sass/stanford_light/styles/_styles.scss */
.nav-collapse .dropdown-menu a {
  color: #333333;
  padding: 0.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 378, ../../sass/stanford_light/styles/_styles.scss */
  .nav-collapse .dropdown-menu a {
    color: #8c1515;
  }
}

/* dropdown menu nested links - hover/active states */
/* line 398, ../../sass/stanford_light/styles/_styles.scss */
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
  color: #8c1515;
  background: #333333;
}
@media (max-width: 767px) {
  /* line 398, ../../sass/stanford_light/styles/_styles.scss */
  .nav-collapse .dropdown-menu > li > a:hover,
  .nav-collapse .dropdown-menu > li > a:focus,
  .nav-collapse .dropdown-menu > .active > a,
  .nav-collapse .dropdown-menu > .active > a:hover,
  .nav-collapse .dropdown-menu > .active > a:focus,
  .nav-collapse .dropdown-menu > .active-trail > a,
  .nav-collapse .dropdown-menu > .active-trail > a:hover,
  .nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: #333333;
    background: #8c1515;
  }
}

/* mobile styles */
@media (max-width: 767px) {
  /* background color of nav in mobile */
  /* line 412, ../../sass/stanford_light/styles/_styles.scss */
  #main-nav {
    background: white;
  }

  /* dropdown containers that are open in mobile */
  /* line 416, ../../sass/stanford_light/styles/_styles.scss */
  .navbar .nav li.dropdown.open {
    color: #8c1515;
    background: #333333;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
  }
}
/* Sidebar menu styles ------- */
/* line 428, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu,
.sidebar .block-menu-block {
  background: #f2f1eb;
  padding: 1.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 435, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
  font-size: 1.3em;
  font-weight: 600;
}

/* line 440, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .nav li a {
  color: #8c1515;
}

/* line 447, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail {
  color: #333333;
  text-decoration: none;
}

/* top level sidebar links */
/* line 456, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
  border-top: 1px solid #d6d6d6;
  padding: 0.5em;
}

/* line 462, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.last,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
  border-bottom: 1px solid #d6d6d6;
}

/* line 475, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .content > .menu > li.expanded {
  background: #8c1515;
}

/* nested sidebar links */
/* line 483, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.expanded {
  padding-bottom: 0.75em;
}

/* line 488, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
  padding: 0.25em 0;
}

/* line 497, ../../sass/stanford_light/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover,
.sidebar .block-menu .content > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu .content > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail {
  text-decoration: underline;
}

/* Footer menu styles ----- */
/* line 505, ../../sass/stanford_light/styles/_styles.scss */
.site-footer .menu li a,
.site-footer .menu li a.active-trail {
  color: white;
  text-decoration: none;
}

/* line 511, ../../sass/stanford_light/styles/_styles.scss */
.site-footer .menu li a:hover,
.site-footer .menu li a:focus {
  color: white;
  text-decoration: underline;
}

/* ---------- end menu styles */
/* line 520, ../../sass/stanford_light/styles/_styles.scss */
.bodybg .sidebar .region,
.bodybg .content-wrapper {
  background-color: white;
}

/* line 524, ../../sass/stanford_light/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 530, ../../sass/stanford_light/styles/_styles.scss */
.borders .sidebar .region,
.borders .content-wrapper,
.bodybg.borders .breadcrumb {
  border: 1px solid #8c1515;
}

/* line 534, ../../sass/stanford_light/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 538, ../../sass/stanford_light/styles/_styles.scss */
.breadcrumb {
  background-color: white;
  border-radius: 0;
}

/* line 543, ../../sass/stanford_light/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 547, ../../sass/stanford_light/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #8c1515;
}

/* Header Image Background */
/* line 554, ../../sass/stanford_light/styles/_styles.scss */
.header-bkg a.element-invisible.element-focusable {
  color: #333333;
  background: white;
}

/* Front Page Header Image Background */
/* line 563, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .content-wrapper,
.front.header-bkg.header-bkg-style-frontbleed .sidebar .region {
  background: transparent;
}

/* line 573, ../../sass/stanford_light/styles/_styles.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active-trail > a {
  color: #333333;
  background: white;
}

/* line 579, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #8c1515;
}

/* line 583, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main {
  color: white;
  /* text color */
}

/* line 588, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main a {
  color: #c6b386;
  /* link color */
}

/* line 595, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a.focus,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .nav-tabs a:hover {
  color: #8c1515;
  /* heading color */
}

/* line 605, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main h6 {
  color: white;
  /* heading color */
}

/* line 611, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu {
  color: #333333;
  /* well text color */
}

/* line 617, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu a {
  color: #8c1515;
  /* well link color */
}

/* line 633, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h6 {
  color: #333333;
  /* heading color */
}

/* --- dark text theme option --- */
/* line 641, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main {
  color: black;
  /* text color */
}

/* line 646, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main a {
  color: #8c1515;
  /* link color */
}

/* line 653, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a.focus,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .nav-tabs a:hover {
  color: #8c1515;
  /* heading color */
}

/* line 663, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main h6 {
  color: black;
  /* heading color */
}

/* line 669, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu {
  color: #333333;
  /* well text color */
}

/* line 675, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu a {
  color: #8c1515;
  /* well link color */
}

/* line 691, ../../sass/stanford_light/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-dark .main .block-menu h6 {
  color: #333333;
  /* heading color */
}

/* line 696, ../../sass/stanford_light/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #f2f1eb;
}

/* line 700, ../../sass/stanford_light/styles/_styles.scss */
ul.pager li a {
  background-color: #f2f1eb;
  color: #333333;
}

/* line 707, ../../sass/stanford_light/styles/_styles.scss */
ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li.pager-current {
  background-color: #8c1515;
  color: white;
}

/* line 712, ../../sass/stanford_light/styles/_styles.scss */
.date-stacked {
  background: #797875;
}
/* line 715, ../../sass/stanford_light/styles/_styles.scss */
.date-stacked .date-month,
.date-stacked .date-day {
  color: white;
}

/* Mini-calendar navigtaion */
/* line 724, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar td.mini a,
.calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 728, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: white;
  background: #f2f1eb;
}

/* line 733, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: white;
}

/* line 737, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #d9d8d3;
}

/* line 741, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #8c1515;
}

/* line 745, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #333333;
}

/* line 749, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: white;
}

/* line 753, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #8c1515;
  color: white;
}

/* line 759, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar tr td.today a,
.calendar-calendar tr td.today a:hover {
  background: #8c1515;
  color: white;
}

/* line 764, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #d9d8d3;
}

/* line 768, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar th.days {
  background: #f2f1eb;
  color: #333333;
}

/* line 773, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #f2f1eb;
}
/* line 775, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper h3 {
  color: #333333;
}

/* line 780, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #8c1515;
}

/* line 784, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #8c1515;
}

/* line 789, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: white;
  color: #d9d8d3;
}

/* line 795, ../../sass/stanford_light/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover,
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #8c1515;
  color: white;
}

/* line 802, ../../sass/stanford_light/styles/_styles.scss */
.calendar-calendar tr td.today,
.calendar-calendar tr.odd td.today,
.calendar-calendar tr.even td.today {
  background-color: #8c1515;
  color: white;
}

/* override colors on news nodes to match descriptor color */
/* line 812, ../../sass/stanford_light/styles/_styles.scss */
.node-stanford-news-item .field-name-field-s-news-categories,
body.page-node .content .group_s_news_postedin h3,
body.page-node .content .group-s-news-postedin h3 {
  color: #333333;
}

/* Search box */
/* line 819, ../../sass/stanford_light/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #f2f1eb;
  color: #333333;
}

/* line 824, ../../sass/stanford_light/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -webkit-box-shadow: #f2f1eb 0px 0px 5px 3px;
  -moz-box-shadow: #f2f1eb 0px 0px 5px 3px;
  box-shadow: #f2f1eb 0px 0px 5px 3px;
}

/* line 1, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.header-bkg .site-main-menu {
  padding-top: 0px;
}

/* line 6, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-name a,
.site-name a:hover,
.site-name a:active {
  color: white;
}

/* line 10, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-login,
.site-login a {
  color: white;
}

/* line 14, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-login a:hover,
.site-login a:active {
  text-decoration: underline;
}

/* line 17, ../../sass/stanford_light/styles/_cardinal-styles.scss */
#site-slogan {
  color: white;
}

/* line 20, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-main-menu {
  border-bottom: 0;
  background: #8c1515;
}

@media (min-width: 768px) {
  /* line 25, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar {
    margin-bottom: 0;
  }
}
/* menu styles -------- */
/* display items as blocks, uppercase */
/* line 32, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.navbar .nav > li > a {
  padding: 0.5em 1em;
  margin-right: 0.25em;
  text-transform: uppercase;
}

/* menu links in active states */
/* line 45, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active-trail > a,
.navbar .nav > .active-trail > a:hover,
.navbar .nav > .active-trail > a:focus {
  color: #333333;
}

/* for rounded corners theme option */
/* line 50, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.roundedcorners .navbar .nav > li > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* dropdown menu container */
/* line 55, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.dropdown-menu {
  background: white;
  border-color: #333333;
  right: 6px;
}

/* dropdown menu nested links - hover/active states */
/* line 69, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
  color: white;
  background: #333333;
}
@media (max-width: 767px) {
  /* line 69, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .nav-collapse .dropdown-menu > li > a:hover,
  .nav-collapse .dropdown-menu > li > a:focus,
  .nav-collapse .dropdown-menu > .active > a,
  .nav-collapse .dropdown-menu > .active > a:hover,
  .nav-collapse .dropdown-menu > .active > a:focus,
  .nav-collapse .dropdown-menu > .active-trail > a,
  .nav-collapse .dropdown-menu > .active-trail > a:hover,
  .nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: #333333;
    background: white;
  }
}

@media (max-width: 767px) {
  /* dropdown hamburger button */
  /* line 81, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .btn-navbar {
    background: #8c1515;
    border: 1px solid white;
  }

  /* line 90, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .btn-navbar:hover,
  .navbar .btn-navbar:focus,
  .navbar .btn-navbar:active,
  .navbar .btn-navbar.active,
  .navbar .btn-navbar.disabled,
  .navbar .btn-navbar[disabled] {
    background: #333333;
    border: 1px solid white;
  }

  /* rounded corners option */
  /* line 96, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .roundedcorners .navbar .nav > li > a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-right: 0;
  }

  /* menu links by default */
  /* line 102, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .nav > li > a {
    color: #333333;
  }

  /* menu links in active states */
  /* line 114, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .nav > li > a:hover,
  .navbar .nav > li > a:focus,
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus,
  .navbar .nav > .active-trail > a,
  .navbar .nav > .active-trail > a:hover,
  .navbar .nav > .active-trail > a:focus {
    color: white;
    background: #333333;
  }

  /* dropdown menu items when open */
  /* line 122, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: white;
  }

  /* default nested link color in mobile */
  /* line 127, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .nav-collapse .dropdown-menu a {
    color: white;
  }

  /* dropdown menu items when open and active */
  /* line 140, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus {
    color: white;
    background: #333333;
    /* color of the dropdown arrow on hover */
  }
  /* line 144, ../../sass/stanford_light/styles/_cardinal-styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open > .dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.active > .dropdown-toggle:focus .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover .caret,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:hover .caret,
  .navbar .nav li.active-trail.dropdown > .dropdown-toggle:focus .caret {
    border-bottom-color: white;
    border-top-color: white;
  }
}
/* line 154, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.main .menu li a:hover,
.main .menu li a:focus,
.main .menu li a.active {
  text-decoration: underline;
}

/* line 157, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.well .caption {
  color: #a59d7c;
}

/* line 160, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-footer {
  color: white;
}

/* line 163, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-footer .block h2 {
  color: white;
}

/* line 166, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-footer a {
  color: white;
}

/* line 171, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: white;
  text-decoration: underline;
}

/* line 175, ../../sass/stanford_light/styles/_cardinal-styles.scss */
hr {
  border-top: 1px solid #f2f1eb;
}

/* line 187, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu li.expanded,
.sidebar .block-menu-block .content > .menu li.expanded {
  background: white;
}

/* line 195, ../../sass/stanford_light/styles/_cardinal-styles.scss */
.sidebar .block-menu .content > .menu > li > a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active-trail,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
  text-decoration: none;
}
