.header-bkg .navbar {
    margin-bottom: 10px;
}
.header-bkg .site-main-menu {
    border-top: 1px solid $clr-line;
}

/* menu items bottom border */
.navbar .nav > li > a {
    padding-bottom: .25em;
    border-bottom: 5px solid transparent;
    @media (max-width: 767px) { 
        border-bottom: 0;
    }
}
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus, 
.navbar .nav > li > a:focus, 
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
    border-bottom: 5px solid $clr-menu-link-border;
    @media (max-width: 767px) { 
        border-bottom: 0;
    }
}

a.btn, 
.btn a {
    border: 1px solid transparent;
}
a.btn:hover, 
a.btn:focus, 
.btn a:hover, 
.btn a:focus {
    border: 1px solid $clr-text;
}

/* dropdown hamburger button */
@media (max-width: 767px) {
    .navbar .btn-navbar {
        background: $clr-btn-bkg;
        border: 1px solid transparent;
    }
    .navbar .btn-navbar:hover, 
    .navbar .btn-navbar:focus, 
    .navbar .btn-navbar:active, 
    .navbar .btn-navbar.active, 
    .navbar .btn-navbar.disabled, 
    .navbar .btn-navbar[disabled] {
        background: $clr-btn-bkg-hvr;
        border: 1px solid $clr-text;
    }
}

.nav > li > a:hover, 
.nav > li > a:focus {
    color: $clr-well-bkg;
}

.dropdown-menu {
    background: $clr-text;
    border-color: $clr-text;
}
/* dropdown menu nested links */
.nav-collapse .dropdown-menu a {
    color: $clr-header-bkg;
}
/* dropdown menu nested links - hover/active states */
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-menu > .active > a,
.nav-collapse .dropdown-menu > .active > a:hover,
.nav-collapse .dropdown-menu > .active > a:focus,
.nav-collapse .dropdown-menu > .active-trail > a,
.nav-collapse .dropdown-menu > .active-trail > a:hover,
.nav-collapse .dropdown-menu > .active-trail > a:focus {
    color: $clr-text;
    background: $clr-header-bkg;
}

th, td {
    border-color: $clr-text;
}
th {
    background: $clr-text;
    color: $clr-well-bkg;
}
td.active {
    background: rgba($clr-text, 0.2);
}
th a {
    color: shade($clr-link, 30%);
}
th a:hover, th a:focus {
    color: $clr-page-bkg;
    text-decoration: underline;
}
.date-stacked {
    background: tint($clr-well-bkg, 20%);
    .date-month, .date-day {
        color: $clr-text;
    }
}
.calendar-calendar tr td.today a, 
.calendar-calendar tr td.today a:hover,
.calendar-calendar tr td.has-events a:hover {
    background: $clr-text; 
    color: $clr-page-bkg;
}
.calendar-calendar .mini td.has-events {
    background: $clr-link;
}
.calendar-calendar td.mini a {
    color: $clr-page-bkg;
}
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
    background: tint($clr-page-bkg, 20%); 
}
#block-search-form input.search-query {
    color: $clr-page-bkg; 
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main {
    color: $clr-text; /* text color */
}
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main a {
    color: $clr-link; /* link color */
}
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu .content > .menu > li.last,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-color: shade($clr-text, 70%);
}
#block-search-form input.search-query:focus {
    border-color: $clr-well-link;
    @include box-shadow($clr-well-link 0px 0px 5px 3px);
}

.bean-stanford-icon-block i {
    color: $clr-light-text;
}
