@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic);
/* GLOBAL ********************************* */
/* ----- Custom Fonts ---------------- */
/* ----- Body ------------------------ */
body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.4em;
}

/* ----- Text ------------------------ */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #820000;
}

h1 {
  font-size: 36px;
  margin: 0;
  line-height: 1em;
  padding: 0;
}

h1.title {
  margin-bottom: 0.5em;
}

h2, #nav {
  font-size: 18px;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 16px;
  margin: 0 0 0.3em 0;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

h6 {
  font-size: 10px;
  font-weight: 600;
  margin: 0 0 0.5em 0;
}

.content h2, body.cke_show_borders h2 {
  border-bottom: medium none;
  font-size: 22px;
  font-weight: 600;
  margin-top: 1.4em;
  text-transform: none;
  line-height: 1.2em;
}

.content .views-row h2 {
  margin-top: 0px;
  padding: 0;
}

.content .postcard-left h2, .content .postcard-left-wrap h2, .content .postcard-right h2, .content .postcard-right-wrap h2 {
  margin-top: 0px;
}

.content h3, body.cke_show_borders h3 {
  color: #3f3c30;
  font-size: 18px;
  letter-spacing: 0.01em;
  text-transform: none;
}

.content h4, body.cke_show_borders h4 {
  color: #565347;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.01em;
  margin-bottom: 0.4em;
  margin-top: 1em;
}

.content h5, body.cke_show_borders h5 {
  color: #565347;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.02em;
}

.content h6, body.cke_show_borders h6 {
  color: #565347;
  font-size: 13px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 0.04em;
}

#content-body .content h2:first-child, #content-body .content h3:first-child, #content-body .content h4:first-child,
body.cke_show_borders h2:first-child, body.cke_show_borders h3:first-child, body.cke_show_borders h4:first-child {
  margin-top: 0;
}

.descriptor {
  color: #585754;
}

.descriptor .field-content:last-child {
  margin-bottom: 0.8em;
}

/* for views when you have more than one descriptor field-content */
.caption {
  color: #8a887d;
  margin-bottom: 0;
}

.caption p {
  margin-bottom: 0px;
}

.group-s-postcard-image img {
  margin-bottom: 0.5em !important;
}

body.cke_show_borders h2, body.cke_show_borders h3 {
  text-transform: none !important;
}

blockquote {
  border-left: 5px solid #e3dfd5;
}

/* ----- Links ----------------------- */
a {
  color: #736C51;
}

a:hover, a:focus {
  color: #2e2d29;
}

h2 a, h3 a {
  color: #820000;
}

h2 a:hover, h3 a:hover, h2 a:focus, h3 a:focus {
  color: #2e2d29;
}

.normal-link h2, .normal-link h3, h2.normal-link, h3.normal-link {
  font-size: 14px;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 0.4em;
}

.normal-link a {
  color: #736C51;
}

.normal-link a:hover, .normal-link a:focus {
  color: #2e2d29;
}

.descriptor-btn a, a.descriptor-btn {
  color: #000000;
  background-color: #F2F1EB;
  padding: 3px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #D5D2C5;
}

a.btn.btn-red {
  background: #8c1515;
  padding: 0.5em 1em;
  color: #ffffff;
  border: none;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
}

a.btn.btn-red:hover, a.btn.btn-red:focus {
  background: #750F0F;
  color: #ffffff;
}

a.btn.btn-arrow-left, a.btn.btn-arrow-left:hover, a.btn.btn-arrow-left:focus {
  background-image: url("../../images/btn-arrow-left.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  text-align: right;
}

a.btn.btn-arrow-right, a.btn.btn-arrow-right:hover, a.btn.btn-arrow-right:focus {
  background-image: url("../../images/btn-arrow-right.png");
  background-position: 93% center;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  padding-right: 30px;
  text-align: left;
}

/* ----- Lists ----------------------- */
ul li, ul li.leaf {
  list-style-type: square;
  list-style-image: url("../../images/bullet.gif");
}

ul.nav li, ul.nav li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* ----- Tables ---------------------- */
table {
  margin: 0 0 1em 0;
  width: 100%;
  border: 0px;
}

thead, thead th {
  background: #8c1515;
}

thead th {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1em 2em 1em 1em;
  border-top: 1px solid #8C1515;
  border-left: 1px solid #8C1515;
  border-right: 1px solid #8C1515;
}

thead th a:link, thead th a:visited {
  border-bottom: 1px dotted;
  color: #EEE6CB;
}

thead th a:hover, thead th a:focus {
  color: white;
  border-color: white;
}

thead th.active a img {
  padding-left: 5px;
}

tbody {
  border: 0px;
}

tr.even, tr.odd {
  border: none;
  padding: 0;
}

tr.odd {
  background: #f8f7f4;
}

tr.even {
  background: #f2f1eb;
}

td {
  padding: 1em 2em 1em 1em;
}

tr.odd td.active {
  background: #eae9e6;
}

tr.even td.active {
  background: #eae9e6;
}

/* ----- Forms ----------------------- */
/* bootstrap override color */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e3e2de;
  border-color: #d5d0c0;
}

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#header .container {
  position: relative;
}

.header-bkg.header-bkg-image .header {
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  min-height: 100px;
}

.header-bkg.header-bkg-wallpaper .header {
  background-position: center top;
  background-repeat: repeat;
  margin: 0;
  min-height: 100px;
}

.header {
  margin: 0;
  padding: 25px 0 30px;
}

.header-content {
  margin: 0;
}

.header-content-margin {
  margin-top: 20px;
}

/* ----- Search Box ------------------ */
.nav-search {
  margin: -65px -5px 0 0;
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
#main-menu {
  margin-bottom: 30px;
}

.header-bkg #main-menu {
  padding-top: 15px;
}

nav ul li {
  list-style-image: none;
  list-style-type: none;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

nav ul li {
  display: inline-block;
}

.navbar-inner {
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  min-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar .nav > li > a {
  color: #8C1515;
  text-transform: uppercase;
  margin: 0 0.5em 0 0;
  padding: 4px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: none;
  text-decoration: none;
  text-shadow: none;
}

.navbar .nav > .active > a, .navbar .nav > .active-trail > a,
.navbar .nav > .active > a:hover, .navbar .nav > .active-trail > a:hover,
.navbar .nav > .active > a:focus, .navbar .nav > .active-trail > a:focus {
  background-color: #f2f1eb;
  box-shadow: none;
  color: #8C1515;
  text-decoration: none;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:active {
  color: #8C1515;
  background-color: #f2f1eb;
  text-decoration: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #f2f1eb;
  color: #8C1515;
}

.navbar .nav > li > ul.dropdown-menu {
  text-transform: none;
  letter-spacing: 0;
}

.navbar .nav > li > ul.dropdown-menu > li {
  display: block;
}

.navbar .nav > li > ul.dropdown-menu > li > a {
  color: #8c1515;
}

.navbar .nav > li > ul.dropdown-menu > li > a:hover {
  background-color: #f2f1eb;
  color: #8c1515;
}

.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
  display: none;
}

/* Dropdown Menu */
.dropdown-menu li {
  display: block;
}

.dropdown-menu li > a {
  color: #8c1515;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-color: #f2f1eb;
  background-image: linear-gradient(to bottom, #f2f1eb, #f2f1eb);
  background-repeat: repeat-x;
  color: #8c1515;
  text-decoration: none;
  background: #f2f1eb;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #f2f1eb;
  background-image: linear-gradient(to bottom, #f2f1eb, #f2f1eb);
  background-repeat: repeat-x;
  color: #8c1515;
  outline: 0 none;
  text-decoration: none;
  background: #f2f1eb;
}

/* ----- Breadcrumbs ----------------- */
.breadcrumb {
  font-size: 11px;
  background-color: transparent;
  background-image: -moz-linear-gradient(center top, transparent, transparent);
  background-repeat: repeat-none;
  border: 0px solid transparent;
  border-radius: 0px;
  box-shadow: 0 0 0 transparent inset;
  list-style: none outside none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

/* ----- #Main Block Menu Behavior --- */
#main .caret {
  display: none;
}

#main .dropdown-menu {
  border: none;
  box-shadow: none;
  float: none;
  margin: 0;
  min-width: inherit;
  position: inherit;
  left: inherit;
  z-index: auto;
}

#main .dropdown-submenu > a:after {
  content: none;
}

#main .expanded ul, #main .expanded ul ul {
  margin-left: 0px;
  padding-left: 20px;
}

#main ul.nav > li > a {
  color: #8C1515;
  padding: 3px 0 3px 0;
}

#main ul.nav > li > a:hover, #main .dropdown-menu li > a:hover, #main .dropdown-menu li > a:focus, #main .dropdown-submenu:hover > a {
  color: black;
  background-color: transparent;
}

#main li.active-trail ul {
  display: block;
}

/* ----- Sidebar menu blocks --------- */
.sidebar ul.nav, .sidebar ul.menu li {
  margin-left: 0;
}

/* ----- First Sidebar Menu Blocks --- */
#sidebar-first .block-menu, #sidebar-first .block-menu-block {
  text-transform: uppercase;
}

#sidebar-first .block-menu h2, #sidebar-first .block-menu-block h2 {
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 5px 0 15px;
}

#sidebar-first .block-menu ul.menu, #sidebar-first .block-menu-block ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar-first .block-menu ul.menu li, #sidebar-first .block-menu-block ul.menu li {
  margin: 0;
  list-style: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 0;
}

#sidebar-first .block-menu ul.menu li a, #sidebar-first .block-menu-block ul.menu li a {
  display: block;
  border-top: 1px solid #e9e6df;
  padding: 12px 0 12px 15px;
  color: #736C51;
}

#sidebar-first .block-menu ul.menu:first-child > li.last, #sidebar-first .block-menu-block ul.menu:first-child > li.last {
  border-bottom: 1px solid #e9e6df;
}

#sidebar-first .block-menu ul.menu li a:hover, #sidebar-first .block-menu ul.menu li a:focus, #sidebar-first .block-menu ul.menu a.active-trail, #sidebar-first .block-menu-block ul.menu li a:hover, #sidebar-first .block-menu-block ul.menu li a:focus, #sidebar-first .block-menu-block ul.menu a.active-trail {
  background-color: #fbfbf9;
  color: #2E2D29;
}

#sidebar-first .block-menu ul.menu li.active-trail ul, #sidebar-first .block-menu-block ul.menu li.active-trail ul {
  background-color: #fbfbf9;
}

#sidebar-first .block-menu ul.menu li ul, #sidebar-first .block-menu-block ul.menu li ul {
  padding: 0 0 0 15px;
}

#sidebar-first .block-menu ul.menu li ul li a, #sidebar-first .block-menu-block ul.menu li ul li a {
  border: medium none;
  font-weight: normal;
  padding: 3px 15px;
  text-transform: none;
}

#sidebar-first .block-menu ul.menu li ul li a:hover, #sidebar-first .block-menu ul.menu li ul li a:focus, #sidebar-first .block-menu ul.menu li ul li a.active-trail, #sidebar-first .block-menu-block ul.menu li ul li a:hover, #sidebar-first .block-menu-block ul.menu li ul li a:focus, #sidebar-first .block-menu-block ul.menu li ul li a.active-trail {
  color: #2e2d29;
}

#sidebar-first .block-menu > h2 a, #sidebar-first .block-menu-block > h2 a {
  color: #736C51;
}

#sidebar-first .block-menu > h2 a:hover, #sidebar-first .block-menu-block > h2 a:hover, #sidebar-first .block-menu > h2 a:focus, #sidebar-first .block-menu-block > h2 a:focus {
  color: #2E2D29;
}

#sidebar-first .block-menu-block .content > .nav > li.expanded > ul, #sidebar-first .block-menu .content > .nav > li.expanded > ul {
  padding-bottom: 1em;
}

/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */
ul.pager li {
  margin: 0;
}

ul.nav-pills a.active {
  background: transparent;
}

ul.pager li a {
  background-color: #f2f1eb;
  border-radius: 6px;
  border: 0px;
  padding: 4px 10px;
}

ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #e3dfd5;
  color: black;
}

ul.pager li.pager-current {
  border-radius: 6px;
  border: 0px;
  padding: 4px 10px;
  margin: 0;
}

.item-list .pager li {
  padding: 0;
}

/* SIDEBARS ******************************* */
/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
#footer {
  background: #f2f1eb;
  padding: 0 0 50px 0;
  margin-bottom: 0;
}

#footer .block {
  margin-top: 30px;
}

#footer h2 {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 0 0.8em 2px;
  padding-top: 10px;
}

#footer ul li a, #footer ul li a.active {
  color: #736C51;
}

#footer h2 a {
  color: #820000;
}

#footer ul {
  font-size: 12px;
  margin: 0;
  margin-left: 2px;
}

#footer ul li {
  list-style: none outside none;
  margin: 0 0 0.6em;
  padding: 0;
  line-height: 1em;
}

#footer ul li a:hover, #footer h2 a:hover, #footer ul li a:focus, #footer h2 a:focus {
  color: #2e2d29;
}

#footer .nav > li > a:hover, #footer .nav > li > a:focus {
  background-color: transparent;
}

/* CONTENT ******************************** */
.node .submitted {
  color: #8A887D;
}

.region-content {
  margin-bottom: 30px;
}

#content-head {
  margin-bottom: 0px;
}

.node-teaser {
  margin-bottom: 1em;
}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */
.page-search div.node-teaser {
  border-top: 1px solid #e6e4db;
  margin-bottom: 30px;
  padding-top: 10px;
}

.page-search div.ds-search-extra {
  margin-bottom: 15px;
}

.page-search div.node-teaser h2 {
  margin-top: 15px;
  font-size: 16px;
}

.page-search div.node-teaser h2 a {
  font-size: 22px;
}

.page-search div.node-teaser ul.links {
  margin: 0;
}

.page-search div.node-teaser ul.links li {
  padding: 0;
}

/* ----- Views Row Lines ------------- */
.views-row-lines .views-row {
  border-bottom: 1px solid #f1f2ed;
}

.views-row-lines .views-row-1 {
  border-top: 1px solid #f1f2ed;
}

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
.sub-block h2 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

/* ----- Wells ----------------------- */
.well {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #d5d2c5;
  background: #f2f1eb;
  padding: 10px 25px 20px 25px;
}

#sidebar-second .well-sidebar-only, #sidebar-first .well-sidebar-only {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 1px solid #d5d2c5;
  background: #f2f1eb;
  padding: 10px 25px 20px 25px;
}

#sidebar-second .well-sidebar-only h2, #sidebar-first .well-sidebar-only h2 {
  border: medium none;
}

/* ----- Tiles ---------------------- */
.tile-link {
  margin-bottom: 1em;
  background: #8c1515;
}

.tile-link h2 {
  margin-bottom: 0;
}

.tile-link h2 a {
  display: block;
  padding: 0.5em 0.75em;
  color: #fff;
}

.tile-link h2 a:hover, .tile-link h2 a:focus {
  color: #fff;
}

.tile-link:hover, .tile-link:focus {
  cursor: pointer;
  opacity: 0.8;
}

.content-body .tile-link .field.field-name-tile-display-image,
.content-body .tile-link .field.field-name-tile-display-title,
.content-body .tile-link .field.field-name-field-s-lp-item-image {
  margin-bottom: 0;
}

/* ----- Callouts and Blockquotes ---- */
blockquote p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0.5em;
  color: black;
}

blockquote h3 {
  margin-bottom: 0.5em;
}

.topline, .bracket {
  border-top: 1px solid #e6e4db;
}

.bracket {
  border-bottom: 1px solid #e6e4db;
}

.callout {
  border: 1px solid #e6e4db;
}

.credits {
  color: #B3B3B3;
  font-size: 10px;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

/* ----- Pullquote Text -------------- */
/* POSTCARD LAYOUTS ********************** */
/* IMAGES ******************************** */
#main .border-hairline img {
  border: 1px solid #dad5cb;
}

#main .border-underline img {
  border-bottom: 4px solid #E3DFD5;
}

#main .border-bottom img {
  border-bottom: 1px solid #c7c2b1;
}

#main .border-simple-nowidth img,
#main .border-simple img {
  background-color: #E3DFD5;
}

#main .border-simple a:hover img {
  background-color: #d9d4c6;
}

#main .border-hairline a:hover img {
  border: 1px solid #d9d4c6;
}

/* ICONS ********************************* */
/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */
/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */
/* STANFORD FEATURES OVERRIDES *********** */
/* ----- Views Slideshow ------------- */
/* ----- Banner Image Slideshow ------ */
.banner-overlay {
  height: 0;
  position: absolute;
}

.banner-overlay > div {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
  color: #F2F1EB;
  position: relative;
  margin-left: 6px;
  max-width: 60%;
  padding: 10px;
  top: -170px;
}

.banner-overlay p {
  display: inline;
  margin-right: 15px;
  font-size: 14px;
}

.banner-overlay h2, .banner-overlay h3, .banner-overlay h4 {
  margin-top: 0;
}

.banner-overlay-caption {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 8px;
}

/* ----- Stanford Events Importer ---- */
.view-stanford-events-list label {
  display: inline-block;
  width: 15%;
  margin: 0 2% 0 0;
  vertical-align: top;
  text-align: right;
  font-weight: 600;
  color: #666;
}

.view-stanford-events-list .field-content {
  display: inline-block;
  width: 80%;
  vertical-align: top;
}

.view-stanford-events-list .views-field-title .field-content {
  width: auto;
}

.view-stanford-events-list .views-row {
  margin: 0 0 1em 0;
  padding: 1em;
}

.view-stanford-events-list .views-row .views-field-title {
  margin: 0 0 1em 0;
}

.view-stanford-events-list .views-row .views-field-title a {
  font-size: 1.5em;
  font-weight: 600;
}

.view-stanford-events-list .views-row-odd {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}

/* ----- Stanford Events Views ------- */
/* ----- Stanford Courses ------------ */
.field-field-stanford-course-code .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-code .field-items {
  display: inline-block;
}

.field-field-stanford-course-subject .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-subject .field-items {
  display: inline-block;
}

.field-field-stanford-course-year .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-year .field-items {
  display: inline-block;
}

.field-field-stanford-course-course-id .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-course-id .field-items {
  display: inline-block;
}

.field-field-stanford-course-tag-org .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-tag-org .field-items {
  display: inline-block;
}

.field-field-stanford-course-tag-org .field-item {
  display: inline-block;
  margin: 0 1em 0 0;
}

.field-field-stanford-course-tag-name .field-label {
  display: inline-block;
  width: 30%;
  padding: 0 0 1em 0;
}

.field-field-stanford-course-tag-name .field-items {
  display: inline-block;
}

.field-field-stanford-course-tag-name .field-item {
  display: inline-block;
  margin: 0 1em 0 0;
}

/* ----- Stanford Carousel ------- */
.view.carousel .carousel-caption.carousel-dark a.more-link, .view.carousel .carousel-caption.carousel-dark .more-link a {
  color: #9D9573;
}

/* color for SUFW more-link */
.view.carousel .carousel-caption.carousel-dark a.more-link:hover, .view.carousel .carousel-caption.carousel-dark .more-link a:hover,
.view.carousel .carousel-caption.carousel-dark a.more-link:focus, .view.carousel .carousel-caption.carousel-dark .more-link a:focus {
  color: #cfccbb;
}

/* color for SUFW more-link hover */
.view.carousel .carousel-indicators li {
  background-color: #FFFFFF;
  border: 1px solid #8c1515;
}

.view.carousel .carousel-indicators .active {
  background-color: #8c1515;
}

.view.carousel .carousel-indicators li:hover {
  cursor: pointer;
  background-color: #8c1515;
}

@media (min-width: 768px) and (max-width: 979px) {
  .view.carousel .carousel-block .carousel-caption.carousel-light, .view.carousel .carousel-caption.carousel-light {
    background: #F2F1EB;
  }

  /* color for SUFW slide bkg */
  #main-content .carousel img {
    border: 15px solid #F2F1EB;
  }

  /* color for SUFW slide bkg */
  .view.carousel .carousel-caption.carousel-dark a.more-link, .view.carousel .carousel-caption.carousel-dark .more-link a {
    color: #736C51;
  }

  /* color for SUFW more-link (normal) */
  .view.carousel .carousel-caption.carousel-dark a.more-link:hover, .view.carousel .carousel-caption.carousel-dark .more-link a:hover,
  .view.carousel .carousel-caption.carousel-dark a.more-link:focus, .view.carousel .carousel-caption.carousel-dark .more-link a:focus {
    color: #9D9573;
  }

  /* color for SUFW more-link hover (normal) */
}
@media (max-width: 630px) {
  .view.carousel .carousel-block .carousel-caption.carousel-light, .view.carousel .carousel-caption.carousel-light {
    background: #F2F1EB;
  }

  /* color for SUFW slide bkg */
  #main-content .carousel img {
    border: 15px solid #F2F1EB;
  }

  /* color for SUFW slide bkg */
  .view.carousel .carousel-caption.carousel-dark a.more-link, .view.carousel .carousel-caption.carousel-dark .more-link a {
    color: #736C51;
  }

  /* color for SUFW more-link (normal) */
  .view.carousel .carousel-caption.carousel-dark a.more-link:hover, .view.carousel .carousel-caption.carousel-dark .more-link a:hover,
  .view.carousel .carousel-caption.carousel-dark a.more-link:focus, .view.carousel .carousel-caption.carousel-dark .more-link a:focus {
    color: #9D9573;
  }

  /* color for SUFW more-link hover (normal) */
}
/* ----- THEME OPTION ----- */
/* ----- Header Background Image Full Bleed ----- */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar {
  color: #ffffff;
  /* text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar a {
  color: #c6b386;
  /* link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content .nav-tabs a:hover {
  color: #8c1515;
  /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .main .mc-content h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h6 {
  color: #ffffff;
  /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu {
  color: #333333;
  /* well text color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu a {
  color: #736C51;
  /* well link color */
}

.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h6 {
  color: #333333;
  /* heading color */
}

.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar,
.front.header-bkg.header-bkg-style-frontbleed #footer {
  background: #f2f1eb;
}

.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar nav {
  margin: 0 0 0 15px;
}

.front.header-bkg.header-bkg-style-frontbleed .sidebar .block-menu,
.front.header-bkg.header-bkg-style-frontbleed .sidebar .block-menu-block {
  background: #f2f1eb;
  padding: 1.3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
div.error {
  background-position: 10px 15px;
  background-repeat: no-repeat;
  border-color: #ED541D;
  min-height: 24px;
  padding: 10px 10px 10px 45px;
}

.nav-tabs > li > a:hover {
  border-color: #DDDDDD;
  background-color: #F2F1EB;
}

#main ul.nav-tabs > li > a {
  padding: 5px 15px;
}

#main ul.nav-tabs > li > a:hover, #main ul.nav-tabs > li > a:focus {
  background-color: #F2F1EB;
}

#main .nav-tabs > .active > a, #main .nav-tabs > .active > a:hover, #main .nav-tabs > .active > a:focus {
  background-color: white;
}

.edit-link a, a.edit-link {
  display: inline-block;
  padding: 3px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #DAD7CB;
  margin: 10px 0 0;
}

.edit-link a:hover, a.edit-link:hover, .edit-link a:focus, a.edit-link:focus {
  background-color: #8c1515;
  color: #FFFFFF;
}

/* ----- User Block ------------------ */
/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
/* Mobile Styles */
@media (max-width: 300px) {
  #nav-search .form-item input {
    width: 100px;
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  /* Main Menu */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    padding: 5px 10px;
  }

  /* Banner Overlay */
  .banner-overlay {
    position: inherit;
  }

  .banner-overlay > div {
    position: inherit;
    margin: 0px;
    max-width: 100%;
  }
}
@media (max-width: 640px) {
  /* Stanford Events Importer */
  .view-stanford-events-list label {
    width: 30%;
  }

  .view-stanford-events-list .field-content {
    width: 65%;
  }
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Main Menu */
  #main-menu ul.menu li {
    display: block;
  }

  .navbar-inner {
    background: none repeat scroll 0 0 #F2F1EB;
    border: none;
    box-shadow: none;
    padding: 5px 10px 2px 10px;
  }

  #nav-search {
    margin-top: 0px;
  }

  .navbar .nav > li > a {
    margin: 0;
  }

  .navbar .nav > .active > a, .navbar .nav > .active-trail > a,
  .navbar .nav > .active > a:hover, .navbar .nav > .active-trail > a:hover,
  .navbar .nav > .active > a:focus, .navbar .nav > .active-trail > a:focus {
    background-color: white;
    box-shadow: none;
  }

  .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: white;
  }

  .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover, .navbar .nav > li > ul.dropdown-menu > li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: white;
    color: #8c1515;
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #8c1515;
    text-transform: none;
    margin-bottom: 5px;
    padding: 4px 8px;
  }

  .btn.btn-navbar {
    background: none repeat scroll 0 0 #8c1515;
    border: medium none;
    box-shadow: none;
  }

  .btn.btn-navbar:hover {
    background-color: #585754;
  }

  .navbar .btn-navbar .icon-bar {
    box-shadow: none;
  }
}
/* ----- Print ----------------------- */
@media print {
  body {
    background-color: transparent !important;
    background: none !important;
  }

  body.searchbox #header #site, #header #site {
    max-width: 78% !important;
  }

  #search, #navigation-primary, #navigation-secondary, #tabs-wrapper {
    display: none !important;
  }
}
