/* ----- Logo ------------------------ */

#header #logo {
    display: table-cell;
    padding: 0 10px 0 0;
    vertical-align: bottom;
    margin: 0;
    float: none;
    border-right: 1px solid #2E2D29;
    font-size: 14px;
    line-height: 1.4em;
}

#header #logo img {
    max-width: 180px;
}

#header #logo.site-logo {
    border: none;
}


/* ----- Site Title and Slogan ------- */

.site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5,
#site-slogan {
    font-family: 'Source Sans Pro', sans-serif !important;
}

#name-and-slogan {
    display: table-cell;
    padding: 0;
    vertical-align: bottom;
    height: auto;
    width: 100%;
}

#name-and-slogan.with-logo {
    padding-left: 10px;
}

#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5 {
    a,
    a:hover,
    a:focus {
        color: $clr-header-text;
        text-decoration: none;
    }
}

#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5 {
    a {
        font-weight: 400;
    }
}

#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3 {
    font-size: 31px;
    color: $clr-header-text;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.2em;
}

#site-name,
#site-title-first-line {
    margin-top: -4px;
    margin-bottom: -5px;
}

#site-title-second-line {
    margin-top: 3px;
    margin-bottom: -6px;
}

#site-title-line3 {
    margin-top: 4px;
    margin-bottom: -4px;
    font-style: italic;
}

#site-title-line4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
    padding-top: 8px;
    margin-bottom: 2px;
}

#site-title-line4 a {
    font-weight: 600;
}

@media (max-width: 480px) {
    #header #logo.logo-mobile #site-title-line4 {
        padding-top: 4px;
    }
}

#site-title-line5 {
    font-size: 30px;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin-top: 10px;
    font-weight: 400;
}

.two-lines {
    #site-name,
    #site-title-first-line,
    #site-title-second-line,
    #site-title-line3 {
        font-size: 26px;
        letter-spacing: 0;
        line-height: 1.15em;
    }
    #site-title-second-line {
        margin-top: 3px;
        margin-bottom: -3px;
    }
}

#site-slogan {
    font-size: 16px;
    color: $clr-header-text;
    line-height: 1.2em;
    font-style: italic;
    margin-bottom: -3px;
    margin-top: 6px;
}

#site-title-first-line.site-title-uppercase,
#site-title-first-line.site-title-uppercase a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: -7px;
}

#site-title-first-line.site-title-small-letters {
    font-size: 19px;
}

#site-title-first-line.site-title-very-small-letters {
    font-size: 13px;
    letter-spacing: 0;
    margin: -3px 0 -6px 1px;
}

#site-title-second-line.site-title-underneath {
    font-size: 24px;
    letter-spacing: 0;
    line-height: 1.15em;
    margin-top: 10px;
}

#site-title-line3.site-title-small-italics {
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: -2px;
}

#site-title-line3.site-title-small-title-case,
#site-title-line3.site-title-small-title-case a {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin-top: 8px;
    margin-bottom: -2px;
}

.site-title-line4 #site-title-line3.site-title-small-italics,
.site-title-line4 #site-title-line3.site-title-small-title-case {
    margin-top: 11px;
}

#site-title-line5.site-title-new-line-uppercase,
#site-title-line5.site-title-new-line-uppercase a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0;
}

@media (max-width: 480px) {
    #name-and-slogan {
        display: block;
        padding: 0px;
    }
    #header {
        padding-top: 20px;
    }
    #header #logo {
        display: none;
        border: none;
        text-align: left;
    }
    #header #logo.logo-mobile {
        display: block;
        margin-bottom: 20px;
        padding-right: 0px;
        background-size: 120px auto !important;
        border-right: none !important;
        box-shadow: none !important;
    }
    #header #logo.logo-mobile img {
        max-width: 120px;
    }
    #name-and-slogan.with-logo {
        padding: 0px;
    }
    #site-name,
    #site-slogan {
        text-align: left;
    }
    #site-slogan {
        font-size: 16px;
        line-height: 20px;
    }
    #site-name,
    #site-title-first-line,
    #site-title-second-line,
    #site-title-line3,
    #site-title-line5 {
        font-size: 24px;
    }
    #site-title-first-line.site-title-uppercase {
        font-size: 28px;
    }
    #wrap.site-title-underneath #site-title-second-line {
        padding-left: 0px;
    }
    #site-title-second-line.site-title-underneath {
        position: static;
    }
    #wrap.site-title-underneath #header .container {
        padding-bottom: 0px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #wrap.site-title-underneath #site-title-second-line {
        padding-left: 10px;
    }
}


/* Organization Signature Logo */

#header.organization {
    #logo {
        background-size: 150px auto !important;
    }
    #logo img {
        max-width: 150px;
    }
    @media (max-width: 480px) {
        #logo.logo-mobile {
            background-size: 120px auto !important;
        }
        #logo.logo-mobile img {
            max-width: 120px;
        }
        #logo.logo-mobile #site-title-line4 a {
            padding-bottom: 8px;
            border-bottom: 1px solid #2E2D29;
        }
    }
}


/* Engineering */

#header.org-engineering {
    #logo {
        background-position: left bottom 26px !important;
    }
    #site-title-line4 {
        font-size: 25px;
        margin-bottom: 0px;
        padding-top: 6px;
        white-space: nowrap;
    }
    @media (max-width: 480px) {
        #logo.logo-mobile {
            background-position: left bottom 23px !important;
        }
        #logo.logo-mobile #site-title-line4 {
            font-size: 20px;
        }
    }
}


/* School of H&S */

#header.org-school-of-hs {
    #logo {
        background-position: left bottom 26px !important;
    }
    #site-title-line4 {
        font-size: 21px;
        letter-spacing: 0.01em;
        margin-bottom: 0px;
        padding-top: 6px;
        white-space: nowrap;
    }
    @media (max-width: 480px) {
        #logo.logo-mobile {
            background-position: left bottom 23px !important;
        }
        #logo.logo-mobile #site-title-line4 {
            font-size: 16.6px;
        }
    }
}


/* Business Affairs */

#header.org-business-affairs {
    #logo {
        background-position: left bottom 21px !important;
    }
    #site-title-line4 {
        font-size: 18px;
        letter-spacing: 0.01em;
        word-spacing: 0.1em;
        margin-bottom: -2px;
        padding-top: 6px;
        white-space: nowrap;
    }
    @media (max-width: 480px) {
        #logo.logo-mobile {
            background-position: left bottom 21px !important;
        }
        #logo.logo-mobile #site-title-line4 {
            font-size: 14px;
            letter-spacing: 0.02em;
        }
    }
}


/* University IT */

#header.org-university-it {
    #logo {
        background-position: left bottom 21px !important;
    }
    #site-title-line4 {
        font-size: 20px;
        letter-spacing: 0.1em;
        word-spacing: 0.1em;
        margin-right: -2px;
        margin-bottom: 0px;
        padding-top: 6px;
        white-space: nowrap;
    }
    @media (max-width: 480px) {
        #logo.logo-mobile {
            background-position: left bottom 21px !important;
        }
        #logo.logo-mobile #site-title-line4 {
            font-size: 16px;
        }
    }
}
