/* THEME OPTIONS ************************** */


/* Header background image text color styles */

.header-bkg.header-bkg-text-light #site-name a,
.header-bkg.header-bkg-text-light #site-name a:hover,
.header-bkg.header-bkg-text-light #site-name a:active,
.header-bkg.header-bkg-text-light #site-title-first-line a,
.header-bkg.header-bkg-text-light #site-title-first-line a:hover,
.header-bkg.header-bkg-text-light #site-title-first-line a:active,
.header-bkg.header-bkg-text-light #site-title-second-line a,
.header-bkg.header-bkg-text-light #site-title-second-line a:hover,
.header-bkg.header-bkg-text-light #site-title-second-line a:active,
.header-bkg.header-bkg-text-light #site-title-line3 a,
.header-bkg.header-bkg-text-light #site-title-line3 a:hover,
.header-bkg.header-bkg-text-light #site-title-line3 a:active,
.header-bkg.header-bkg-text-light #site-title-line4 a,
.header-bkg.header-bkg-text-light #site-title-line4 a:hover,
.header-bkg.header-bkg-text-light #site-title-line4 a:active,
.header-bkg.header-bkg-text-light #site-title-line5 a,
.header-bkg.header-bkg-text-light #site-title-line5 a:hover,
.header-bkg.header-bkg-text-light #site-title-line5 a:active,
.header-bkg.header-bkg-text-light #site-slogan,
.header-bkg.header-bkg-text-light .site-login,
.header-bkg.header-bkg-text-light .site-login a {
    color: $clr-header-text-light;
    @include text-shadow($clr-header-text-shadow-light 0 0 2px);
}

.header-bkg.header-bkg-text-light #header #logo {
    border-color: $clr-header-border-light;
    @include box-shadow($clr-header-box-shadow-light 3px 0 3px -3px);
}

.header-bkg.header-bkg-text-light #header #logo.site-logo {
    @include box-shadow(none);
}

.header-bkg.header-bkg-text-dark #site-name a,
.header-bkg.header-bkg-text-dark #site-name a:hover,
.header-bkg.header-bkg-text-dark #site-name a:active,
.header-bkg.header-bkg-text-dark #site-title-first-line a,
.header-bkg.header-bkg-text-dark #site-title-first-line a:hover,
.header-bkg.header-bkg-text-dark #site-title-first-line a:active,
.header-bkg.header-bkg-text-dark #site-title-second-line a,
.header-bkg.header-bkg-text-dark #site-title-second-line a:hover,
.header-bkg.header-bkg-text-dark #site-title-second-line a:active,
.header-bkg.header-bkg-text-dark #site-title-line3 a,
.header-bkg.header-bkg-text-dark #site-title-line3 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line3 a:active,
.header-bkg.header-bkg-text-dark #site-title-line4 a,
.header-bkg.header-bkg-text-dark #site-title-line4 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line4 a:active,
.header-bkg.header-bkg-text-dark #site-title-line5 a,
.header-bkg.header-bkg-text-dark #site-title-line5 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line5 a:active,
.header-bkg.header-bkg-text-dark #site-slogan,
.header-bkg.header-bkg-text-dark #site-slogan,
.header-bkg.header-bkg-text-dark .site-login,
.header-bkg.header-bkg-text-dark .site-login a {
    color: $clr-header-text-dark;
    @include text-shadow($clr-header-text-shadow-dark 0 0 2px);
}

.header-bkg.header-bkg-text-dark #header #logo {
    border-color: $clr-header-border-dark;
    @include box-shadow($clr-header-box-shadow-dark 3px 0 3px -3px);
}

.header-bkg.header-bkg-text-dark #header #logo {
    @include box-shadow(none);
}


/* Header background image full-bleed for front page setting */

.front.header-bkg.header-bkg-image.header-bkg-style-frontbleed .header {
    background-image: none;
    background: transparent;
}

body.front.header-bkg-style-frontbleed {
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat;
    background-attachment: fixed !important;
    background-size: cover !important;
}

body.front.header-bkg-style-frontbleed .main {
    background: transparent;
}

@media (max-width: 480px) {
    .header-bkg.header-bkg-text-light {
        #header.organization #logo.logo-mobile #site-title-line4 a,
        {
            border-bottom: 1px solid $clr-header-border-light;
        }
    }
    .header-bkg.header-bkg-text-dark {
        #header.organization #logo.logo-mobile #site-title-line4 a,
        {
            border-bottom: 1px solid $clr-header-border-dark;
        }
    }
}
