/* Colors */
$clr-cardinal: #8c1515;
$clr-dark: #333;
$clr-light: #fff;
$clr-gray: #ccc;
$clr-gray-light: #ddd;

/* Header Module */
$clr-header-text: #3f3c30;

/* Brand Bar Module */
$clr-brand-link: #E3DFD5;

/* Theme Options Module */
$clr-header-text-light: #fff;
$clr-header-text-shadow-light: #000;
$clr-header-border-light: #fff;
$clr-header-box-shadow-light: rgba(0, 0, 0, 0.8);

$clr-header-text-dark: #000;
$clr-header-text-shadow-dark: #fff;
$clr-header-border-dark: #000;
$clr-header-box-shadow-dark: rgba(255, 255, 255, 0.6);
