/* line 1, ../sass/theme-settings.scss */
img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

/* line 8, ../sass/theme-settings.scss */
.form-item.form-type-radio.form-item-styles,
.form-item.form-type-radio.form-item-fonts {
  border: 1px solid #eee;
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: 1em;
  min-width: 270px;
}

/* line 17, ../sass/theme-settings.scss */
.form-item.form-type-radio.form-item-styles.active,
.form-item.form-type-radio.form-item-fonts.active {
  background: #f8fff0;
  border: 1px solid #bbee77;
}

/* line 23, ../sass/theme-settings.scss */
.design-style,
.design-font {
  background-repeat: no-repeat;
  height: 230px;
  width: 270px;
  background-position: 0px 30px;
  display: inline-block;
  margin-left: -18px;
  text-indent: 25px;
}

/* line 33, ../sass/theme-settings.scss */
.design-font {
  height: 255px;
}

/* line 37, ../sass/theme-settings.scss */
.ds-light {
  background-image: url(../screenshots/design-styles-light.png);
}

/* line 41, ../sass/theme-settings.scss */
.ds-dark {
  background-image: url(../screenshots/design-styles-dark.png);
}

/* line 45, ../sass/theme-settings.scss */
.ds-plain {
  background-image: url(../screenshots/design-styles-plain.png);
}

/* line 49, ../sass/theme-settings.scss */
.ds-rich {
  background-image: url(../screenshots/design-styles-rich.png);
}

/* line 53, ../sass/theme-settings.scss */
.ds-bright {
  background-image: url(../screenshots/design-styles-bright.png);
}

/* line 57, ../sass/theme-settings.scss */
.ds-high {
  background-image: url(../screenshots/design-styles-contrast.png);
}

/* line 61, ../sass/theme-settings.scss */
.ds-cardinal {
  background-image: url(../screenshots/design-styles-cardinal.png);
}

/* line 65, ../sass/theme-settings.scss */
.ds-vivid {
  background-image: url(../screenshots/design-styles-vivid.png);
}

/* line 69, ../sass/theme-settings.scss */
.df-sans {
  background-image: url(../screenshots/design-fonts-sans.png);
}

/* line 73, ../sass/theme-settings.scss */
.df-serif {
  background-image: url(../screenshots/design-fonts-serif.png);
}

/* line 77, ../sass/theme-settings.scss */
.df-slab {
  background-image: url(../screenshots/design-fonts-slab.png);
}

/* line 81, ../sass/theme-settings.scss */
#edit-header-container .fieldset-description {
  height: 180px;
  background-image: url(../screenshots/site-title.png);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 20px;
}

@media (max-width: 880px) {
  /* line 90, ../sass/theme-settings.scss */
  #edit-header-container .fieldset-description {
    height: 160px;
    background-size: 100%;
  }
}
