# Settings.php (which is modified by ACSF) must be included in the repository,
# so we explicitly override the standard docroot/.gitignore here. In fact we
# will list all ACSF files here, just in case the docroot/.gitignore was further
# customized.
!.gitignore
!acsf.settings.php
!settings.php
