/**
 * Course matrix styles
 */

// Remove the border header from the top left column so it doesn't look funny.
.views-matrix-col-first {
  border: 0;
}

// Table header
table.views-matrix tbody tr th.views-matrix-row-header,
table.views-matrix thead tr th.views-matrix-col-header {
  background: #e9e6df;
  color: #333333;
  vertical-align: top;
}

td.views-matrix-col-header.views-matrix-col-first {
  border: none;
}

// NO SIDEBAR REGIONS ACTIVE

table.sticky-header {
  width: 1170px;
  background: transparent;
}

@media (max-width: 1200px) {
  table.sticky-header {
      width: 940px;
  }
}

@media (max-width: 979px) {
  table.sticky-header {
      width: 723px;
  }
}

// FIRST OR SECOND SIDEBAR REGIONS ARE ACTIVE INDIVIDUALLY

.sidebar-first table.sticky-header,
.sidebar-second table.sticky-header {
  width: 870px;
}

@media (max-width: 1200px) {
  .sidebar-first table.sticky-header,
  .sidebar-second table.sticky-header {
      width: 699px;
  }
}

@media (max-width: 979px) {
  .sidebar-first table.sticky-header {
      width: 689px;
  }
  .sidebar-second table.sticky-header {
      width: 723px;
  }
}

// FIRST AND SECOND SIDEBAR REGIONS ARE ACTIVE SIMULTANEOUSLY

.two-sidebars table.sticky-header {
  width: 689px;
}

// Wrapper scope.
.view-stanford-courses-matrix {
  .sticky-header th {
    background: #e9e6df;
    color: #333333;
  }
}

.views-matrix-row-header p {
  margin-bottom: 0;
}

.views-matrix-row-header h3 {
  margin-top: 0;
}

table.views-matrix th,
table.views-matrix td {
  border: 1px solid #333333;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.views-matrix tbody {
    border-top: none;
    border-bottom: 1px solid #333333;
  }

  table.views-matrix th {
    border-bottom: none;
  }

  table.views-matrix tr {
    border: none;
  }

  table.views-matrix td {
    /* Behave  like a "row" */
    border: 1px solid #333333;
    border-bottom: none;
    position: relative;
    padding-left: 50%;
  }

  table.views-matrix tr.even,
  table.views-matrix tr.odd {
    padding: 0;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /**
   * Label the data.
   *I know this is bad and it should be translated.
   * @todo: Find a better solution for this. Possibly javascript? (SM)
   **/
  td:nth-of-type(1):before { content: "Autumn:"; font-weight: bold; }
  td:nth-of-type(2):before { content: "Winter:"; font-weight: bold; }
  td:nth-of-type(3):before { content: "Spring:"; font-weight: bold; }
  td:nth-of-type(4):before { content: "Summer:"; font-weight: bold; }

  td:nth-of-type(1),
  td:nth-of-type(2),
  td:nth-of-type(3),
  td:nth-of-type(4) {
    padding-left: 75px;
    min-height: 1em;
  }

  tr.odd {
    padding: 0;
  }

}

// Dark theme
.style-custom-styles-dark table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-dark table.views-matrix thead tr th.views-matrix-col-header {
  background: #232220;
  color: #fbfbf9;
}

.style-custom-styles-dark .view-stanford-courses-matrix {
  .sticky-header th {
    background: #232220;
    color: #fbfbf9;
  }
  .sticky-header td {
    background: #2e2d29;
  }
}

.style-custom-styles-dark table.views-matrix th,
.style-custom-styles-dark table.views-matrix td {
  border: 1px solid #fbfbf9;
}

.style-custom-styles-dark td.views-matrix-col-header.views-matrix-col-first {
  border: none;
}

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  .style-custom-styles-dark table.views-matrix tbody {
    border-bottom: 1px solid #fbfbf9;
  }

  .style-custom-styles-dark table.views-matrix td {
    border: 1px solid #fbfbf9;
  }
}

// Plain theme
.style-custom-styles-plain table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-plain table.views-matrix thead tr th.views-matrix-col-header {
  background: #e9e9e9;
}

.style-custom-styles-plain .view-stanford-courses-matrix {
  .sticky-header th {
    background: #e9e9e9;
  }
}

// Rich theme
.style-custom-styles-rich table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-rich table.views-matrix thead tr th.views-matrix-col-header {
  background: #d5d0c0;
  color: #3f3c30;
}

.style-custom-styles-rich .view-stanford-courses-matrix {
  .sticky-header th {
    background: #d5d0c0;
    color: #3f3c30;
  }
  .sticky-header td {
    background: #fbfbf9;
  }
}

// Bright theme
.style-custom-styles-bright table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-bright table.views-matrix thead tr th.views-matrix-col-header {
  background: #006374;
  color: #ffffff;
}

.style-custom-styles-bright .view-stanford-courses-matrix {
  .sticky-header th {
    background: #006374;
    color: #ffffff;
  }
}

// High Contrast theme
.style-custom-styles-contrast table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-contrast table.views-matrix thead tr th.views-matrix-col-header {
  background: #333333;
  color: #ffffff;
}

.style-custom-styles-contrast .view-stanford-courses-matrix {
  .sticky-header th {
    background: #333333;
    color: #ffffff;
  }
}

.style-custom-styles-contrast table.views-matrix th {
    border: 1px solid #ffffff;
    border-bottom: none;
}

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  .style-custom-styles-contrast table.views-matrix th {
    border: 1px solid #333333;
  }
}

// Cardinal theme
.style-custom-styles-cardinal table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-cardinal table.views-matrix thead tr th.views-matrix-col-header {
  background: #f2f1eb;
}

.style-custom-styles-cardinal .view-stanford-courses-matrix {
  .sticky-header th {
    background: #f2f1eb;
  }
}

// Vivid theme
.style-custom-styles-vivid table.views-matrix tbody tr th.views-matrix-row-header,
.style-custom-styles-vivid table.views-matrix thead tr th.views-matrix-col-header {
  background: #0f6c91;
  color: #ffffff;
}

.style-custom-styles-vivid .view-stanford-courses-matrix {
  .sticky-header th {
    background: #0f6c91;
    color: #ffffff;
  }
}

.style-custom-styles-vivid table.views-matrix th {
    border: 1px solid #ffffff;
}

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  .style-custom-styles-vivid table.views-matrix th {
    border: 1px solid #333333;
    border-bottom: none;
  }
}
