@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,300italic,700,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);
/* line 1, ../sass/fonts/_slab-styles.scss */
body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
}

/* line 7, ../sass/fonts/_slab-styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

/* line 11, ../sass/fonts/_slab-styles.scss */
h1 {
  font-weight: 400;
  letter-spacing: -0.04em;
  font-size: 2.5em;
  line-height: 1.4em;
}
@media (max-width: 480px) {
  /* line 11, ../sass/fonts/_slab-styles.scss */
  h1 {
    font-size: 2em;
  }
}

/* line 20, ../sass/fonts/_slab-styles.scss */
h2 {
  font-size: 1.5em;
  letter-spacing: -0.02em;
  line-height: 1.4em;
  margin: 1.3em 0 0.7em;
}

/* line 26, ../sass/fonts/_slab-styles.scss */
h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1.3em 0 .8em;
}

/* line 31, ../sass/fonts/_slab-styles.scss */
h4 {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  margin: 1.5em 0 1em;
}

/* line 41, ../sass/fonts/_slab-styles.scss */
strong {
  font-weight: 500;
}

/* line 46, ../sass/fonts/_slab-styles.scss */
.site-name,
#site-title-first-line,
#site-title-second-line {
  font-family: "Roboto Slab", serif;
  font-size: 3.5em;
}

/* line 52, ../sass/fonts/_slab-styles.scss */
.site-name a, .site-name a:hover,
#site-title-first-line a, #site-title-first-line a:hover,
#site-title-second-line a, #site-title-second-line a:hover {
  font-weight: 400;
  letter-spacing: -0.04em;
}

/* line 56, ../sass/fonts/_slab-styles.scss */
#site-slogan {
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  font-weight: 400;
}

/* line 61, ../sass/fonts/_slab-styles.scss */
.summary {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.5em;
}

/* line 67, ../sass/fonts/_slab-styles.scss */
.descriptor {
  font-size: .8em;
}

/* line 70, ../sass/fonts/_slab-styles.scss */
.credits {
  font-size: .8em;
  letter-spacing: 0.02em;
}

/* line 74, ../sass/fonts/_slab-styles.scss */
.caption {
  font-size: .8em;
}

/* line 79, ../sass/fonts/_slab-styles.scss */
.banner-overlay p {
  font-size: 16px;
}

/* line 82, ../sass/fonts/_slab-styles.scss */
a {
  font-weight: 400;
}

/* line 87, ../sass/fonts/_slab-styles.scss */
.normal-link h2, .normal-link h3, h2.normal-link, h3.normal-link {
  font-size: 16px;
}

/* line 90, ../sass/fonts/_slab-styles.scss */
a.btn, .btn a {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: inherit;
}

/* line 97, ../sass/fonts/_slab-styles.scss */
a.more-link, .more-link a {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 16px;
}

/* line 114, ../sass/fonts/_slab-styles.scss */
.block.well h2 {
  font-size: 1.2em;
  font-weight: 400;
}

/* line 118, ../sass/fonts/_slab-styles.scss */
#footer .block {
  font-size: 13px;
}

/* line 121, ../sass/fonts/_slab-styles.scss */
.navbar .nav > li > a {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  font-weight: 400;
}
