@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,400italic,300italic);
/* line 1, ../sass/fonts/_sans-styles.scss */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
}

/* line 7, ../sass/fonts/_sans-styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

/* line 11, ../sass/fonts/_sans-styles.scss */
h1 {
  font-weight: 300;
  letter-spacing: -0.04em;
  font-size: 3em;
  line-height: 1.3em;
}
@media (max-width: 480px) {
  /* line 11, ../sass/fonts/_sans-styles.scss */
  h1 {
    font-size: 2.5em;
  }
}

/* line 20, ../sass/fonts/_sans-styles.scss */
h2 {
  font-size: 1.8em;
  letter-spacing: -0.02em;
  line-height: 1.2em;
  margin: 0.7em 0 0.5em;
}

/* line 26, ../sass/fonts/_sans-styles.scss */
h3 {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0.9em 0 0.5em;
}

/* line 32, ../sass/fonts/_sans-styles.scss */
h4 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.3em;
  margin: 1em 0 .5em;
}

/* line 46, ../sass/fonts/_sans-styles.scss */
.site-name,
#site-title-first-line,
#site-title-second-line {
  font-size: 3.5em;
}

/* line 51, ../sass/fonts/_sans-styles.scss */
.site-name a, .site-name a:hover,
#site-title-first-line a, #site-title-first-line a:hover,
#site-title-second-line a, #site-title-second-line a:hover {
  font-weight: 300;
  letter-spacing: -0.04em;
}

/* line 55, ../sass/fonts/_sans-styles.scss */
#site-slogan {
  font-size: 1.3em;
  font-weight: 400;
}

/* line 59, ../sass/fonts/_sans-styles.scss */
.summary {
  font-size: 1.3em;
}

/* line 62, ../sass/fonts/_sans-styles.scss */
.descriptor {
  font-size: .8em;
}

/* line 65, ../sass/fonts/_sans-styles.scss */
.credits {
  font-size: .8em;
  letter-spacing: 0.02em;
}

/* line 69, ../sass/fonts/_sans-styles.scss */
.caption {
  font-size: .8em;
}

/* line 74, ../sass/fonts/_sans-styles.scss */
.banner-overlay p {
  font-size: 16px;
}

/* line 77, ../sass/fonts/_sans-styles.scss */
a {
  font-weight: 600;
}

/* line 82, ../sass/fonts/_sans-styles.scss */
.normal-link h2, .normal-link h3, h2.normal-link, h3.normal-link {
  font-size: 16px;
}

/* line 85, ../sass/fonts/_sans-styles.scss */
a.btn, .btn a {
  font-weight: 400;
  font-size: inherit;
}

/* line 91, ../sass/fonts/_sans-styles.scss */
a.more-link, .more-link a {
  font-weight: 600;
  font-size: 16px;
}

/* line 107, ../sass/fonts/_sans-styles.scss */
.block.well h2 {
  font-size: 1.3em;
  font-weight: 600;
}

/* line 111, ../sass/fonts/_sans-styles.scss */
#footer .block {
  font-size: 14px;
}

/* line 114, ../sass/fonts/_sans-styles.scss */
.navbar .nav > li > a {
  font-size: 1.2em;
  font-weight: 600;
}
