/* line 1, ../sass/styles/_styles.scss */
body {
  color: #3f3c30;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_styles.scss */
.header {
  background: #d5d0c0;
}

/* line 8, ../sass/styles/_styles.scss */
.site-main-menu {
  background: #d5d0c0;
  border-bottom: 1px solid #d5d0c0;
}

/* line 12, ../sass/styles/_styles.scss */
.main {
  background: #fbfbf9;
}

/* line 15, ../sass/styles/_styles.scss */
.bodybg .main {
  background: transparent;
}

/* line 18, ../sass/styles/_styles.scss */
.site-footer {
  background: #5e3032;
}

/* line 21, ../sass/styles/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  color: #3f3c30;
}

/* line 24, ../sass/styles/_styles.scss */
h1 {
  color: #3f3c30;
}

/* line 27, ../sass/styles/_styles.scss */
h2, h2 a, h2 a:hover, h2 a:focus {
  color: #3f3c30;
}

/* line 30, ../sass/styles/_styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: underline;
}

/* line 49, ../sass/styles/_styles.scss */
.site-name a, .site-name a:hover,
#site-title-first-line a, #site-title-first-line a:hover,
#site-title-second-line a, #site-title-second-line a:hover {
  color: #3f3c30;
}

/* line 52, ../sass/styles/_styles.scss */
#site-title-first-line.site-title-uppercase a, #site-title-first-line.site-title-uppercase a:hover {
  font-weight: 400;
}

/* line 55, ../sass/styles/_styles.scss */
#site-slogan {
  color: #3f3c30;
}

/* line 62, ../sass/styles/_styles.scss */
.descriptor-btn a, a.descriptor-btn {
  color: #3f3c30;
  background-color: #d5d0c0;
}

/* line 66, ../sass/styles/_styles.scss */
.descriptor-btn a:hover, a.descriptor-btn:hover, .descriptor-btn a:focus, a.descriptor-btn:focus {
  background-color: #3f3c30;
  color: #fbfbf9;
  text-decoration: none;
}

/* line 73, ../sass/styles/_styles.scss */
.caption {
  color: #8a887d;
}

/* line 78, ../sass/styles/_styles.scss */
a, .normal-link a {
  color: #8f7029;
}

/* line 81, ../sass/styles/_styles.scss */
a:hover, a:focus, .normal-link a:hover, .normal-link a:focus {
  color: #3f3c30;
}

/* line 84, ../sass/styles/_styles.scss */
a.btn, .btn a {
  background: #5e3032;
  color: #fbfbf9;
}

/* line 88, ../sass/styles/_styles.scss */
a.btn:hover, a.btn:focus, .btn a:hover, .btn a:focus {
  background: #3f3c30;
  color: #fbfbf9;
}

/* line 92, ../sass/styles/_styles.scss */
a.more-link, .more-link a {
  color: #8f7029;
}

/* line 95, ../sass/styles/_styles.scss */
a.more-link:hover, a.more-link:focus, .more-link a:hover, .more-link a:focus {
  color: #3f3c30;
}

/* line 100, ../sass/styles/_styles.scss */
a.edit-link:hover, a.edit-link:focus, .edit-link a:hover, .edit-link a:focus {
  background: #3f3c30;
  color: #fbfbf9;
  text-decoration: none;
}

/* line 109, ../sass/styles/_styles.scss */
th, td {
  border: 1px solid #d5d0c0;
}

/* line 112, ../sass/styles/_styles.scss */
th {
  background: #d5d0c0;
}

/* line 115, ../sass/styles/_styles.scss */
td.active {
  background: rgba(213, 208, 192, 0.5);
}

/* line 119, ../sass/styles/_styles.scss */
.main .border-simple-nowidth img,
.main .border-simple img {
  background-color: #d5d0c0;
}

/* line 124, ../sass/styles/_styles.scss */
.main .border-underline img,
.main .border-hairline img,
.main .border-bottom img {
  border-color: #d5d0c0;
}

/* line 131, ../sass/styles/_styles.scss */
.well {
  background: #d5d0c0;
}

/* line 136, ../sass/styles/_styles.scss */
.tile-link {
  margin-bottom: 1em;
  background: #5e3032;
}

/* line 140, ../sass/styles/_styles.scss */
.tile-link h2 {
  margin: 0;
}

/* line 143, ../sass/styles/_styles.scss */
.tile-link h2 a {
  display: block;
  padding: 0.5em 0.75em;
  color: #fbfbf9;
}

/* line 148, ../sass/styles/_styles.scss */
.tile-link h2 a:hover, .tile-link h2 a:focus {
  color: #fbfbf9;
  text-decoration: none;
}

/* line 152, ../sass/styles/_styles.scss */
.tile-link:hover, .tile-link:focus {
  cursor: pointer;
  opacity: 0.8;
}

/* line 158, ../sass/styles/_styles.scss */
.content-body .tile-link .field.field-name-tile-display-image,
.content-body .tile-link .field.field-name-tile-display-title,
.content-body .tile-link .field.field-name-field-s-lp-item-image {
  margin-bottom: 0;
}

/* line 161, ../sass/styles/_styles.scss */
.banner-overlay > div {
  background: #d5d0c0;
  background: rgba(213, 208, 192, 0.8);
}

/* line 165, ../sass/styles/_styles.scss */
.banner-overlay h2, .banner-overlay p, .banner-overlay-caption {
  color: #3f3c30;
}

/* line 168, ../sass/styles/_styles.scss */
.navbar .nav > li > a {
  color: #3f3c30;
  background: transparent;
}

/* line 177, ../sass/styles/_styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  color: #5e3032;
  background: transparent;
}
@media (max-width: 767px) {
  /* line 177, ../sass/styles/_styles.scss */
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus,
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover,
  .navbar .nav > .active-trail > a {
    color: #d5d0c0;
    background: #5e3032;
  }
}

@media (max-width: 767px) {
  /* line 186, ../sass/styles/_styles.scss */
  #main-nav {
    background: #fbfbf9;
  }
}
/* line 192, ../sass/styles/_styles.scss */
.sidebar .block-menu,
.sidebar .block-menu-block {
  background: #d5d0c0;
  padding: 1.3em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 200, ../sass/styles/_styles.scss */
.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
  font-size: 1.3em;
  font-weight: 600;
}

/* top level sidebar links */
/* line 206, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
  border-top: 1px solid #d8d8d5;
  padding: 0.5em;
}

/* line 211, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.last > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last > a {
  border-bottom: 1px solid #d8d8d5;
}

/* line 221, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
  background: #d5d0c0;
}

/* nested sidebar links */
/* line 226, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.expanded {
  padding-bottom: 0.75em;
}

/* line 230, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
  padding: 0.25em 0;
}

/* line 238, ../sass/styles/_styles.scss */
.sidebar .block-menu .content > .menu > li li a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:hover,
.sidebar .block-menu .content > .menu > li li a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a:focus,
.sidebar .block-menu .content > .menu > li li a.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a.active-trail {
  text-decoration: underline;
}

/* line 244, ../sass/styles/_styles.scss */
.sidebar .nav li a:hover,
.sidebar .nav li a:focus,
.sidebar .nav li a.active,
.sidebar .nav li a.active-trail {
  color: #3f3c30;
  text-decoration: none;
}

/* line 248, ../sass/styles/_styles.scss */
.dropdown-menu {
  background: #d5d0c0;
  border: 1px solid #d5d0c0;
  right: 1em;
  padding: 0;
}

/* line 256, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: transparent;
  color: #3f3c30;
}
@media (max-width: 767px) {
  /* line 256, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #d5d0c0;
    background: #5e3032;
  }
}

@media (max-width: 767px) {
  /* line 267, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown > a:hover .caret,
  .navbar .nav li.dropdown > a:focus .caret,
  .navbar .nav li.active-trail.dropdown .caret {
    border-bottom-color: #d5d0c0;
    border-top-color: #d5d0c0;
  }

  /* line 271, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open {
    color: #d5d0c0;
    background: #5e3032;
    padding-bottom: 0.5em;
    margin-bottom: 0.25em;
  }

  /* line 277, ../sass/styles/_styles.scss */
  .nav-collapse .dropdown-menu a {
    color: #d5d0c0;
    padding: 0.5em;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-weight: 400;
  }

  /* line 286, ../sass/styles/_styles.scss */
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background: #d5d0c0;
    color: #5e3032;
  }
}
/* line 291, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
  color: #5e3032;
  background: transparent;
}
@media (max-width: 767px) {
  /* line 291, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle:hover, .navbar .nav li.dropdown.open > .dropdown-toggle:focus, .navbar .nav li.dropdown.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.active > .dropdown-toggle:focus, .navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
    color: #d5d0c0;
    background: #5e3032;
  }
}

/* line 299, ../sass/styles/_styles.scss */
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #3f3c30;
  border-top-color: #3f3c30;
}
@media (max-width: 767px) {
  /* line 299, ../sass/styles/_styles.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #d5d0c0;
    border-top-color: #d5d0c0;
  }
}

/* line 308, ../sass/styles/_styles.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #d5d0c0;
  background: #3f3c30;
}

/* line 312, ../sass/styles/_styles.scss */
.bodybg .sidebar .region, .bodybg .content-wrapper {
  background-color: #fbfbf9;
}

/* line 315, ../sass/styles/_styles.scss */
.bodybg .sidebar .region {
  opacity: 1;
}

/* line 318, ../sass/styles/_styles.scss */
.borders .sidebar .region, .borders .content-wrapper, .bodybg.borders .breadcrumb {
  border: 1px solid #d5d0c0;
}

/* line 321, ../sass/styles/_styles.scss */
.roundedcorners .well {
  border-radius: 5px;
}

/* line 324, ../sass/styles/_styles.scss */
.breadcrumb {
  background-color: #fbfbf9;
  border-radius: 0;
}

/* line 328, ../sass/styles/_styles.scss */
.bean-stanford-social-media-connect a {
  opacity: 0.75;
}

/* line 331, ../sass/styles/_styles.scss */
.site-footer {
  border-top: 1px solid #d5d0c0;
}

/* line 334, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar {
  background: #d5d0c0;
}

/* line 338, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar {
  color: white;
  /* text color */
}

/* line 342, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar a {
  color: #c6b386;
  /* link color */
}

/* line 346, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content .nav-tabs a.active,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content .nav-tabs a:hover {
  color: #8f7029;
  /* heading color */
}

/* line 360, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .mc-content h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .main .mc-content h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .sidebar h6 {
  color: white;
  /* heading color */
}

/* line 364, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu {
  color: #3f3c30;
  /* well text color */
}

/* line 368, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well a,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu a {
  color: #8f7029;
  /* well link color */
}

/* line 382, ../sass/styles/_styles.scss */
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .well h6,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h1,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h2,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h3,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h4,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h5,
.front.header-bkg.header-bkg-style-frontbleed.header-bkg-text-light .main .block-menu h6 {
  color: #3f3c30;
  /* heading color */
}

/* line 386, ../sass/styles/_styles.scss */
.views-row-lines .views-row {
  border-color: #d5d0c0;
}

/* line 389, ../sass/styles/_styles.scss */
ul.pager li a {
  background-color: #d5d0c0;
  color: #3f3c30;
}

/* line 393, ../sass/styles/_styles.scss */
ul.pager li a:hover, ul.pager li a:focus, ul.pager li.pager-current {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 397, ../sass/styles/_styles.scss */
.date-stacked {
  background: #6a6860;
}
/* line 399, ../sass/styles/_styles.scss */
.date-stacked .date-month, .date-stacked .date-day {
  color: #fbfbf9;
}

/* Mini-calendar navigtaion */
/* line 404, ../sass/styles/_styles.scss */
.calendar-calendar td.mini a, .calendar-calendar td.mini .mini-day-off {
  color: #3f3c30;
}

/* line 407, ../sass/styles/_styles.scss */
.calendar-calendar .mini td {
  border-color: #fbfbf9;
  background: #d5d0c0;
}

/* line 411, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  border-color: #fbfbf9;
}

/* line 414, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.has-events {
  background: #bfbbac;
}

/* line 417, ../sass/styles/_styles.scss */
.calendar-calendar .mini td.today {
  background: #8f7029;
}

/* line 420, ../sass/styles/_styles.scss */
.calendar-calendar td.mini .mini-day-off {
  color: #3f3c30;
}

/* line 423, ../sass/styles/_styles.scss */
.calendar-calendar td.today .mini-day-off {
  color: #fbfbf9;
}

/* line 426, ../sass/styles/_styles.scss */
.calendar-calendar tr td.has-events a:hover {
  background: #8f7029;
  color: #fbfbf9;
}

/* line 430, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today a, .calendar-calendar tr td.today a:hover {
  background: #8f7029;
  color: #fbfbf9;
}

/* line 434, ../sass/styles/_styles.scss */
.calendar-calendar table.mini td.empty {
  background: #bfbbac;
}

/* line 437, ../sass/styles/_styles.scss */
.calendar-calendar th.days {
  background: #d5d0c0;
  color: #3f3c30;
}

/* line 441, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper {
  background: #d5d0c0;
}

/* line 444, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a {
  color: #8f7029;
}

/* line 447, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .date-heading a:hover {
  color: #8f7029;
}

/* line 450, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a {
  background: #fbfbf9;
  color: #bfbbac;
}

/* line 454, ../sass/styles/_styles.scss */
.view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-prev a:hover, .view-stanford-events-calendar .date-nav-wrapper .date-nav .pager li.date-next a:hover {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 458, ../sass/styles/_styles.scss */
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background-color: #8f7029;
  color: #fbfbf9;
}

/* line 463, ../sass/styles/_styles.scss */
#block-search-form input.search-query {
  border: 2px solid #d5d0c0;
  color: #3f3c30;
}

/* line 467, ../sass/styles/_styles.scss */
#block-search-form input.search-query:focus {
  color: black;
  -moz-box-shadow: 0px 0px 5px 3px #d5d0c0;
  -webkit-box-shadow: 0px 0px 5px 3px #d5d0c0;
  box-shadow: 0px 0px 5px 3px #d5d0c0;
}

/* line 1, ../sass/styles/_rich-styles.scss */
.header-bkg a.element-invisible.element-focusable {
  color: #3f3c30;
  background: #fbfbf9;
}

/* line 5, ../sass/styles/_rich-styles.scss */
.header-bkg .navbar {
  margin-bottom: 10px;
}

/* line 8, ../sass/styles/_rich-styles.scss */
.header-bkg .site-main-menu {
  border-top: 1px solid #d5d0c0;
}

/* line 11, ../sass/styles/_rich-styles.scss */
.navbar .nav > li > a {
  padding-bottom: .25em;
  border-bottom: 5px solid transparent;
}

/* line 20, ../sass/styles/_rich-styles.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active-trail > a {
  border-bottom: 5px solid #5e3032;
}

/* line 23, ../sass/styles/_rich-styles.scss */
.dropdown-menu {
  border-color: #3f3c30;
}

/* line 32, ../sass/styles/_rich-styles.scss */
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:focus,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > li > a:hover,
.header-bkg.header-bkg-style-frontbleed .site-main-menu .navbar .nav > .active-trail > a {
  color: #fbfbf9;
  background: #5e3032;
}

/* line 37, ../sass/styles/_rich-styles.scss */
h2 a:hover, h2 a:focus {
  text-decoration: none;
}

/* line 41, ../sass/styles/_rich-styles.scss */
.well a,
.well .menu li a {
  color: #5e4a1b;
}

/* line 44, ../sass/styles/_rich-styles.scss */
.site-footer {
  color: #fbfbf9;
}

/* line 47, ../sass/styles/_rich-styles.scss */
.site-footer .block h2 {
  color: #fbfbf9;
}

/* line 53, ../sass/styles/_rich-styles.scss */
.site-footer a,
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  color: #fbfbf9;
}

/* line 58, ../sass/styles/_rich-styles.scss */
.site-footer a:hover,
.site-footer a:focus,
.site-footer a.active {
  text-decoration: underline;
}

@media (max-width: 767px) {
  /* line 62, ../sass/styles/_rich-styles.scss */
  .navbar .btn-navbar {
    background: #5e3032;
  }
}
/* line 66, ../sass/styles/_rich-styles.scss */
.well .caption {
  color: #474640;
}

/* line 69, ../sass/styles/_rich-styles.scss */
th a {
  color: #644e1c;
}

/* line 73, ../sass/styles/_rich-styles.scss */
.banner-overlay a.more-link, .banner-overlay .more-link a {
  color: #3f3c30;
}
/* line 77, ../sass/styles/_rich-styles.scss */
.banner-overlay a.more-link:hover, .banner-overlay .more-link a:hover,
.banner-overlay a.more-link:focus, .banner-overlay .more-link a:focus {
  text-decoration: underline;
}

/* line 84, ../sass/styles/_rich-styles.scss */
.sidebar .block-menu .content > .menu > li > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a,
.sidebar .block-menu .content > .menu > li.last > a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last > a {
  border-color: #eae7df;
  color: #5e4a1b;
}

/* line 92, ../sass/styles/_rich-styles.scss */
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
  color: #3f3c30;
}

/* line 102, ../sass/styles/_rich-styles.scss */
.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus {
  background: #ddd9cc;
}
