a.private-link,
.private-link a {
  text-transform: none;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

.node-type-stanford-private-page #main-content h1 {
  background-image: url("../img/dark-object-large.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  padding: 4px 0 0 45px;
  margin-top: -8px;
}

.node-type-stanford-private-page.style-custom-styles-dark #main-content h1 {
  background-image: url("../img/light-object-large.png");
}

a.private-link::after {
  content: " ";
  background-image: url("../img/dark-object-small.png");
  background-position: 2px center;
  background-repeat: no-repeat;
  padding: 0 0 0 15px;
}

.style-custom-styles-dark a.private-link::after {
  background-image: url("../img/light-object-small.png");
}

.block-menu a.private-link::after {
  content: " ";
  background-image: url("../img/dark-object-small.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  padding: 0 0 0 15px;
}

.style-custom-styles-contrast .block-menu a.private-link::after,
.style-custom-styles-bright .block-menu a.private-link::after,
.style-custom-styles-dark .block-menu a.private-link::after {
  background-image: url("../img/light-object-small.png");
}

#block-menu-menu-menu-private-pages a::after {
  content: " ";
  background-image: url("../img/dark-object-small.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  padding: 0 0 0 15px;
}

.style-custom-styles-contrast #block-menu-menu-menu-private-pages a::after,
.style-custom-styles-bright #block-menu-menu-menu-private-pages a::after,
.style-custom-styles-dark #block-menu-menu-menu-private-pages a::after,
.style-custom-styles-vivid #block-menu-menu-menu-private-pages a::after {
  background-image: url("../img/light-object-small.png");
}

.style-custom-styles-vivid #block-menu-menu-menu-private-pages a:hover:after,
.style-custom-styles-vivid #block-menu-menu-menu-private-pages a:focus:after {
  background-image: url("../img/dark-object-small.png");
}

.style-custom-styles-vivid #block-menu-menu-menu-private-pages .active-trail a:after {
  content: " ";
  background-image: url("../img/dark-object-small.png");
  background-position: 5px center;
  background-repeat: no-repeat;
  padding: 0 0 0 15px;
}

.style-custom-styles-vivid #block-menu-menu-menu-private-pages .active-trail a:hover:after,
.style-custom-styles-vivid #block-menu-menu-menu-private-pages .active-trail a:focus:after {
  background-image: url("../img/dark-object-small.png");
}

a.btn.private-link::after {
  content: "";
  background-image: url("../img/light-object-small.png");
  background-position: 6px center;
  background-repeat: no-repeat;
  padding: 0 0 0 16px;
}

.view > .private-link {
  display: block;
}

p a.private-link {
  border-bottom: 0;
}

.style-custom-styles-contrast .site-footer a.private-link.btn {
  color: #ffffff;
}

.style-custom-styles-rich .site-footer a.private-link.btn {
  background: #5e4a1b;
}

.style-custom-styles-rich .site-footer a.private-link.btn:hover,
.style-custom-styles-rich .site-footer a.private-link.btn:focus {
  background: #3f3c30;
}
