
%red {
  background-color: #8c1515;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #d5d0c0;
  }
}

%black {
  background-color: #000;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #d5d0c0;
  }
}

%cool-gray {
  background-color: #4d4f53;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #d5d0c0;
  }
}

%light-taupe {
  background-color: #d5d0c0;
  color: #333;

  h2,
  h3,
  h4 {
    color: #333;
  }

  a,
  a:focus,
  a:hover {
    color: #4d4f53;
  }
}

%dark-taupe {
  background-color: #928b81;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #d5d0c0;
  }
}

%bright-green {
  background-color: #009b76;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #000;
  }
}

%bright-blue {
  background-color: #0f6c91;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #dad7cb;
  }
}

%deep-blue {
  background-color: #006374;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #dad7cb;
  }
}

%bright-yellow {
  background-color: #eaab00;
  color: #333;

  h2,
  h3,
  h4 {
    color: #333;
  }

  a,
  a:focus,
  a:hover {
    color: #53284f;
  }
}

%bright-orange {
  background-color: #e98300;
  color: #333;

  h2,
  h3,
  h4 {
    color: #333;
  }

  a,
  a:focus,
  a:hover {
    color: #4d4f53;
  }
}

%deep-purple {
  background-color: #53284f;
  color: #fff;

  h2,
  h3,
  h4 {
    color: #fff;
  }

  a,
  a:focus,
  a:hover {
    color: #dad7cb;
  }
}

@mixin paragraph-colors($color) {
  @extend %#{$color};
}
