.paragraphs-item-p-menu {
  .group-featured-image {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    max-width: 270px;

    div.field {
      margin-bottom: 0;
    }
  }

  @media (max-width: 767px) {
    padding: 0 1em;
  }
}
