.paragraphs-item-p-wysiwyg .group-left-column {
  margin-left: 0;
}

.paragraphs-item-p-wysiwyg .group-right-column {
  text-align: center;
}

@media (max-width: 767px) {
  .paragraphs-item-p-wysiwyg {
    padding: 0 1em;
  }
}
