.paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text {
  background-color: #8c1515;
  color: #fff;
}

.paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-red .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-text a:hover {
  color: #d5d0c0;
}

.paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text {
  background-color: #000;
  color: #fff;
}

.paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-black .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-text a:hover {
  color: #d5d0c0;
}

.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text {
  background-color: #4d4f53;
  color: #fff;
}

.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-text a:hover {
  color: #d5d0c0;
}

.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text {
  background-color: #d5d0c0;
  color: #333;
}

.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text h4 {
  color: #333;
}

.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-text a:hover {
  color: #4d4f53;
}

.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text {
  background-color: #928b81;
  color: #fff;
}

.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-text a:hover {
  color: #d5d0c0;
}

.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text {
  background-color: #009b76;
  color: #fff;
}

.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-text a:hover {
  color: #000;
}

.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text {
  background-color: #0f6c91;
  color: #fff;
}

.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-text a:hover {
  color: #dad7cb;
}

.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text {
  background-color: #006374;
  color: #fff;
}

.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-text a:hover {
  color: #dad7cb;
}

.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text {
  background-color: #eaab00;
  color: #333;
}

.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text h4 {
  color: #333;
}

.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-text a:hover {
  color: #53284f;
}

.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text {
  background-color: #e98300;
  color: #333;
}

.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text h4 {
  color: #333;
}

.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-text a:hover {
  color: #4d4f53;
}

.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text {
  background-color: #53284f;
  color: #fff;
}

.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon h2,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image h2,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text h2, .paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon h3,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image h3,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text h3, .paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon h4,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image h4,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text h4 {
  color: #fff;
}

.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text a, .paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text a:focus, .paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-icon a:hover,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-text a:hover {
  color: #dad7cb;
}

.paragraphs-item-p-icon {
  text-align: center;
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon,
.paragraphs-item-p-icon .field-name-field-p-icon-image,
.paragraphs-item-p-icon .field-name-field-p-icon-text {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 0 auto;
  font-size: 80px;
  position: relative;
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon a,
.paragraphs-item-p-icon .field-name-field-p-icon-image a,
.paragraphs-item-p-icon .field-name-field-p-icon-text a {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 80px;
  left: 0;
  top: 0;
  display: table;
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon a:hover, .paragraphs-item-p-icon .field-name-field-p-icon-icon a:focus,
.paragraphs-item-p-icon .field-name-field-p-icon-image a:hover,
.paragraphs-item-p-icon .field-name-field-p-icon-image a:focus,
.paragraphs-item-p-icon .field-name-field-p-icon-text a:hover,
.paragraphs-item-p-icon .field-name-field-p-icon-text a:focus {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon a > *,
.paragraphs-item-p-icon .field-name-field-p-icon-image a > *,
.paragraphs-item-p-icon .field-name-field-p-icon-text a > * {
  display: table-cell;
  vertical-align: middle;
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon a img,
.paragraphs-item-p-icon .field-name-field-p-icon-image a img,
.paragraphs-item-p-icon .field-name-field-p-icon-text a img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
}

.paragraphs-item-p-icon .field-name-field-p-icon-icon {
  line-height: 160px;
}

.paragraphs-item-p-icon .field-name-field-p-icon-image {
  line-height: 140px;
}

.paragraphs-item-p-icon .field-name-field-p-icon-text {
  font-size: 50px;
  line-height: 160px;
}

.paragraphs-item-p-icon .entity.entity-field-collection-item .field {
  margin-bottom: 0;
}

.paragraphs-item-p-icon img {
  max-height: 140px;
  max-width: 140px;
}
