/* Landing Page content type styles */

.node-type-vpsa-landing-page #content .content .field-collection-container {
  border-top: 1px solid #8C1515;
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;
}

.node-type-vpsa-landing-page .content .field .entity-field-collection-item {
  border-bottom: 1px solid #8C1515;
  margin-bottom: 1em;
  padding-bottom: 0;
  overflow: auto;
}

.node-type-vpsa-landing-page .field-name-field-v-postcard-group .field-name-field-v-link .field-item {
  padding-bottom: .5em;
}

.field-name-field-v-postcard-group .content > div {
  display: table;
}

.field-name-field-v-postcard-group .content > div > div {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.field-name-field-v-postcard-group .content > div .group-v-postcard-col1 {
  float: none;
  width: 13%;
}

.field-name-field-v-postcard-group .content > div .group-v-postcard-col2 {
  padding: 0 2em;
  margin: 0 2em;
}

.field-name-field-v-postcard-group .content > div .group-v-postcard-col3 {
   width: 25%;
}

.node-type-vpsa-landing-page .postcard-left > div:first-child img {
    margin-bottom: 0;
}

.page-node .content-body .field.field-name-field-v-image {
    margin-bottom: 0;
}

.node-type-vpsa-landing-page .postcard-left .more-link {
    display: block;
}
