$cardinal_clr-page-bkg: 		#ffffff;
$cardinal_clr-header-bkg: 	#8c1515;
$cardinal_clr-footer-bkg: 	#8c1515;

$cardinal_clr-well-bkg: 		#f2f1eb;
$cardinal_clr-line: 			#8c1515;
$cardinal_clr-hr: 			#f2f1eb;
$cardinal_clr-img-border: 	#c4bfa9;

$cardinal_clr-text: 			#333333;
$cardinal_clr-headers: 		#8c1515;
$cardinal_clr-header1: 		#333333;
$cardinal_clr-header2: 		#8c1515;

$cardinal_clr-link: 			#8c1515;
$cardinal_clr-link-hvr: 		#333333;
$cardinal_clr-btn-text: 		#fbfbf9;
$cardinal_clr-btn-text-hvr:	#ffffff;
$cardinal_clr-btn-bkg: 		#8c1515;
$cardinal_clr-btn-bkg-hvr: 	#333333;

$cardinal_clr-menu-text: 	#ffffff;
$cardinal_clr-menu-bkg:		transparent;
$cardinal_clr-menu-text-hvr: #333333;
$cardinal_clr-menu-bkg-hvr:	#ffffff;

$cardinal_clr-icons: 		#c4bfa9;