$contrast_clr-page-bkg: 		#ffffff;
$contrast_clr-header-bkg: 	#333333;
$contrast_clr-footer-bkg: 	#333333;

$contrast_clr-well-bkg: 		#333333;
$contrast_clr-line: 			transparent;
$contrast_clr-hr: 			#e9e9e9;
$contrast_clr-img-border: 	#e9e9e9;

$contrast_clr-text: 			#333333;
$contrast_clr-headers: 		#333333;
$contrast_clr-header1: 		#333333;
$contrast_clr-header2: 		#333333;

$contrast_clr-link: 			#8c1515;
$contrast_clr-link-hvr: 		#333333;
$contrast_clr-btn-text: 		#ffffff;
$contrast_clr-btn-bkg: 		#8c1515;
$contrast_clr-btn-bkg-hvr: 	#333333;
$contrast_clr-btn-text-hvr:	#ffffff;

$contrast_clr-menu-text: 	#ffffff;
$contrast_clr-menu-bkg:		transparent;
$contrast_clr-menu-text-hvr: #333333;
$contrast_clr-menu-bkg-hvr:	#ffffff;

$contrast_clr-icons: 		#888888;