/* Styles in this file originated from soe_helper.css */

/* ADD GOOGLE ROBOTO SLAB FONT */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a {
    font-weight: 400;
}

body {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5em;
    font-family:"Source sans pro", sans-serif;
}

.site-main-menu ul.menu li {
    font-size: .9em;
}

h1, h2 {
    font-family: "Roboto Slab", "Open sans", sans-serif;
}

h1 {
    font-weight: 400;
    margin: 9px 0 10px;
    font-size: 1.9em;
    letter-spacing: 0em;
}

h2 {
    font-size: 1.4em;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 1.3em;
}

.summary {
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 30px;
}
.descriptor {
    text-transform: none;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    margin-bottom: 4px;
    line-height: 1.2em;
}
.credits {
    margin-bottom: 0;
    margin-top: -8px;
    font-size: .7em;
}

.caption {
    font-size: .7em;
    font-style: normal;
}

li {
    line-height: 1.4em;
    margin-bottom: 10px;
}

.normal-link h2,
.normal-link h3,
h2.normal-link,
h3.normal-link {
    font-size: 1.1em;
}

.sidebar .block-menu h2,
.sidebar .block-menu-block h2 {
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
}

.date-day {
    font-size: 22px;
    font-family: "Roboto Slab", "Open sans", sans-serif;
    font-weight: 400;
}

/* WYSIWYG */

a.btn,
.btn a {
    margin: 0 0 26px;
    padding: .7em 1em;
    letter-spacing: 0.03em;
}

/* TABLES */

th,
td {
    padding: .8em;
    line-height: 1.3em;
    font-size: .9em;
}

th {
    background: #efefef;
    border: 1px solid #d6d6d6;
}

td {
    border: 1px solid #d6d6d6;
}

th,
td {
    border-right: none;
    border-left: none;
}


/*GRID*/

.view-stanford-person-grid .views-row h3 {
    font-size: 1em;
    margin: .6em 0 0;
}


/* LIST VIEW */

label,
input,
button,
select,
textarea {
    font-size: 16px;
}

.views-exposed-form label {
    font-weight: normal;
}

/*CALENDAR DAY + DATE SQUARE */
.date-day {
    font-size: 22px;
    font-family: "Roboto Slab";
    font-weight: 400;
}

.date-stacked {
    margin-top: 7px;
}


/*NEWS WIDGET*/
/*
.descriptor {
    text-transform: none;
    letter-spacing: 0.02em;
    font-size: 0.9em;
    margin-bottom: 4px;
    line-height: 1.2em;
}
*/
h3.block-item-title.news {
    font-size: 1em;
    margin-top: 5px;
}

h3.block-item-title a:hover {
    text-decoration:underline;
}

.postcard-left {
    margin-top: 6px;
}

.postcard-left-wrap > div:first-child img,
.postcard-left > div:first-child img {
    margin-top: 7px;
}
