/* CONTAINERS */

.well {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px, rgba(0, 0, 0, 0.1) 0 2px 2px 0px;
}


/* MAIN PAGE & MASTHEAD*/

.main {
    padding-top: 60px;
    background: #f8f8f8;
}

.header {
    background: #fff;
}

#block-search-form input.search-query {
    border: 1px solid #d6d6d6;
    box-shadow: none;
}


/* MAIN MENU */

.site-main-menu {
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.navbar {
    margin-bottom:0px;
}

.navbar .nav > li > a {
    margin-right: 1.2em;
    padding-bottom: 10px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav > .active-trail > a {
    border-bottom: 2px solid #333;
    padding-bottom: 13px;
}

/* SUB-NAVIGATION STYLES */

.sidebar .block-menu-block .menu-block-wrapper > .menu > li.last {
    border-bottom: none;
}

/* SUBNAV */

.sidebar .block-menu,
.sidebar .block-menu-block {
    background: #fff;
}

.sidebar .block-menu .content > .menu > li.active-trail,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li.active-trail,
.sidebar .block-menu .content > .menu > li > a.active,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a.active,
.sidebar .block-menu .content > .menu > li > a:hover,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:hover,
.sidebar .block-menu .content > .menu > li > a:focus,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li > a:focus,
.sidebar .block-menu .content > .menu > li.expanded,
.sidebar .block-menu-block .content > .menu > li.expanded {
    background: #efefef;
}

.sidebar .block-menu,
.sidebar .block-menu-block {
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0px, rgba(0, 0, 0, 0.1) 0 2px 2px 0px;
    margin: 1px;
}

.sidebar .block-menu .content > .menu > li li a,
.sidebar .block-menu-block .menu-block-wrapper > .menu > li li a {
    padding: 0.25em 0.25em;
}

/* IMAGES */

.main .border-shadow img {
    box-shadow: none;
}

.main .border-simple-nowidth img, .main .border-simple img {
    padding: 0px;
    background: #fff;
}

/* BUTTON LINK STYLES */

#content-body .content a.btn {
    display: inline-block;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 40px;
}

@media (max-width: 480px) {
    #content-body .content a.btn {
        width: 65%;
    }
}


/* AFTER CONTENT FOR HEADING LINKS */

#content .content-body .field-name-body h2 a:after,
#content .content-body .field-name-body h3 a:after,
#content .content-body .field-name-body h4 a:after,
#content .content-body .field-name-body h5 a:after,
#content .content-body .field-name-body h6 a:after {
    content: " >";
    vertical-align: middle;
}

.node-type-webform textarea {
    height: 100px;
}

/* LISTS */

ul.pager li a {
    border: 1px solid #d6d6d6;
    background: #fff;
    margin-bottom: 12px;
    margin-right: 4px;
    font-size: .9em;
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li.pager-current {
    margin-right: 4px;
    font-weight: 300;
}

.views-row-lines .views-row-1 {
    border-top: 1px solid #d6d6d6;
}

.views-row-lines .views-row {
    border-bottom: 1px solid #d6d6d6;
}

.node-type-stanford-landing-page .view-mode-stanford_medium_square {
    border-top: 1px solid #d6d6d6;
}

/* CALENDAR */

.view-stanford-events-calendar .view-header .date-nav-wrapper {
    background: #fff;
}

.calendar-calendar th.days {
    background: #efefef;
}
.calendar-calendar .mini td {
    background: #efefef;
}
.calendar-calendar table.mini td.empty {
    background: #d7d7d7;
}
.calendar-calendar .mini td.has-events {
    background: #d7d7d7;
}

/* FOOTER */

.site-footer {
    border-top: 1px solid #d6d6d6;
    background: #fff;
}
