#header #name a {font-size: 1.1em; white-space:nowrap;}
#header #slogan {font-size: 0.9em; white-space:nowrap;}

.topic_section img {float: left; position: static; top: 0; left: 0;}
.topic_content {background-color: transparent;}
.topic_content h3 {margin-left: 10px;}

#footer ul, #footer ul.menu {margin-left: 22px;}