/* THEME OPTIONS ************************** */

/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
body {background-color: #fbfbf9; background-image: url("../images/jordan_gradient_bkg.jpg"); background-position: center top; background-repeat:repeat-x;}

/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
h1, h2, h3, #nav, nav, .summary {font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;}
h2 {border-bottom: 4px solid #8c1515; padding: 0 0 6px;}
h3 {margin: 1.2em 0 0.2em;}
.content h2.block-title-style {border-bottom: 4px solid #8C1515; padding: 0 0 6px; font-size: 18px; font-weight: normal; letter-spacing: 0.02em; line-height: 1em; margin: 0 0 12px; text-transform: uppercase;}
.summary {line-height:1.2em; color:#565347;}
strong {letter-spacing: 0.02em;}
.img-description {font-size: 0.833em;} /* would like to phase this out as it's replaced by .caption */
.content h3:first-child {margin-top: 0;}

/* ----- Links ----------------------- */
p a {border-bottom:dotted 1px #827252;}
p a:hover {border-bottom:dotted 1px #2e2d29;}
p a.more-link {border-bottom:0;}
.btn-red a, a.btn-red {background-color: #8C1515; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5); -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5); box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5); color: white; padding: 7px 15px; }
.btn-red a:hover, a.btn-red:hover {background-color: #660E0E;}

/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */

/* ----- Forms ----------------------- */
input {color: #494949; margin: 0 0;}
textarea, select {color: #494949;}
fieldset {background-color: #f2f1eb; border: 1px solid #eee3c1; margin: 20px 0; padding: 20px;}
fieldset.collapsed {margin: 20px 0 0 0; padding: 0; background: none;}
fieldset legend a {border: 0px;}
fieldset legend {color: #333333;}
.form-item {margin-bottom: 1em;}
.form-item label {margin-bottom: 0.5em;}
.form-submit {margin-bottom: 1em;}
.description {margin-top: 0.5em;}

/* ----- Other ----------------------- */
hr {background: #eae9e6; color: #eae9e6; border: none; height: 1px; padding: 0;}

/* STANFORD BRAND BARS ******************** */
/* ----- Global Header --------------- */
/* ----- Global Footer --------------- */

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#header .container {padding: 0px 2% 0px 2%;}

/* ----- Search Box ------------------ */
#nav-search {margin-right: 0;}

/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */
#header #site {position: relative; padding: 5px 0 0 0;}
#header #site #name {clear: both; margin: 0; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; color: #820000; font-size: 3em; line-height: 1em; font-weight: normal; text-transform: uppercase;}
#header #site #name a {color: #820000;}
#header #site #slogan {margin: 2px 0 2px 2px; padding: 0; font-family: Georgia, "Times New Roman", Times, serif; color: #820000; text-transform: uppercase; letter-spacing: 1px;}

/* NAVIGATION ***************************** */

/* ----- Main Navigation ------------- */
nav {font-size: 18px; margin: 0 0 12px 0; padding: 0; text-transform: uppercase; line-height: 1em; font-weight:normal; letter-spacing:0.02em;}
.navbar .nav > li > a {color: #827252;}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {color: #827252;}
.dropdown-menu > li > a {padding: 10px 20px;}

@media (min-width: 768px) {
nav {border-top: 1px solid #dad5cb;}
.navbar-inner {background-color: transparent; background-image: none; background-repeat: no-repeat; border: none; border-radius: 0px; box-shadow: none; min-height: 0px; padding-left: 0px; padding-right: 0px; filter: none;}
.navbar .nav > li > a {color: #827252; text-transform: uppercase; border-radius: 0px; margin: -1px 25px 0 0; padding: 5px 0px 5px 0px; border-top: 1px solid transparent; float: none; text-decoration: none; text-shadow: none;}
.navbar .nav > .active > a, .navbar .nav > .active-trail > a,
.navbar .nav > .active > a:hover, .navbar .nav > .active-trail > a:hover,
.navbar .nav > .active > a:focus, .navbar .nav > .active-trail > a:focus {background-color: transparent; box-shadow: none; color: #827252; text-decoration: none; border-top: 1px solid #827252;}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {color: #827252; background: transparent; border-top: 1px solid #827252; text-decoration:none;}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {background-color: transparent; color: #827252;}
}

/* ----- Secondary Navigation -------- */
#navigation-secondary ul li {border-top: 1px solid #d5d0c0; float: left; margin: 0 20px 0 0; list-style: none; padding-top: 3px;}
#navigation-secondary ul li.last {margin: 0;} 
#navigation-secondary ul li.expanded {padding-right: 0;}
#navigation-secondary ul li.leaf {padding-right: 0;}
#navigation-secondary ul li a {color: #8c1515; font-size: 0.8333em; font-weight: bold; line-height: 2em; text-transform: uppercase;}
#navigation-secondary ul li ul li {border: none; clear: both;}
#navigation-secondary ul li ul li.leaf {padding-top: 0;}
#navigation-secondary ul li ul li a {color: #827252; font-size: 1em; font-weight: normal; line-height: 1em; text-transform: none;}

/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
#sidebar-first .block-book {font-size: 0.833em; font-weight: bold; text-transform: uppercase; border-top: 1px solid #e9e6df; border-bottom: 1px solid #e9e6df;}
#sidebar-first .block-book h2 {border: none; font-size: 1em; font-weight: bold; margin: 0; padding: 5px 0 10px 0px;}
#sidebar-first .block-book ul.menu {margin: 0; padding: 0;}
#sidebar-first .block-book ul.menu ul {padding-left: 7px; margin-top: 6px;}
#sidebar-first .block-book ul.menu li {border-top: 1px solid #e9e6df; margin: 0; padding: 15px 0 15px 10px;}
#sidebar-first .block-book ul.menu ul li {padding: 6px 0 6px 10px; border: none;}
#sidebar-first .block-book ul.menu a.active {color: #000000;}
#sidebar-first .block-menu ul.menu li a:hover, #sidebar-first .block-menu ul.menu a.active-trail {background-color:#ffffff;}
#sidebar-first .block-menu ul.menu li.active-trail ul {background-color:#ffffff;}
#sidebar-first .block-menu ul.menu li a:hover, #sidebar-first .block-menu ul.menu a.active-trail, #sidebar-first .block-menu-block ul.menu li a:hover, #sidebar-first .block-menu-block ul.menu a.active-trail {color: #827252;}

/* ----- Second Sidebar Menu Blocks -- */
#sidebar-second .block-book {font-size: 0.833em; font-weight: bold; text-transform: uppercase;}
#sidebar-second .block-book h2 {background: #bab19e; border: none; color: #ffffff; font-size: 1em; line-height: 3em; font-weight: bold; margin: 0; padding: 0 0 0 15px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px;}
#sidebar-second .block-book ul.menu {margin: 0; padding: 0;}
#sidebar-second .block-book ul.menu ul {padding-left: 7px; margin-top: 6px;}
#sidebar-second .block-book ul.menu li {background: #f2f1eb; border-top: 1px solid #fbfbf9; margin: 0; padding: 12px 5px 12px 10px;}
#sidebar-second .block-book ul.menu ul li {padding: 6px 5px 6px 10px; border: none;}
#sidebar-second .block-book a.active {color: #000000;}
#sidebar-second .block-menu ul.menu {margin: 0 0 0 25px; padding: 0;}
#sidebar-second .block-menu ul.menu li {list-style-type:square; list-style-image:url("../images/bullet.gif");}
#sidebar-second .block-menu ul.menu li a {color:#827252; padding:0px;}
#sidebar-second .block-menu ul.menu li a.active {color:#000000;}
#sidebar-second .block-menu ul.menu li ul {}
#sidebar-second .block-menu ul.menu li ul li.last {margin: 0;}
#sidebar-second .dropdown-menu {background-color:transparent;}

/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
#footer h2 {border-bottom:none; margin:0 0 0.4em 2px;}
#footer .block {border-top:1px solid #DAD5CB;}

/* CONTENT ******************************** */
#page-content .container {padding: 0px 2% 0px 2%;}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
.sub-block h2 {border-bottom:none; border-top:4px solid #8c1515; padding-top: 6px; margin-bottom:1em;}

/* ----- Wells ----------------------- */
.well, #sidebar-second .well-sidebar-only, #sidebar-first .well-sidebar-only {border-top: 5px solid #e3dfd5;}
.well h2 {border: none;}

/* ----- Callouts and Blockquotes ---- */
.topline {border-top: 4px solid #8C1515;}
.bracket {border-top: 4px solid #E3DFD5; border-bottom: 1px solid #E3DFD5;}

/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */
#main-content img {}

/* ICONS ********************************* */
.i-video {border: none; background: url(../images/icons-video.png) left center no-repeat; padding-left: 22px;}
.i-image {border: none; background: url(../images/icons-image.png) left center no-repeat; padding-left: 22px;}
.i-slide {border: none; background: url(../images/icons-slides.png) left center no-repeat; padding-left: 22px;}
.i-audio {border: none; background: url(../images/icons-audio.png) left center no-repeat; padding-left: 22px;}
.i-text {border: none; background: url(../images/icons-text.png) left center no-repeat; padding-left: 22px;}

/* HELPER CLASSES ************************ */

/* ----- Style ----------------------- */
.red {color: #8c1515;}
.sand {color: #827252;}
.lined {border-bottom: 4px solid #d2d2cf; padding: 0 0 1px 0;}

/* ----- Positioning ----------------- */

/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
.page-node .content-body .field.field-name-field-s-image-image {margin-bottom:10px;}
/* ----- Field Label Overrides ------- */

/* STANFORD FEATURES OVERRIDES *********** */
/* ----- Views Slideshow ------------- */
/* ----- Banner Image Slideshow ------ */
.banner-overlay {}
.banner-overlay h2 {color: #F2F1EB;}
.banner-overlay p {font-family: Georgia, "Times New Roman", Times, serif; font-size: 15px; line-height: 1.5em; margin-bottom: 8px;}
.banner-overlay a {color: #BBAA7B;}
.banner-overlay a:hover {color:#ddcf99;}

/* ----- Stanford Events Importer ---- */
/* ----- Stanford Events Views ------- */
.date-stacked {border-right: 1px solid #DAD5CB;}
.date-stacked .date-month {color: #81807C;}
.date-stacked .date-day {color: #94928E; font-family: "Crimson Text", Georgia, serif;}

/* ----- Stanford Courses ------------ */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
.messages, div.error, div.warning {border: none; background: #d0efc1; margin-top: 20px; padding: 20px;}
div.error {background: #f7cccc;}
div.warning {background: #f6f6c4;}
ul.tabs.primary {border-bottom: 1px solid #bab19e;}
ul.tabs.primary li a {background: #eae9e3; border: 1px solid #bab19e; border-bottom: 1px solid #eae9e3;}
ul.tabs.primary li a:hover {border: 1px solid #bab19e;}
ul.tabs.primary li.active a {background: #fbfbf9; border-bottom: 1px solid #fbfbf9;}
ul.tabs.secondary {border-bottom: 1px solid #bab19e; margin: 0; padding: 10px 0;}
ul.tabs.secondary li {border: none; margin: 0; padding: 5px 5px 10px 0;}
ul.tabs.secondary li a {background: none; margin: 0; padding: 10px 12px;}
ul.tabs.secondary li.active a {color: #8c1515; border-bottom: 3px solid #8c1515; padding-bottom: 9px;}
.help {border-bottom: 1px solid #e9e6df; padding-bottom: 10px; margin-top: 20px;}
.block-region {color: #000000;}
form#system-themes-form {overflow: auto;}

/* ----- User Block ------------------ */
#page-content .block-user {font-weight: bold; text-transform: uppercase; border-top: 1px solid #e9e6df; border-bottom: 1px solid #e9e6df; padding-bottom: 15px;}
#page-content .block-user h2 {border: none; font-size: 1em; font-weight: bold; margin: 0; padding: 15px 0 15px 10px;}
#page-content .block-user li {list-style-type: none; margin: 0px; padding: 0px;}
#page-content .block-user ul.menu {margin: 0; padding: 0;}
#page-content .block-user ul.menu ul {padding-left: 7px; margin-top: 0px;}
#page-content .block-user ul.menu li {border-top: 1px solid #e9e6df; margin: 0; padding: 15px 0 15px 10px;}
#page-content .block-user ul.menu ul li {padding: 6px 0 6px 10px; border: none;}
#page-content .block-user ul.menu a.active {color: #000000;}

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
@media (max-width: 767px) {
.navbar-inner {background: transparent;}	
}
@media (max-width: 640px) {
#navigation-primary {border-top: 1px solid transparent;}
#navigation-primary ul li a {border-top: 1px solid transparent; padding-top: 0px;}
}

@media (max-width: 480px) {
#sidebar-first .block-book, #sidebar-first .block-menu {font-size: 1em; border: none;}
#sidebar-first .block-book h2, #sidebar-first .block-menu h2 {padding: 0.5em 0px;}
#sidebar-second .block-book, #sidebar-second .block-menu {font-size: 1em;}
#sidebar-first select, #sidebar-second select {width: 100%;}
}

/* ----- Print ----------------------- */
