/* THEME OPTIONS ************************** */
/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* line 5, ../../sass/stanford_jordan/includes/_base.scss */
body {
  background-color: #fbfbf9;
  background-image: url("../../images/jordan_gradient_bkg.jpg");
  background-position: center top;
  background-repeat: repeat-x;
}

/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* line 9, ../../sass/stanford_jordan/includes/_base.scss */
h1, h2, h3, #nav, nav, .summary {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
}

/* line 10, ../../sass/stanford_jordan/includes/_base.scss */
h2 {
  border-bottom: 4px solid #8c1515;
  padding: 0 0 6px;
}

/* line 11, ../../sass/stanford_jordan/includes/_base.scss */
h3 {
  margin: 1.2em 0 0.2em;
}

/* line 12, ../../sass/stanford_jordan/includes/_base.scss */
.content h2.block-title-style {
  border-bottom: 4px solid #8C1515;
  padding: 0 0 6px;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1em;
  margin: 0 0 12px;
  text-transform: uppercase;
}

/* line 13, ../../sass/stanford_jordan/includes/_base.scss */
.summary {
  line-height: 1.2em;
  color: #565347;
}

/* line 14, ../../sass/stanford_jordan/includes/_base.scss */
strong {
  letter-spacing: 0.02em;
}

/* line 15, ../../sass/stanford_jordan/includes/_base.scss */
.img-description {
  font-size: 0.833em;
}

/* would like to phase this out as it's replaced by .caption */
/* line 16, ../../sass/stanford_jordan/includes/_base.scss */
.content h3:first-child {
  margin-top: 0;
}

/* ----- Links ----------------------- */
/* line 19, ../../sass/stanford_jordan/includes/_base.scss */
p a {
  border-bottom: dotted 1px #827252;
}

/* line 20, ../../sass/stanford_jordan/includes/_base.scss */
p a:hover {
  border-bottom: dotted 1px #2e2d29;
}

/* line 21, ../../sass/stanford_jordan/includes/_base.scss */
p a.more-link {
  border-bottom: 0;
}

/* line 22, ../../sass/stanford_jordan/includes/_base.scss */
.btn-red a, a.btn-red {
  background-color: #8C1515;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  color: white;
  padding: 7px 15px;
}

/* line 23, ../../sass/stanford_jordan/includes/_base.scss */
.btn-red a:hover, a.btn-red:hover {
  background-color: #660E0E;
}

/* ----- Lists ----------------------- */
/* ----- Tables ---------------------- */
/* ----- Forms ----------------------- */
/* line 29, ../../sass/stanford_jordan/includes/_base.scss */
input {
  color: #494949;
  margin: 0 0;
}

/* line 30, ../../sass/stanford_jordan/includes/_base.scss */
textarea, select {
  color: #494949;
}

/* line 31, ../../sass/stanford_jordan/includes/_base.scss */
fieldset {
  background-color: #f2f1eb;
  border: 1px solid #eee3c1;
  margin: 20px 0;
  padding: 20px;
}

/* line 32, ../../sass/stanford_jordan/includes/_base.scss */
fieldset.collapsed {
  margin: 20px 0 0 0;
  padding: 0;
  background: none;
}

/* line 33, ../../sass/stanford_jordan/includes/_base.scss */
fieldset legend a {
  border: 0px;
}

/* line 34, ../../sass/stanford_jordan/includes/_base.scss */
fieldset legend {
  color: #333333;
}

/* line 35, ../../sass/stanford_jordan/includes/_base.scss */
.form-item {
  margin-bottom: 1em;
}

/* line 36, ../../sass/stanford_jordan/includes/_base.scss */
.form-item label {
  margin-bottom: 0.5em;
}

/* line 37, ../../sass/stanford_jordan/includes/_base.scss */
.form-submit {
  margin-bottom: 1em;
}

/* line 38, ../../sass/stanford_jordan/includes/_base.scss */
.description {
  margin-top: 0.5em;
}

/* ----- Other ----------------------- */
/* line 41, ../../sass/stanford_jordan/includes/_base.scss */
hr {
  background: #eae9e6;
  color: #eae9e6;
  border: none;
  height: 1px;
  padding: 0;
}

/* STANFORD BRAND BARS ******************** */
/* ----- Global Header --------------- */
/* ----- Global Footer --------------- */
/* HEADER ********************************* */
/* ----- Header Region --------------- */
/* line 49, ../../sass/stanford_jordan/includes/_base.scss */
#header .container {
  padding: 0px 2% 0px 2%;
}

/* ----- Search Box ------------------ */
/* line 52, ../../sass/stanford_jordan/includes/_base.scss */
#nav-search {
  margin-right: 0;
}

/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */
/* line 56, ../../sass/stanford_jordan/includes/_base.scss */
#header #site {
  position: relative;
  padding: 5px 0 0 0;
}

/* line 57, ../../sass/stanford_jordan/includes/_base.scss */
#header #site #name {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #820000;
  font-size: 3em;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 58, ../../sass/stanford_jordan/includes/_base.scss */
#header #site #name a {
  color: #820000;
}

/* line 59, ../../sass/stanford_jordan/includes/_base.scss */
#header #site #slogan {
  margin: 2px 0 2px 2px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #820000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* line 64, ../../sass/stanford_jordan/includes/_base.scss */
nav {
  font-size: 18px;
  margin: 0 0 12px 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 0.02em;
}

/* line 65, ../../sass/stanford_jordan/includes/_base.scss */
.header-bkg #main-menu {
  padding-top: 0;
}

/* line 66, ../../sass/stanford_jordan/includes/_base.scss */
.navbar .nav > li > a {
  color: #827252;
}

/* line 67, ../../sass/stanford_jordan/includes/_base.scss */
.navbar .nav > li > a:hover, .navbar .nav > li > a:active {
  color: #827252;
}

/* line 68, ../../sass/stanford_jordan/includes/_base.scss */
.dropdown-menu > li > a {
  padding: 10px 20px;
}

@media (min-width: 768px) {
  /* line 71, ../../sass/stanford_jordan/includes/_base.scss */
  nav {
    border-top: 1px solid #dad5cb;
  }

  /* line 72, ../../sass/stanford_jordan/includes/_base.scss */
  .header-bkg nav {
    border-top: 0px;
  }

  /* line 73, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar-inner {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    min-height: 0px;
    padding-left: 0px;
    padding-right: 0px;
    filter: none;
  }

  /* line 74, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar .nav > li > a {
    color: #827252;
    text-transform: uppercase;
    border-radius: 0px;
    margin: -1px 25px 0 0;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid transparent;
    float: none;
    text-decoration: none;
    text-shadow: none;
  }

  /* line 77, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar .nav > .active > a, .navbar .nav > .active-trail > a,
  .navbar .nav > .active > a:hover, .navbar .nav > .active-trail > a:hover,
  .navbar .nav > .active > a:focus, .navbar .nav > .active-trail > a:focus {
    background-color: transparent;
    box-shadow: none;
    color: #827252;
    text-decoration: none;
    border-top: 1px solid #827252;
  }

  /* line 78, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar .nav > li > a:hover, .navbar .nav > li > a:active {
    color: #827252;
    background: transparent;
    border-top: 1px solid #827252;
    text-decoration: none;
  }

  /* line 79, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #827252;
  }
}
/* ----- Secondary Navigation -------- */
/* line 83, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li {
  border-top: 1px solid #d5d0c0;
  float: left;
  margin: 0 20px 0 0;
  list-style: none;
  padding-top: 3px;
}

/* line 84, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li.last {
  margin: 0;
}

/* line 85, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li.expanded {
  padding-right: 0;
}

/* line 86, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li.leaf {
  padding-right: 0;
}

/* line 87, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li a {
  color: #8c1515;
  font-size: 0.8333em;
  font-weight: bold;
  line-height: 2em;
  text-transform: uppercase;
}

/* line 88, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li ul li {
  border: none;
  clear: both;
}

/* line 89, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li ul li.leaf {
  padding-top: 0;
}

/* line 90, ../../sass/stanford_jordan/includes/_base.scss */
#navigation-secondary ul li ul li a {
  color: #827252;
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  text-transform: none;
}

/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* line 94, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book {
  font-size: 0.833em;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #e9e6df;
  border-bottom: 1px solid #e9e6df;
}

/* line 95, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book h2 {
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 10px 0px;
}

/* line 96, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book ul.menu {
  margin: 0;
  padding: 0;
}

/* line 97, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book ul.menu ul {
  padding-left: 7px;
  margin-top: 6px;
}

/* line 98, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book ul.menu li {
  border-top: 1px solid #e9e6df;
  margin: 0;
  padding: 15px 0 15px 10px;
}

/* line 99, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book ul.menu ul li {
  padding: 6px 0 6px 10px;
  border: none;
}

/* line 100, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-book ul.menu a.active {
  color: #000000;
}

/* line 101, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-menu ul.menu li a:hover, #sidebar-first .block-menu ul.menu a.active-trail {
  background-color: #ffffff;
}

/* line 102, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-menu ul.menu li.active-trail ul {
  background-color: #ffffff;
}

/* line 103, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-first .block-menu ul.menu li a:hover, #sidebar-first .block-menu ul.menu a.active-trail, #sidebar-first .block-menu-block ul.menu li a:hover, #sidebar-first .block-menu-block ul.menu a.active-trail {
  color: #827252;
}

/* ----- Second Sidebar Menu Blocks -- */
/* line 106, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book {
  font-size: 0.833em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 107, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book h2 {
  background: #bab19e;
  border: none;
  color: #ffffff;
  font-size: 1em;
  line-height: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 15px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

/* line 108, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book ul.menu {
  margin: 0;
  padding: 0;
}

/* line 109, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book ul.menu ul {
  padding-left: 7px;
  margin-top: 6px;
}

/* line 110, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book ul.menu li {
  background: #f2f1eb;
  border-top: 1px solid #fbfbf9;
  margin: 0;
  padding: 12px 5px 12px 10px;
}

/* line 111, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book ul.menu ul li {
  padding: 6px 5px 6px 10px;
  border: none;
}

/* line 112, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-book a.active {
  color: #000000;
}

/* line 113, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-menu ul.menu {
  margin: 0 0 0 25px;
  padding: 0;
}

/* line 114, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-menu ul.menu li {
  list-style-type: square;
  list-style-image: url("../../images/bullet.gif");
}

/* line 115, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-menu ul.menu li a {
  color: #827252;
  padding: 0px;
}

/* line 116, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-menu ul.menu li a.active {
  color: #000000;
}

/* line 118, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .block-menu ul.menu li ul li.last {
  margin: 0;
}

/* line 119, ../../sass/stanford_jordan/includes/_base.scss */
#sidebar-second .dropdown-menu {
  background-color: transparent;
}

/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */
/* SIDEBARS ******************************* */
/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
/* line 128, ../../sass/stanford_jordan/includes/_base.scss */
#footer h2 {
  border-bottom: none;
  margin: 0 0 0.4em 2px;
}

/* line 129, ../../sass/stanford_jordan/includes/_base.scss */
#footer .block {
  border-top: 1px solid #DAD5CB;
}

/* CONTENT ******************************** */
/* line 132, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .container {
  padding: 0px 2% 0px 2%;
}

/* VIEWS ********************************** */
/* ----- Search Results -------------- */
/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* line 139, ../../sass/stanford_jordan/includes/_base.scss */
.sub-block h2 {
  border-bottom: none;
  border-top: 4px solid #8c1515;
  padding-top: 6px;
  margin-bottom: 1em;
}

/* ----- Wells ----------------------- */
/* line 142, ../../sass/stanford_jordan/includes/_base.scss */
.well, #sidebar-second .well-sidebar-only, #sidebar-first .well-sidebar-only {
  border-top: 5px solid #e3dfd5;
}

/* line 143, ../../sass/stanford_jordan/includes/_base.scss */
.well h2 {
  border: none;
}

/* ----- Callouts and Blockquotes ---- */
/* line 146, ../../sass/stanford_jordan/includes/_base.scss */
.topline {
  border-top: 4px solid #8C1515;
}

/* line 147, ../../sass/stanford_jordan/includes/_base.scss */
.bracket {
  border-top: 4px solid #E3DFD5;
  border-bottom: 1px solid #E3DFD5;
}

/* ----- Pullquote Text -------------- */
/* POSTCARD LAYOUTS ********************** */
/* IMAGES ******************************** */
/* ICONS ********************************* */
/* line 157, ../../sass/stanford_jordan/includes/_base.scss */
.i-video {
  border: none;
  background: url(../images/icons-video.png) left center no-repeat;
  padding-left: 22px;
}

/* line 158, ../../sass/stanford_jordan/includes/_base.scss */
.i-image {
  border: none;
  background: url(../images/icons-image.png) left center no-repeat;
  padding-left: 22px;
}

/* line 159, ../../sass/stanford_jordan/includes/_base.scss */
.i-slide {
  border: none;
  background: url(../images/icons-slides.png) left center no-repeat;
  padding-left: 22px;
}

/* line 160, ../../sass/stanford_jordan/includes/_base.scss */
.i-audio {
  border: none;
  background: url(../images/icons-audio.png) left center no-repeat;
  padding-left: 22px;
}

/* line 161, ../../sass/stanford_jordan/includes/_base.scss */
.i-text {
  border: none;
  background: url(../images/icons-text.png) left center no-repeat;
  padding-left: 22px;
}

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* line 166, ../../sass/stanford_jordan/includes/_base.scss */
.red {
  color: #8c1515;
}

/* line 167, ../../sass/stanford_jordan/includes/_base.scss */
.sand {
  color: #827252;
}

/* line 168, ../../sass/stanford_jordan/includes/_base.scss */
.lined {
  border-bottom: 4px solid #d2d2cf;
  padding: 0 0 1px 0;
}

/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */
/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* line 177, ../../sass/stanford_jordan/includes/_base.scss */
.page-node .content-body .field.field-name-field-s-image-image {
  margin-bottom: 10px;
}

/* ----- Field Label Overrides ------- */
/* STANFORD FEATURES OVERRIDES *********** */
/* ----- Views Slideshow ------------- */
/* ----- Banner Image Slideshow ------ */
/* line 184, ../../sass/stanford_jordan/includes/_base.scss */
.banner-overlay h2 {
  color: #F2F1EB;
}

/* line 185, ../../sass/stanford_jordan/includes/_base.scss */
.banner-overlay p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 8px;
}

/* line 186, ../../sass/stanford_jordan/includes/_base.scss */
.banner-overlay a {
  color: #BBAA7B;
}

/* line 187, ../../sass/stanford_jordan/includes/_base.scss */
.banner-overlay a:hover {
  color: #ddcf99;
}

/* ----- Stanford Events Importer ---- */
/* ----- Stanford Events Views ------- */
/* line 191, ../../sass/stanford_jordan/includes/_base.scss */
.date-stacked {
  border-right: 1px solid #DAD5CB;
}

/* line 192, ../../sass/stanford_jordan/includes/_base.scss */
.date-stacked .date-month {
  color: #81807C;
}

/* line 193, ../../sass/stanford_jordan/includes/_base.scss */
.date-stacked .date-day {
  color: #94928E;
  font-family: "Crimson Text", Georgia, serif;
}

/* ----- Stanford Courses ------------ */
/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* line 199, ../../sass/stanford_jordan/includes/_base.scss */
.messages, div.error, div.warning {
  border: none;
  background: #d0efc1;
  margin-top: 20px;
  padding: 20px;
}

/* line 200, ../../sass/stanford_jordan/includes/_base.scss */
div.error {
  background: #f7cccc;
}

/* line 201, ../../sass/stanford_jordan/includes/_base.scss */
div.warning {
  background: #f6f6c4;
}

/* line 202, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.primary {
  border-bottom: 1px solid #bab19e;
}

/* line 203, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.primary li a {
  background: #eae9e3;
  border: 1px solid #bab19e;
  border-bottom: 1px solid #eae9e3;
}

/* line 204, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.primary li a:hover {
  border: 1px solid #bab19e;
}

/* line 205, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.primary li.active a {
  background: #fbfbf9;
  border-bottom: 1px solid #fbfbf9;
}

/* line 206, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.secondary {
  border-bottom: 1px solid #bab19e;
  margin: 0;
  padding: 10px 0;
}

/* line 207, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.secondary li {
  border: none;
  margin: 0;
  padding: 5px 5px 10px 0;
}

/* line 208, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.secondary li a {
  background: none;
  margin: 0;
  padding: 10px 12px;
}

/* line 209, ../../sass/stanford_jordan/includes/_base.scss */
ul.tabs.secondary li.active a {
  color: #8c1515;
  border-bottom: 3px solid #8c1515;
  padding-bottom: 9px;
}

/* line 210, ../../sass/stanford_jordan/includes/_base.scss */
.help {
  border-bottom: 1px solid #e9e6df;
  padding-bottom: 10px;
  margin-top: 20px;
}

/* line 211, ../../sass/stanford_jordan/includes/_base.scss */
.block-region {
  color: #000000;
}

/* line 212, ../../sass/stanford_jordan/includes/_base.scss */
form#system-themes-form {
  overflow: auto;
}

/* ----- User Block ------------------ */
/* line 215, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user {
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #e9e6df;
  border-bottom: 1px solid #e9e6df;
  padding-bottom: 15px;
}

/* line 216, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user h2 {
  border: none;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 15px 0 15px 10px;
}

/* line 217, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* line 218, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user ul.menu {
  margin: 0;
  padding: 0;
}

/* line 219, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user ul.menu ul {
  padding-left: 7px;
  margin-top: 0px;
}

/* line 220, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user ul.menu li {
  border-top: 1px solid #e9e6df;
  margin: 0;
  padding: 15px 0 15px 10px;
}

/* line 221, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user ul.menu ul li {
  padding: 6px 0 6px 10px;
  border: none;
}

/* line 222, ../../sass/stanford_jordan/includes/_base.scss */
#page-content .block-user ul.menu a.active {
  color: #000000;
}

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */
@media (max-width: 767px) {
  /* line 227, ../../sass/stanford_jordan/includes/_base.scss */
  .navbar-inner {
    background: transparent;
  }
}
@media (max-width: 640px) {
  /* line 230, ../../sass/stanford_jordan/includes/_base.scss */
  #navigation-primary {
    border-top: 1px solid transparent;
  }

  /* line 231, ../../sass/stanford_jordan/includes/_base.scss */
  #navigation-primary ul li a {
    border-top: 1px solid transparent;
    padding-top: 0px;
  }
}
@media (max-width: 480px) {
  /* line 235, ../../sass/stanford_jordan/includes/_base.scss */
  #sidebar-first .block-book, #sidebar-first .block-menu {
    font-size: 1em;
    border: none;
  }

  /* line 236, ../../sass/stanford_jordan/includes/_base.scss */
  #sidebar-first .block-book h2, #sidebar-first .block-menu h2 {
    padding: 0.5em 0px;
  }

  /* line 237, ../../sass/stanford_jordan/includes/_base.scss */
  #sidebar-second .block-book, #sidebar-second .block-menu {
    font-size: 1em;
  }

  /* line 238, ../../sass/stanford_jordan/includes/_base.scss */
  #sidebar-first select, #sidebar-second select {
    width: 100%;
  }
}
/* ----- Print ----------------------- */
