@charset "UTF-8";

/* Social media links */
.bean-stanford-social-media-connect a { color: transparent; display: inline-block; float: left; font-size: 0; height: 48px; margin-bottom: 5px; margin-right: 5px; width: 48px; opacity:0.4; filter:alpha(opacity=40); }
.bean-stanford-social-media-connect a:hover {opacity:1; filter:alpha(opacity=100); }
.bean-stanford-social-media-connect .field-name-field-s-smc-facebook a {background-image: url("../images/facebook.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-twitter a {background-image: url("../images/twitter.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-linkedin a {background-image: url("../images/linkedin.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-youtube a {background-image: url("../images/youtube.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-instagram a {background-image: url("../images/instagram.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-vimeo a {background-image: url("../images/vimeo.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-googleplus a {background-image: url("../images/google.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-flickr a {background-image: url("../images/flickr.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-tumblr a {background-image: url("../images/tumblr.png");}
.bean-stanford-social-media-connect .field-name-field-s-smc-pinterest a {background-image: url("../images/pinterest.png");}
