/* HIDE PAGE TITLE ON NEWS NODES */

.node-type-stanford-news-item #page-title {
  display: none;
}

/* NEWS BANNER IMAGE STYLES */

.node-type-stanford-news-item .fullwidth .field-name-field-s-news-banner img {
  height: 300px;
  width: 100%;
}

.node-type-stanford-news-item .field-name-field-s-news-banner .field-item {
  background: #000000;
}

.node-type-stanford-news-item .field-name-field-s-news-banner img {
  opacity: .4;
}

/* POSITION AND STYLE NEWS TITLES AND TEASERS OVER BANNER IMAGE - LOGGED OUT */

.node-type-stanford-news-item div#content-head {
  margin-bottom: 0;
}

#block-ds-extras-banner-overlay {
  width: 750px;
}

#block-ds-extras-banner-overlay .field-name-title h1,
#block-ds-extras-banner-overlay .field-name-field-s-news-teaser .field-item {
  color: #ffffff;
  text-shadow: 0 0 4px #000000;
}

#block-ds-extras-banner-overlay {
  position: absolute;
  top: 210px;
}

@media (max-width: 1200px) {
  #block-ds-extras-banner-overlay {
    top: 250px;
  }
}

@media (max-width: 910px) {
  #block-ds-extras-banner-overlay {
    top: 225px;
    width: 450px;
  }

  #block-ds-extras-banner-overlay .field-name-title h1 {
    font-size: 1.4em;
  }

  #block-ds-extras-banner-overlay .field-name-field-s-news-teaser .field-item {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  #block-ds-extras-banner-overlay {
    position: relative;
    top: -310px;
  }

  .node-type-stanford-news-item div#block-ds-extras-banner-overlay {
    margin-bottom: -245px;
  }
}

@media (max-width: 485px) {
  #block-ds-extras-banner-overlay {
    width: 100%;
  }

  #block-ds-extras-banner-overlay .field-name-title h1 {
    font-size: 1.2em;
  }

  #block-ds-extras-banner-overlay .field-name-field-s-news-teaser .field-item {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  #block-ds-extras-banner-overlay {
    top: -315px;
    width: 250px;
  }

  #block-ds-extras-banner-overlay .field-name-title h1 {
    font-size: 1em;
  }

  #block-ds-extras-banner-overlay .field-name-field-s-news-teaser .field-item {
    font-size: 14px;
  }
}

/* POSITION AND STYLE NEWS TITLES AND TEASERS OVER BANNER IMAGE - LOGGED IN */

.logged-in #block-ds-extras-banner-overlay {
  top: 285px;
}

@media (max-width: 1200px) {
  .logged-in #block-ds-extras-banner-overlay {
    top: 325px;
  }
}

@media (max-width: 767px) {
  .logged-in #block-ds-extras-banner-overlay {
    top: -305px;
  }
}

@media (max-width: 485px) {
  .logged-in #block-ds-extras-banner-overlay .field-name-title h1 {
    font-size: 1.2em;
  }

  .logged-in #block-ds-extras-banner-overlay .field-name-field-s-news-teaser .field-item {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .logged-in #block-ds-extras-banner-overlay {
    top: -325px;
  }
}

/* STYLE NEWS FEATURED IMAGE CAPTION AND CREDITS */

.page-node.node-type-stanford-news-item .content-body .field-name-field-s-image-image.field.field-type-image {
  margin-bottom: 10px;
}

.node-type-stanford-news-item .content-body .group-s-news-body-style {
  margin-top: 1em;
}

.node-type-stanford-news-item .caption {
  color: #928b81;
  font-size: .7em;
  font-style: normal;
  line-height: 1.3em;
}

.node-type-stanford-news-item .caption p:after {
  padding-right: 3px;
}

.node-type-stanford-news-item .credits {
  color: #928b81;
  font-size: .7em;
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: -8px;
}

@media (max-width: 550px) {
  .node-type-stanford-news-item .group-s-caption-style.field-group-div.caption,
  .node-type-stanford-news-item .group-s-credits-style.field-group-div.credits {
    display: block;
  }
}

/* BODY CONTENT STYLES */

.node-type-stanford-news-item .body-style {
  width: 750px;
}

@media (max-width: 910px) {
  .node-type-stanford-news-item .body-style {
    width: 100%;
  }
}

.node-type-stanford-news-item .body-style h2 {
  margin: 1.3em 0 .5em;
}

/* DATE and BYLINE FOR view-mode-stanford_extras_single_region */

.view-mode-stanford_extras_single_region .date-style {
  float: left;
  font-size: 1em;
  line-height: 1.2em;
  margin-bottom: 2px;
}

.view-mode-stanford_extras_single_region .byline-style {
  font-size: 1em;
  line-height: 1.2em;
  clear: both;
}

/* HEADERS view-mode-stanford_extras_single_region */

.view-mode-stanford_extras_single_region h2 {
  font-weight: 400;
  line-height: 1.3em;
}

/*RESPONSIVE COLUMN WIDTHS view-mode-stanford_extras_single_region  */

@media (max-width: 1199px) and (min-width: 980px) {
  .node-type-stanford-news-item .view-mode-stanford_extras_single_region .body-style {
    width: 700px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  .node-type-stanford-news-item .view-mode-stanford_extras_single_region .body-style {
    width: 476px;
  }
}
