body {}

@media (max-width: 767px) {
    body {
        padding: 0;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    #global-header .container,
    #global-footer .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.header {
    margin: 0;
    padding: 30px 0;
    min-height: 60px;
}

.red-bar .header {
    border-top: 10px solid $clr-cardinal;
}

.nav-search {
    margin-right: 2%;
    margin-top: -90px;
    @media (max-width: 767px) {
        margin: -7px 0 0 0;
    }
}

.site-main-menu {}

.main {
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}

.mc-content {
    @include box-sizing(border-box);
}

.site-footer {
    margin: 0;
    padding: 30px 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

h2:first-child,
h3:first-child,
h4:first-child,
body.cke_show_borders h2:first-child,
body.cke_show_borders h3:first-child,
body.cke_show_borders h4:first-child {
    margin-top: 0;
}

strong {}

.content ul li {
    list-style-type: square;
}

.site-logo img {
    margin-right: 15px;
    @media (max-width: 480px) {
        margin-right: 0;
    }
}

#name-and-slogan {
    padding-left: 0;
}

.site-name {}

.site-name a,
.site-name a:hover {}

#site-slogan {}

.summary {}

.descriptor {}

.descriptor-btn a,
a.descriptor-btn {
    padding: 3px 9px;
    @include border-radius(5px);
    font-weight: 500;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
}

.credits {}

.caption {
    margin-bottom: 0;
}

.quote {
    font-size: 1.3em;
    line-height: 1.5em;
    quotes: '\201c' '\201d';
}

blockquote {
    padding: 2em 3em 1em;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    margin: 0 60px 30px;
}

@media (min-width: 480px) {
    blockquote {
        margin: 0 15px 30px;
    }
}

blockquote.quote {
    padding: .5em 3em 1em;
}

blockquote p,
blockquote .more-link a,
blockquote a.more-link {
    font-size: 20.8px;
    line-height: 1.5em;
    margin-bottom: 1em;
}

blockquote > p:first-child {
    line-height: 1.5em;
    padding-left: 0;
    text-indent: 0;
}

p.quote {
    text-indent: -1em;
}

p.quote:before {
    position: relative;
    left: -5px;
}

.quote:before,
.quote:after,
div.quote p:last-child:after,
blockquote.quote p:last-child:after {
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
}

.quote:before {
    content: open-quote;
}

.quote:after {
    content: close-quote;
}

div.quote:before,
blockquote.quote:before {
    left: -27px;
    position: relative;
    top: 34px;
}

div.quote:after,
blockquote.quote:after {
    display: none;
}

div.quote p:last-child:after,
blockquote.quote p:last-child:after,
p.quote:after {
    content: close-quote;
    line-height: 0;
    position: relative;
    left: 8px;
    top: 20px;
}

.big-text {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

.infotext {
    font-size: 4em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0;
    letter-spacing: -0.05em;
}

.circle-image img {
    @include border-radius(10em);
}

a {}

a:hover,
a:focus {}

a.btn,
.btn a {
    padding: 0.5em 1em;
    border: none;
    @include text-shadow(none);
    @include box-shadow(none);
    @include border-radius(0.3em);
}

a.btn:hover,
a.btn:focus,
.btn a:hover,
.btn a:focus {}

a.more-link,
.more-link a {
    text-transform: none;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
}

a.more-link:after,
.more-link a:after {
    content: " »";
}

a.more-link:hover,
a.more-link:focus,
.more-link a:hover,
.more-link a:focus {}

.view > .more-link {
    display: block;
}

a.edit-link,
.edit-link a {
    @include border-radius(0.3em);
    padding: 0.5em 1em;
    border: 1px solid $clr-gray;
    font-size: .8em;
    text-decoration: none;
}

a.edit-link:hover,
a.edit-link:focus,
.edit-link a:hover,
.edit-link a:focus {
    background: $clr-gray-light;
}

a.btn.btn-red,
.btn.btn-red a {
    background: $clr-cardinal;
}

a.btn.btn-arrow-left,
a.btn.btn-arrow-left:hover,
a.btn.btn-arrow-left:focus {
    background-image: url("../../images/btn-arrow-left.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 30px;
    text-align: right;
}

a.btn.btn-arrow-right,
a.btn.btn-arrow-right:hover,
a.btn.btn-arrow-right:focus {
    background-image: url("../../images/btn-arrow-right.png");
    background-position: 93% center;
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    padding-right: 30px;
    text-align: left;
}

.block {}

.block > h2 {
    margin-top: 0;
}

.well {
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
    padding: 1.3em;
}

.block.well h2 {}

ul.pager li {
    margin: 0;
}

ul.nav-pills a.active {
    background: transparent;
}

ul.pager li a {
    @include border-radius(6px);
    border: 0px;
    padding: 4px 10px;
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li.pager-current {}

ul.pager li.pager-current {
    @include border-radius(6px);
    border: 0px;
    padding: 4px 10px;
    margin: 0;
}

.item-list .pager li {
    padding: 0;
}

#nav-search {
    margin-right: 0;
}

#block-search-form input.search-query {
    @include border-radius(6px);
    padding-left: 10px;
    padding-right: 33px;
}

#block-search-form input.search-query:focus {}

.navbar #block-search-form input.btn-search {
    top: 2px;
}
