.banner-overlay {
    height: 0; 
    position: absolute;
}
.banner-overlay > div {
    background: rgba(0, 0, 0, 0.75); 
    color: #F2F1EB; 
    position: relative; 
    max-width: 60%; 
    padding: 1.25em 1.5em 1.5em 1.5em; 
    top: -190px;
}
.border-simple .banner-overlay > div {
    margin-left: 6px;
    @media (max-width: 480px) {
        margin-left: 0;
    }
}
.banner-overlay p {
    margin-bottom: 0;
}
.banner-overlay h2, .banner-overlay h3, .banner-overlay h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.banner-overlay-caption {
}

@media (max-width: 979px) {
    [class*="span"] .banner-overlay {
        height: auto;
        position:inherit; 
    }
    [class*="span"] .banner-overlay > div {
        position: inherit; 
        margin:0px; 
        max-width:100%;
    }
}
 
@media (max-width: 480px) {
    .banner-overlay {
        height: auto;
        position:inherit; 
    }
    .banner-overlay > div {
        position: inherit; 
        margin:0px; 
        max-width:100%;
    }
}