img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.form-item.form-type-radio.form-item-styles,
.form-item.form-type-radio.form-item-fonts {
    border: 1px solid #eee;
    display: inline-block;
    margin: 0 1em 1em 0;
    padding: 1em;
    min-width: 270px;
}

.form-item.form-type-radio.form-item-styles.active,
.form-item.form-type-radio.form-item-fonts.active {
    background: #f8fff0;
    border: 1px solid #bbee77;
}

.design-style,
.design-font {
    background-repeat: no-repeat;
    height: 230px;
    width: 270px;
    background-position: 0px 30px;
    display: inline-block;
    margin-left: -18px;
    text-indent: 25px;
}

.design-font {
    height: 255px;
}

.ds-light {
    background-image: url(../screenshots/design-styles-light.png);
}

.ds-dark {
    background-image: url(../screenshots/design-styles-dark.png);
}

.ds-plain {
    background-image: url(../screenshots/design-styles-plain.png);
}

.ds-rich {
    background-image: url(../screenshots/design-styles-rich.png);
}

.ds-bright {
    background-image: url(../screenshots/design-styles-bright.png);
}

.ds-high {
    background-image: url(../screenshots/design-styles-contrast.png);
}

.ds-cardinal {
    background-image: url(../screenshots/design-styles-cardinal.png);
}

.ds-vivid {
    background-image: url(../screenshots/design-styles-vivid.png);
}

.df-sans {
    background-image: url(../screenshots/design-fonts-sans.png);
}

.df-serif {
    background-image: url(../screenshots/design-fonts-serif.png);
}

.df-slab {
    background-image: url(../screenshots/design-fonts-slab.png);
}

#edit-header-container .fieldset-description {
    height: 180px;
    background-image: url(../screenshots/site-title.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 20px;
}

@media (max-width: 880px) {
    #edit-header-container .fieldset-description {
        height: 160px;
        background-size: 100%;
    }
}
