/* Colors */
/* Header Module */
/* Brand Bar Module */
/* Theme Options Module */
/* STANFORD BRAND BARS ******************** */
/* ----- Global Header --------------- */
/* line 6, ../sass/includes/_module-brand-bars.scss */
#global-header {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif !important;
  color: white !important;
  padding: 0;
  font-size: 15px !important;
  background-color: #8c1515;
  font-weight: 400 !important;
  -webkit-box-shadow: inset 0px -4px 8px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -4px 8px -2px rgba(0, 0, 0, 0.2);
}
/* line 14, ../sass/includes/_module-brand-bars.scss */
#global-header .container {
  padding: 4px 0 0 0;
  height: 26px;
}
/* line 18, ../sass/includes/_module-brand-bars.scss */
#global-header img {
  width: 153px;
  height: 22px;
}
/* line 25, ../sass/includes/_module-brand-bars.scss */
#global-header a:focus,
#global-header a:active,
#global-header a:focus,
#global-header a:active {
  outline: thin dotted white;
}

/* ----- Top Menu -------------------- */
/* line 34, ../sass/includes/_module-brand-bars.scss */
#top-menu h2,
#top-menu h3 {
  display: none;
}

/* line 38, ../sass/includes/_module-brand-bars.scss */
#top-menu .content {
  text-align: right;
}

/* line 42, ../sass/includes/_module-brand-bars.scss */
#top-menu .content p {
  margin: 0;
}

/* line 46, ../sass/includes/_module-brand-bars.scss */
#top-menu .content a {
  color: #e3dfd5;
}

/* line 50, ../sass/includes/_module-brand-bars.scss */
#top-menu .content a:hover {
  color: white;
}

/* line 54, ../sass/includes/_module-brand-bars.scss */
#top-menu .content ul {
  float: right;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1em;
}

/* line 62, ../sass/includes/_module-brand-bars.scss */
#top-menu .content ul ul {
  display: none;
}

/* line 66, ../sass/includes/_module-brand-bars.scss */
#top-menu .content ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
}

/* line 73, ../sass/includes/_module-brand-bars.scss */
#top-menu .content ul li.last {
  border: none;
}

/* line 77, ../sass/includes/_module-brand-bars.scss */
#top-menu .content form {
  margin: 0;
}

/* line 81, ../sass/includes/_module-brand-bars.scss */
#top-menu .content #user-login-form {
  text-align: right;
}

/* line 85, ../sass/includes/_module-brand-bars.scss */
#top-menu .content #block-webauth-webauth-login-block {
  text-align: right;
}

/* ----- Global Footer --------------- */
/* line 92, ../sass/includes/_module-brand-bars.scss */
#global-footer {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif !important;
  padding: 0;
  background-color: #8c1515;
  color: #e3dfd5 !important;
  font-size: 15px !important;
  line-height: 1em !important;
  font-weight: 400 !important;
  padding: 30px 0 0 0;
  width: auto;
  height: 90px;
  -webkit-box-shadow: inset 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 4px 8px -2px rgba(0, 0, 0, 0.2);
}

/* line 106, ../sass/includes/_module-brand-bars.scss */
#global-footer img {
  width: 105px;
  height: 49px;
}

/* line 112, ../sass/includes/_module-brand-bars.scss */
#global-header a,
#global-footer a {
  font-weight: 400 !important;
  color: #e3dfd5;
  text-decoration: none;
  border-bottom: 0;
}

/* line 120, ../sass/includes/_module-brand-bars.scss */
#bottom-menu a,
#bottom-menu .tel {
  color: #e3dfd5;
  text-decoration: none;
}

/* line 130, ../sass/includes/_module-brand-bars.scss */
#bottom-menu a:hover,
#bottom-menu a:focus,
#global-header a:hover,
#global-footer a:hover,
#global-header a:focus,
#global-footer a:focus {
  color: white;
  text-decoration: underline;
}

/* line 135, ../sass/includes/_module-brand-bars.scss */
#bottom-menu ul {
  margin: 0;
  padding: 5px 0 0 0px;
  line-height: 1em;
}

/* line 141, ../sass/includes/_module-brand-bars.scss */
#bottom-menu ul li {
  float: left;
  list-style: none;
  margin: 0 17px 0 0;
  padding: 0;
}

/* line 148, ../sass/includes/_module-brand-bars.scss */
#bottom-menu ul li:last-child {
  margin: 0;
}

/* line 152, ../sass/includes/_module-brand-bars.scss */
#copyright {
  margin-top: -20px;
}

/* line 156, ../sass/includes/_module-brand-bars.scss */
#copyright .copyright-links {
  margin-left: 17px;
}

/* line 160, ../sass/includes/_module-brand-bars.scss */
p.vcard {
  font-size: 13px;
}

/* ----- Sticky Global Footer --------------- */
/* line 168, ../sass/includes/_module-brand-bars.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 176, ../sass/includes/_module-brand-bars.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -90px auto;
}

/* Set the fixed height of the push div */
/* line 187, ../sass/includes/_module-brand-bars.scss */
#push {
  height: 90px;
}

/* line 191, ../sass/includes/_module-brand-bars.scss */
body.admin-menu {
  height: calc(100% - 29px);
}

/* ----- Responsive brand bars --------------- */
@media (max-width: 640px) {
  /* Top Menu */
  /* line 200, ../sass/includes/_module-brand-bars.scss */
  #top-logo {
    clear: both;
  }

  /* line 203, ../sass/includes/_module-brand-bars.scss */
  #top-menu {
    margin: 1em 0 0 0;
  }

  /* line 206, ../sass/includes/_module-brand-bars.scss */
  #top-menu .content ul {
    float: left;
    display: inline;
    margin: 0;
    padding: 0 1em 0 0;
  }

  /* line 212, ../sass/includes/_module-brand-bars.scss */
  #top-menu .content ul li {
    margin: 0;
    padding: 0 1em 0 0;
  }

  /* line 216, ../sass/includes/_module-brand-bars.scss */
  #top-menu .content ul ul {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 222, ../sass/includes/_module-brand-bars.scss */
  #global-header .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 226, ../sass/includes/_module-brand-bars.scss */
  #global-footer {
    margin: 0px;
    padding-bottom: 10px;
    width: auto;
    height: auto;
  }

  /* line 232, ../sass/includes/_module-brand-bars.scss */
  #bottom-logo {
    display: block;
    float: left;
    width: 49%;
    margin-right: 2%;
    padding-top: 30px;
    text-align: center;
  }

  /* line 240, ../sass/includes/_module-brand-bars.scss */
  #bottom-menu {
    display: block;
    float: left;
    width: 49%;
    margin-right: 0;
  }

  /* line 246, ../sass/includes/_module-brand-bars.scss */
  #bottom-menu ul {
    margin-bottom: 25px;
  }

  /* line 249, ../sass/includes/_module-brand-bars.scss */
  #bottom-menu ul li {
    float: none;
  }

  /* line 252, ../sass/includes/_module-brand-bars.scss */
  #copyright {
    margin-top: 0;
    margin-bottom: 15px;
  }

  /* line 256, ../sass/includes/_module-brand-bars.scss */
  #copyright .copyright-links {
    display: block;
    margin-left: 0;
  }

  /* line 260, ../sass/includes/_module-brand-bars.scss */
  p.vcard {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  /* line 265, ../sass/includes/_module-brand-bars.scss */
  #top-menu {
    max-width: 50% !important;
    float: right;
    margin-top: -30px;
  }
}
@media (max-width: 320px) {
  /* line 273, ../sass/includes/_module-brand-bars.scss */
  #bottom-logo {
    float: none;
    width: 100%;
    margin-right: 0;
    padding-top: 0;
    text-align: center;
  }

  /* line 280, ../sass/includes/_module-brand-bars.scss */
  #bottom-menu {
    float: none;
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }

  /* line 286, ../sass/includes/_module-brand-bars.scss */
  #bottom-menu ul li {
    margin: 0;
  }
}
/* ----- Print ----------------------- */
@media print {
  /* line 296, ../sass/includes/_module-brand-bars.scss */
  #top-menu,
  #global-footer {
    display: none !important;
  }
}
/* ----- Logo ------------------------ */
/* line 3, ../sass/includes/_module-header.scss */
#header #logo {
  display: table-cell;
  padding: 0 10px 0 0;
  vertical-align: bottom;
  margin: 0;
  float: none;
  border-right: 1px solid #2E2D29;
  font-size: 14px;
  line-height: 1.4em;
}

/* line 14, ../sass/includes/_module-header.scss */
#header #logo img {
  max-width: 180px;
}

/* line 18, ../sass/includes/_module-header.scss */
#header #logo.site-logo {
  border: none;
}

/* ----- Site Title and Slogan ------- */
/* line 31, ../sass/includes/_module-header.scss */
.site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3,
#site-title-line4,
#site-title-line5,
#site-slogan {
  font-family: 'Source Sans Pro', sans-serif !important;
}

/* line 35, ../sass/includes/_module-header.scss */
#name-and-slogan {
  display: table-cell;
  padding: 0;
  vertical-align: bottom;
  height: auto;
  width: 100%;
}

/* line 43, ../sass/includes/_module-header.scss */
#name-and-slogan.with-logo {
  padding-left: 10px;
}

/* line 55, ../sass/includes/_module-header.scss */
#site-name a,
#site-name a:hover,
#site-name a:focus,
#site-title-first-line a,
#site-title-first-line a:hover,
#site-title-first-line a:focus,
#site-title-second-line a,
#site-title-second-line a:hover,
#site-title-second-line a:focus,
#site-title-line3 a,
#site-title-line3 a:hover,
#site-title-line3 a:focus,
#site-title-line4 a,
#site-title-line4 a:hover,
#site-title-line4 a:focus,
#site-title-line5 a,
#site-title-line5 a:hover,
#site-title-line5 a:focus {
  color: #3f3c30;
  text-decoration: none;
}

/* line 67, ../sass/includes/_module-header.scss */
#site-name a,
#site-title-first-line a,
#site-title-second-line a,
#site-title-line3 a,
#site-title-line4 a,
#site-title-line5 a {
  font-weight: 400;
}

/* line 75, ../sass/includes/_module-header.scss */
#site-name,
#site-title-first-line,
#site-title-second-line,
#site-title-line3 {
  font-size: 31px;
  color: #3f3c30;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.2em;
}

/* line 84, ../sass/includes/_module-header.scss */
#site-name,
#site-title-first-line {
  margin-top: -4px;
  margin-bottom: -5px;
}

/* line 89, ../sass/includes/_module-header.scss */
#site-title-second-line {
  margin-top: 3px;
  margin-bottom: -6px;
}

/* line 94, ../sass/includes/_module-header.scss */
#site-title-line3 {
  margin-top: 4px;
  margin-bottom: -4px;
  font-style: italic;
}

/* line 100, ../sass/includes/_module-header.scss */
#site-title-line4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  text-align: justify;
  padding-top: 8px;
  margin-bottom: 2px;
}

/* line 109, ../sass/includes/_module-header.scss */
#site-title-line4 a {
  font-weight: 600;
}

@media (max-width: 480px) {
  /* line 114, ../sass/includes/_module-header.scss */
  #header #logo.logo-mobile #site-title-line4 {
    padding-top: 4px;
  }
}
/* line 119, ../sass/includes/_module-header.scss */
#site-title-line5 {
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 1em;
  margin-top: 10px;
  font-weight: 400;
}

/* line 131, ../sass/includes/_module-header.scss */
.two-lines #site-name,
.two-lines #site-title-first-line,
.two-lines #site-title-second-line,
.two-lines #site-title-line3 {
  font-size: 26px;
  letter-spacing: 0;
  line-height: 1.15em;
}
/* line 136, ../sass/includes/_module-header.scss */
.two-lines #site-title-second-line {
  margin-top: 3px;
  margin-bottom: -3px;
}

/* line 142, ../sass/includes/_module-header.scss */
#site-slogan {
  font-size: 16px;
  color: #3f3c30;
  line-height: 1.2em;
  font-style: italic;
  margin-bottom: -3px;
  margin-top: 6px;
}

/* line 152, ../sass/includes/_module-header.scss */
#site-title-first-line.site-title-uppercase,
#site-title-first-line.site-title-uppercase a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: -7px;
}

/* line 159, ../sass/includes/_module-header.scss */
#site-title-first-line.site-title-small-letters {
  font-size: 19px;
}

/* line 163, ../sass/includes/_module-header.scss */
#site-title-first-line.site-title-very-small-letters {
  font-size: 13px;
  letter-spacing: 0;
  margin: -3px 0 -6px 1px;
}

/* line 169, ../sass/includes/_module-header.scss */
#site-title-second-line.site-title-underneath {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1.15em;
  margin-top: 10px;
}

/* line 176, ../sass/includes/_module-header.scss */
#site-title-line3.site-title-small-italics {
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: -2px;
}

/* line 185, ../sass/includes/_module-header.scss */
#site-title-line3.site-title-small-title-case,
#site-title-line3.site-title-small-title-case a {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  margin-top: 8px;
  margin-bottom: -2px;
}

/* line 194, ../sass/includes/_module-header.scss */
.site-title-line4 #site-title-line3.site-title-small-italics,
.site-title-line4 #site-title-line3.site-title-small-title-case {
  margin-top: 11px;
}

/* line 199, ../sass/includes/_module-header.scss */
#site-title-line5.site-title-new-line-uppercase,
#site-title-line5.site-title-new-line-uppercase a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0;
}

@media (max-width: 480px) {
  /* line 207, ../sass/includes/_module-header.scss */
  #name-and-slogan {
    display: block;
    padding: 0px;
  }

  /* line 211, ../sass/includes/_module-header.scss */
  #header {
    padding-top: 20px;
  }

  /* line 214, ../sass/includes/_module-header.scss */
  #header #logo {
    display: none;
    border: none;
    text-align: left;
  }

  /* line 219, ../sass/includes/_module-header.scss */
  #header #logo.logo-mobile {
    display: block;
    margin-bottom: 20px;
    padding-right: 0px;
    background-size: 120px auto !important;
    border-right: none !important;
    box-shadow: none !important;
  }

  /* line 227, ../sass/includes/_module-header.scss */
  #header #logo.logo-mobile img {
    max-width: 120px;
  }

  /* line 230, ../sass/includes/_module-header.scss */
  #name-and-slogan.with-logo {
    padding: 0px;
  }

  /* line 234, ../sass/includes/_module-header.scss */
  #site-name,
  #site-slogan {
    text-align: left;
  }

  /* line 237, ../sass/includes/_module-header.scss */
  #site-slogan {
    font-size: 16px;
    line-height: 20px;
  }

  /* line 245, ../sass/includes/_module-header.scss */
  #site-name,
  #site-title-first-line,
  #site-title-second-line,
  #site-title-line3,
  #site-title-line5 {
    font-size: 24px;
  }

  /* line 248, ../sass/includes/_module-header.scss */
  #site-title-first-line.site-title-uppercase {
    font-size: 28px;
  }

  /* line 251, ../sass/includes/_module-header.scss */
  #wrap.site-title-underneath #site-title-second-line {
    padding-left: 0px;
  }

  /* line 254, ../sass/includes/_module-header.scss */
  #site-title-second-line.site-title-underneath {
    position: static;
  }

  /* line 257, ../sass/includes/_module-header.scss */
  #wrap.site-title-underneath #header .container {
    padding-bottom: 0px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 263, ../sass/includes/_module-header.scss */
  #wrap.site-title-underneath #site-title-second-line {
    padding-left: 10px;
  }
}
/* Organization Signature Logo */
/* line 272, ../sass/includes/_module-header.scss */
#header.organization #logo {
  background-size: 150px auto !important;
}
/* line 275, ../sass/includes/_module-header.scss */
#header.organization #logo img {
  max-width: 150px;
}
@media (max-width: 480px) {
  /* line 279, ../sass/includes/_module-header.scss */
  #header.organization #logo.logo-mobile {
    background-size: 120px auto !important;
  }
  /* line 282, ../sass/includes/_module-header.scss */
  #header.organization #logo.logo-mobile img {
    max-width: 120px;
  }
  /* line 285, ../sass/includes/_module-header.scss */
  #header.organization #logo.logo-mobile #site-title-line4 a {
    padding-bottom: 8px;
    border-bottom: 1px solid #2E2D29;
  }
}

/* Engineering */
/* line 296, ../sass/includes/_module-header.scss */
#header.org-engineering #logo {
  background-position: left bottom 26px !important;
}
/* line 299, ../sass/includes/_module-header.scss */
#header.org-engineering #site-title-line4 {
  font-size: 25px;
  margin-bottom: 0px;
  padding-top: 6px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  /* line 306, ../sass/includes/_module-header.scss */
  #header.org-engineering #logo.logo-mobile {
    background-position: left bottom 23px !important;
  }
  /* line 309, ../sass/includes/_module-header.scss */
  #header.org-engineering #logo.logo-mobile #site-title-line4 {
    font-size: 20px;
  }
}

/* School of H&S */
/* line 319, ../sass/includes/_module-header.scss */
#header.org-school-of-hs #logo {
  background-position: left bottom 26px !important;
}
/* line 322, ../sass/includes/_module-header.scss */
#header.org-school-of-hs #site-title-line4 {
  font-size: 21px;
  letter-spacing: 0.01em;
  margin-bottom: 0px;
  padding-top: 6px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  /* line 330, ../sass/includes/_module-header.scss */
  #header.org-school-of-hs #logo.logo-mobile {
    background-position: left bottom 23px !important;
  }
  /* line 333, ../sass/includes/_module-header.scss */
  #header.org-school-of-hs #logo.logo-mobile #site-title-line4 {
    font-size: 16.6px;
  }
}

/* Business Affairs */
/* line 343, ../sass/includes/_module-header.scss */
#header.org-business-affairs #logo {
  background-position: left bottom 21px !important;
}
/* line 346, ../sass/includes/_module-header.scss */
#header.org-business-affairs #site-title-line4 {
  font-size: 18px;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  margin-bottom: -2px;
  padding-top: 6px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  /* line 355, ../sass/includes/_module-header.scss */
  #header.org-business-affairs #logo.logo-mobile {
    background-position: left bottom 21px !important;
  }
  /* line 358, ../sass/includes/_module-header.scss */
  #header.org-business-affairs #logo.logo-mobile #site-title-line4 {
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

/* University IT */
/* line 369, ../sass/includes/_module-header.scss */
#header.org-university-it #logo {
  background-position: left bottom 21px !important;
}
/* line 372, ../sass/includes/_module-header.scss */
#header.org-university-it #site-title-line4 {
  font-size: 20px;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  margin-right: -2px;
  margin-bottom: 0px;
  padding-top: 6px;
  white-space: nowrap;
}
@media (max-width: 480px) {
  /* line 382, ../sass/includes/_module-header.scss */
  #header.org-university-it #logo.logo-mobile {
    background-position: left bottom 21px !important;
  }
  /* line 385, ../sass/includes/_module-header.scss */
  #header.org-university-it #logo.logo-mobile #site-title-line4 {
    font-size: 16px;
  }
}

/* ADMIN SHORTCUTS ********************************* */
/* line 3, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts {
  background: #4D4F53;
  margin: 0px;
  padding: 8px 10px 3px 10px;
  color: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* line 10, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts .nav {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu a,
#admin-shortcuts .content a {
  background: #4D4F53;
  color: #fff;
  padding: 3px 10px;
}

/* line 25, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu a:hover,
#admin-shortcuts ul.menu a:focus,
#admin-shortcuts ul.menu a:active,
#admin-shortcuts .content a:hover,
#admin-shortcuts .content a:focus,
#admin-shortcuts .content a:active {
  background: #222;
  border-radius: 5px;
}

/* line 32, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu > li > a:hover,
#admin-shortcuts ul.menu > li > a:active,
#admin-shortcuts .content > ul > li > a:hover,
#admin-shortcuts .content > ul > li > a:active {
  background: #222;
  border-radius: 10px;
}

/* line 37, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu,
#admin-shortcuts .content ul {
  background: #4D4F53;
}

/* line 41, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li,
#admin-shortcuts .content ul li {
  display: inline-block;
  margin: 0;
}

/* line 46, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li ul,
#admin-shortcuts .content ul li ul {
  display: none;
}

/* line 50, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu li:hover ul,
#admin-shortcuts .content ul li:hover ul {
  display: block;
  position: absolute;
  width: 200px;
}

/* line 56, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu ul li,
#admin-shortcuts .content ul ul li {
  display: block;
}

/* line 60, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu ul a,
#admin-shortcuts .content ul ul a {
  padding-left: 20px;
}

/* line 64, ../sass/includes/_module-admin-shortcuts.scss */
#admin-shortcuts ul.menu .caret,
#admin-shortcuts .content .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

/* THEME OPTIONS ************************** */
/* Header background image text color styles */
/* line 26, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-light #site-name a,
.header-bkg.header-bkg-text-light #site-name a:hover,
.header-bkg.header-bkg-text-light #site-name a:active,
.header-bkg.header-bkg-text-light #site-title-first-line a,
.header-bkg.header-bkg-text-light #site-title-first-line a:hover,
.header-bkg.header-bkg-text-light #site-title-first-line a:active,
.header-bkg.header-bkg-text-light #site-title-second-line a,
.header-bkg.header-bkg-text-light #site-title-second-line a:hover,
.header-bkg.header-bkg-text-light #site-title-second-line a:active,
.header-bkg.header-bkg-text-light #site-title-line3 a,
.header-bkg.header-bkg-text-light #site-title-line3 a:hover,
.header-bkg.header-bkg-text-light #site-title-line3 a:active,
.header-bkg.header-bkg-text-light #site-title-line4 a,
.header-bkg.header-bkg-text-light #site-title-line4 a:hover,
.header-bkg.header-bkg-text-light #site-title-line4 a:active,
.header-bkg.header-bkg-text-light #site-title-line5 a,
.header-bkg.header-bkg-text-light #site-title-line5 a:hover,
.header-bkg.header-bkg-text-light #site-title-line5 a:active,
.header-bkg.header-bkg-text-light #site-slogan,
.header-bkg.header-bkg-text-light .site-login,
.header-bkg.header-bkg-text-light .site-login a {
  color: white;
  text-shadow: black 0 0 2px;
}

/* line 31, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-light #header #logo {
  border-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 3px 0 3px -3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 3px 0 3px -3px;
  box-shadow: rgba(0, 0, 0, 0.8) 3px 0 3px -3px;
}

/* line 36, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-light #header #logo.site-logo {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 61, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-dark #site-name a,
.header-bkg.header-bkg-text-dark #site-name a:hover,
.header-bkg.header-bkg-text-dark #site-name a:active,
.header-bkg.header-bkg-text-dark #site-title-first-line a,
.header-bkg.header-bkg-text-dark #site-title-first-line a:hover,
.header-bkg.header-bkg-text-dark #site-title-first-line a:active,
.header-bkg.header-bkg-text-dark #site-title-second-line a,
.header-bkg.header-bkg-text-dark #site-title-second-line a:hover,
.header-bkg.header-bkg-text-dark #site-title-second-line a:active,
.header-bkg.header-bkg-text-dark #site-title-line3 a,
.header-bkg.header-bkg-text-dark #site-title-line3 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line3 a:active,
.header-bkg.header-bkg-text-dark #site-title-line4 a,
.header-bkg.header-bkg-text-dark #site-title-line4 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line4 a:active,
.header-bkg.header-bkg-text-dark #site-title-line5 a,
.header-bkg.header-bkg-text-dark #site-title-line5 a:hover,
.header-bkg.header-bkg-text-dark #site-title-line5 a:active,
.header-bkg.header-bkg-text-dark #site-slogan,
.header-bkg.header-bkg-text-dark #site-slogan,
.header-bkg.header-bkg-text-dark .site-login,
.header-bkg.header-bkg-text-dark .site-login a {
  color: black;
  text-shadow: white 0 0 2px;
}

/* line 66, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-dark #header #logo {
  border-color: black;
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 3px 0 3px -3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 3px 0 3px -3px;
  box-shadow: rgba(255, 255, 255, 0.6) 3px 0 3px -3px;
}

/* line 71, ../sass/includes/_module-theme-options.scss */
.header-bkg.header-bkg-text-dark #header #logo {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Header background image full-bleed for front page setting */
/* line 78, ../sass/includes/_module-theme-options.scss */
.front.header-bkg.header-bkg-image.header-bkg-style-frontbleed .header {
  background-image: none;
  background: transparent;
}

/* line 83, ../sass/includes/_module-theme-options.scss */
body.front.header-bkg-style-frontbleed {
  background-color: transparent;
  background-position: left top;
  background-repeat: repeat;
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* line 91, ../sass/includes/_module-theme-options.scss */
body.front.header-bkg-style-frontbleed .main {
  background: transparent;
}

@media (max-width: 480px) {
  /* line 98, ../sass/includes/_module-theme-options.scss */
  .header-bkg.header-bkg-text-light #header.organization #logo.logo-mobile #site-title-line4 a {
    border-bottom: 1px solid white;
  }

  /* line 104, ../sass/includes/_module-theme-options.scss */
  .header-bkg.header-bkg-text-dark #header.organization #logo.logo-mobile #site-title-line4 a {
    border-bottom: 1px solid black;
  }
}
