$bright-orange-background: #e98300;
$bright-orange-color: #333333;
$bright-orange-link: #4d4f53;

%cool-gray {
  background-color: #4d4f53;
  color: #ffffff;

  h2,
  h3,
  h4 {
    color: #ffffff;
  }

  a,
  a:focus,
  a:hover {
    color: #d5d0c0;
  }
}

%light-taupe {
  background-color: #d5d0c0;
  color: #333333;

  h2,
  h3,
  h4 {
    color: #333333;
  }

  a,
  a:focus,
  a:hover {
    color: #4d4f53;
  }
}

%bright-green {
  background-color: #009b76;
  color: #ffffff;

  h2,
  h3,
  h4 {
    color: #ffffff;
  }

  a,
  a:focus,
  a:hover {
    color: #000000;
  }
}

%bright-blue {
  background-color: #0f6c91;
  color: #ffffff;

  h2,
  h3,
  h4 {
    color: #ffffff;
  }

  a,
  a:focus,
  a:hover {
    color: #dad7cb;
  }
}

%bright-yellow {
  background-color: #eaab00;
  color: #333333;

  h2,
  h3,
  h4 {
    color: #333333;
  }

  a,
  a:focus,
  a:hover {
    color: #53284f;
  }
}

%bright-orange {
  background-color: #e98300;
  color: #333333;

  h2,
  h3,
  h4 {
    color: #333333;
  }

  a,
  a:focus,
  a:hover {
    color: #4d4f53;
  }
}

@mixin paragraph-colors($color) {
  @extend %#{$color};
}
