.field-name-field-p-icon-color {
  .color-red {
    background-color: #8c1515;
    color: #ffffff;
  }

  .color-black {
    background-color: #000000;
    color: #ffffff;
  }

  .color-white {
    background-color: #ffffff;
    color: #000000;
  }

  .color-cool-gray {
    background-color: #4d4f53;
    color: #ffffff;
  }

  .color-dark-taupe {
    background-color: #928b81;
    color: #ffffff;
  }

  .color-light-taupe {
    background-color: #d5d0c0;
    color: #ffffff;
  }

  .color-deep-blue {
    background-color: #006374;
    color: #ffffff;
  }

  .color-deep-purple {
    background-color: #53284f;
    color: #ffffff;
  }

  .color-bright-green {
    background-color: #009b76;
    color: #ffffff;
  }

  .color-bright-blue {
    background-color: #0f6c91;
    color: #ffffff;
  }

  .color-bright-yellow {
    background-color: #eaab00;
    color: #ffffff;
  }

  .color-bright-orange {
    background-color: #e98300;
    color: #ffffff;
  }
}
