@import 'colors';

.paragraphs-item-p-callout {
  text-align: center;

  .center {
    margin: 0 auto 3em;
    float: none;
  }

  &.entity-paragraphs-item.entity {
    margin-bottom: 0;
    padding-top: 1.5em;

    &.color-background {
      margin-bottom: 3em;

      .center {
        margin-bottom: 1em;
      }

      .field-name-field-p-callout-text {
        margin-bottom: 0;
      }
    }
  }

  p {
    font-size: 2em;
    line-height: 1.2em;
    font-weight: 600;
  }

  a {
    text-decoration: underline;
  }

  &.cool-gray {
    @include paragraph-colors('cool-gray');
  }

  &.light-taupe {
    @include paragraph-colors('light-taupe');
  }

  &.bright-green {
    @include paragraph-colors('bright-green');
  }

  &.bright-blue {
    @include paragraph-colors('bright-blue');
  }

  &.bright-yellow {
    @include paragraph-colors('bright-yellow');
  }

  &.bright-orange {
    @include paragraph-colors('bright-orange');
  }
}
