html.js body > div[class*="hero"]:not([class*="reveal"]) img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100vh;
}
html.js body > div[class*="hero"]:not([class*="reveal"]) iframe {
  width: 100%;
  height: 100%;
  position: relative;
}
html.js body > div[class*="hero"]:not([class*="reveal"]) a {
  z-index: 20;
}
html.js body > div[class*="hero"]:not([class*="reveal"]) .player {
  padding-bottom: 0;
  height: auto;
}
html.js body > div[class*="hero"]:not([class*="reveal"]) .entity-paragraphs-item {
  margin-bottom: 0;
}
html.js body > .hero-curtain {
  background: transparent;
  position: relative;
}
html.js body > .hero-curtain > * {
  z-index: 10;
  position: relative;
}
html.js body > .hero-curtain .entity {
  background: #000;
}
html.js body > .hero-curtain.below-hero {
  padding-bottom: 0 !important;
}
html.js body > .hero-curtain-reveal {
  position: fixed;
  top: 0;
  width: 100%;
}
html.js body > .hero-curtain-reveal.below-hero {
  position: relative;
}
html.js body > .hero-scroll a.scroll-down {
  position: absolute;
  color: #fff;
  bottom: 0;
  font-size: 80px;
  left: calc(50% - 40px);
  text-align: center;
}
html.js body > .hero-scroll a.scroll-down .scroll-text {
  font-size: 20px;
}
html.js #global-header-hero {
  position: absolute;
  z-index: 99;
  width: 100%;
}
html.js #global-header-hero > .container {
  width: 100%;
  border-bottom: 2px #ccc solid;
}
html.js #global-header-hero img {
  height: 30px;
  width: auto;
  margin: 10px 0;
}
html.js #global-header-hero .row-fluid {
  width: 95%;
  margin: 0 auto;
}
html.js #global-header-hero .block-webauth {
  margin: 14px 0;
}
html.js #hero-menu {
  max-width: 1170px;
  margin: 20px auto 0;
}
@media (max-width: 836px) {
  html.js #hero-menu {
    display: none;
  }
}
html.js #hero-menu ul {
  display: table;
  width: 100%;
}
html.js #hero-menu ul ul,
html.js #hero-menu ul .caret {
  display: none;
}
html.js #hero-menu li {
  display: table-cell;
  list-style: none;
  position: relative;
  padding: 0;
  text-align: center;
}
html.js #hero-menu li a {
  color: #fff;
  font-size: 20px;
  margin-bottom: 7px;
  display: inline-block;
}
html.js #hero-menu li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #ffffff;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
html.js #hero-menu li a:hover, html.js #hero-menu li a:focus {
  background-color: transparent;
}
html.js #hero-menu li a:hover:before, html.js #hero-menu li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
