.field-name-field-p-icon-color .color-red {
  background-color: #8c1515;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-black {
  background-color: #000000;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-white {
  background-color: #ffffff;
  color: #000000;
}
.field-name-field-p-icon-color .color-cool-gray {
  background-color: #4d4f53;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-dark-taupe {
  background-color: #928b81;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-light-taupe {
  background-color: #d5d0c0;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-deep-blue {
  background-color: #006374;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-deep-purple {
  background-color: #53284f;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-bright-green {
  background-color: #009b76;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-bright-blue {
  background-color: #0f6c91;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-bright-yellow {
  background-color: #eaab00;
  color: #ffffff;
}
.field-name-field-p-icon-color .color-bright-orange {
  background-color: #e98300;
  color: #ffffff;
}
