.paragraphs-item-p-icon {
  text-align: center;
  line-height: 1em;
}
.paragraphs-item-p-icon .field-collection-view.span4:nth-child(3n+1) {
  clear: none;
}
.paragraphs-item-p-icon i,
.paragraphs-item-p-icon .field-name-field-p-icon-image {
  font-size: 80px;
  height: 160px;
  width: 160px;
  border-radius: 80px;
  position: relative;
  margin-bottom: -2.5px;
}
.paragraphs-item-p-icon i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paragraphs-item-p-icon .content div.field-name-field-p-icon-image {
  height: 160px;
  width: 160px;
  border-radius: 80px;
  display: table;
  margin: 0 auto;
}
.paragraphs-item-p-icon .content div.field-name-field-p-icon-image > div {
  display: table-cell;
  vertical-align: middle;
}
.paragraphs-item-p-icon .content div.field-name-field-p-icon-image img {
  height: 80px;
  width: 80px;
}
.paragraphs-item-p-icon .field-name-field-p-icon-title {
  margin: 20px 0;
}
.paragraphs-item-p-icon .field-name-field-p-icon-links {
  margin-bottom: 20px;
}
.paragraphs-item-p-icon .color-red i,
.paragraphs-item-p-icon .color-red .field-name-field-p-icon-image {
  background-color: #8c1515;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-black i,
.paragraphs-item-p-icon .color-black .field-name-field-p-icon-image {
  background-color: #000000;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-white i,
.paragraphs-item-p-icon .color-white .field-name-field-p-icon-image {
  background-color: #ffffff;
  color: #000000;
}
.paragraphs-item-p-icon .color-cool-gray i,
.paragraphs-item-p-icon .color-cool-gray .field-name-field-p-icon-image {
  background-color: #4d4f53;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-dark-taupe i,
.paragraphs-item-p-icon .color-dark-taupe .field-name-field-p-icon-image {
  background-color: #928b81;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-light-taupe i,
.paragraphs-item-p-icon .color-light-taupe .field-name-field-p-icon-image {
  background-color: #d5d0c0;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-deep-blue i,
.paragraphs-item-p-icon .color-deep-blue .field-name-field-p-icon-image {
  background-color: #006374;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-deep-purple i,
.paragraphs-item-p-icon .color-deep-purple .field-name-field-p-icon-image {
  background-color: #53284f;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-bright-green i,
.paragraphs-item-p-icon .color-bright-green .field-name-field-p-icon-image {
  background-color: #009b76;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-bright-blue i,
.paragraphs-item-p-icon .color-bright-blue .field-name-field-p-icon-image {
  background-color: #0f6c91;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-bright-yellow i,
.paragraphs-item-p-icon .color-bright-yellow .field-name-field-p-icon-image {
  background-color: #eaab00;
  color: #ffffff;
}
.paragraphs-item-p-icon .color-bright-orange i,
.paragraphs-item-p-icon .color-bright-orange .field-name-field-p-icon-image {
  background-color: #e98300;
  color: #ffffff;
}
