body #footer,
body #fullwidth-bottom,
body #fullwidth-top,
body #main,
body #main-menu {
  font-size: 20px;
  line-height: 1.4em;
}

.big-text-styles .navbar .nav > li > a {
  font-size: 20px;
}
.big-text-styles h1 {
  font-size: 2.4em;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 1.2em;
}
.big-text-styles h2 {
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 600;
}
.big-text-styles h3 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1.2em 0 0.5em;
}
.big-text-styles h4 {
  font-size: 1em;
  line-height: 1.2em;
  margin: 1.2em 0 0.5em;
}
.big-text-styles .more-link a,
.big-text-styles a.more-link {
  font-size: 20px;
  font-weight: 400;
}
.big-text-styles .normal-link h2,
.big-text-styles .normal-link h3,
.big-text-styles h2.normal-link,
.big-text-styles h3.normal-link {
  font-size: 20px;
}
.big-text-styles li {
  margin-bottom: 0.6em;
}
@media (max-width: 980px) {
  .big-text-styles h1 {
    font-size: 2em;
  }
}
@media (max-width: 767px) {
  .big-text-styles .main {
    padding-top: 16px;
  }
}
@media (max-width: 480px) {
  .big-text-styles h1 {
    font-size: 1.7em;
  }
  .big-text-styles h2 {
    font-size: 1.3em;
  }
  .big-text-styles h3 {
    font-size: 1.1em;
  }
  .big-text-styles h4 {
    font-weight: 400;
  }
}
.big-text-styles .site-name a,
.big-text-styles .site-name a:hover {
  letter-spacing: -0.5px;
}
.big-text-styles #site-name,
.big-text-styles #site-title-first-line,
.big-text-styles #site-title-line3,
.big-text-styles #site-title-second-line {
  letter-spacing: -.5px;
}
.big-text-styles .navbar .btn-navbar {
  padding: 12px;
}
.big-text-styles .dropdown-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .big-text-styles .navbar .btn-navbar {
    margin-top: 6px;
    margin-left: 6px;
  }
}
.big-text-styles .sidebar {
  margin-top: 0.8em;
}
.big-text-styles .sidebar .block-menu h2,
.big-text-styles .sidebar .block-menu-block h2 {
  font-size: 1.1em;
  line-height: 1.3em;
}
.big-text-styles .sidebar .block-menu-block a {
  font-weight: 400;
}
@media (max-width: 767px) {
  .big-text-styles .site-sidebar-first .block,
  .big-text-styles .site-sidebar-second .block {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .big-text-styles .sidebar {
    margin-bottom: 0;
  }
}
.big-text-styles #footer #footer-content .block {
  font-size: 0.8em;
  line-height: 1.4em;
}
@media (max-width: 767px) {
  .big-text-styles #block-bean-jumpstart-footer-contact-block {
    margin-bottom: 1.4em;
  }
  .big-text-styles #block-bean-jumpstart-footer-social-media-0 {
    margin-bottom: 1.3em;
  }
  .big-text-styles #block-bean-optional-footer-block {
    margin-bottom: 0.5em;
  }
}
.big-text-styles .banner-overlay p {
  font-size: 1em;
}
.big-text-styles .banner-overlay h2,
.big-text-styles .banner-overlay h3,
.big-text-styles .banner-overlay h4 {
  margin-bottom: 0.3em;
}
.big-text-styles .span6 .banner-overlay h2 {
  font-size: 1.4em;
}
.big-text-styles .span6 .banner-overlay .more-link a,
.big-text-styles .span6 .banner-overlay a.more-link,
.big-text-styles .span6 .banner-overlay p {
  font-size: 0.9em;
}
.big-text-styles .well .more-link a,
.big-text-styles .well a.more-link {
  font-size: 20px;
  font-weight: 400;
}
.big-text-styles .well .descriptor {
  font-size: 0.8em;
  margin: 0.2em 0 0;
}
.big-text-styles .well h2 {
  font-size: 1.5em;
}
.big-text-styles .view .postcard-left,
.big-text-styles .view .postcard-left-wrap,
.big-text-styles .view .postcard-right,
.big-text-styles .view .postcard-right-wrap {
  margin-bottom: 0;
}
.big-text-styles .view .postcard-left h3,
.big-text-styles .view .postcard-left-wrap h3,
.big-text-styles .view .postcard-right h3,
.big-text-styles .view .postcard-right h3 {
  margin-bottom: 0.8em;
}
.big-text-styles .well .view .postcard-left h3,
.big-text-styles .well .view .postcard-left-wrap h3,
.big-text-styles .well .view .postcard-right h3,
.big-text-styles .well .view .postcard-right-wrap h3 {
  margin: 0.2em 0 0.3em;
}
.big-text-styles .views-row-lines .views-row {
  margin-bottom: 1.5em;
  padding-bottom: 1.3em;
  padding-right: 1.3em;
}
.big-text-styles .views-row-lines .views-row-1 {
  padding-top: 1.5em;
  padding-right: 1.3em;
}
.big-text-styles .descriptor {
  letter-spacing: 0.2px;
  text-transform: none;
  line-height: 1.2em;
  font-size: 1em;
  margin-bottom: 8px;
}
.big-text-styles .descriptor a {
  font-weight: 400;
}
.big-text-styles .caption p {
  line-height: 1.2em;
  margin-bottom: 0;
}
.big-text-styles .credits {
  margin-top: 0;
}
.big-text-styles .big-text {
  letter-spacing: 0;
  font-size: 2.3em;
}
.big-text-styles .summary {
  font-size: 1.5em;
}
@media (max-width: 767px) {
  .big-text-styles .summary {
    font-size: 1.2em;
  }
}
