.bean-stanford-testimonial-block .quote {
  margin-top: -34px;
}
.bean-stanford-testimonial-block .quote .field-item:after {
  font-size: 40px;
  font-weight: bold;
  opacity: 0.5;
  content: close-quote;
  line-height: 0;
  position: relative;
  left: 8px;
  top: 20px;
}

.stanford-jumpstart-home-lomita .content-top .block {
  border: 0;
  padding: 1em;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.stanford-jumpstart-home-lomita.style-custom-styles-bright .navbar {
  background: #53284f;
}
.stanford-jumpstart-home-lomita.style-custom-styles-bright .content-top .block {
  background: #006374;
  color: #ffffff;
}
.stanford-jumpstart-home-lomita.style-custom-styles-bright .site-footer {
  background: #53284f;
}

.stanford-jumpstart-home-lomita.style-custom-styles-cardinal .navbar {
  background: #8c1515;
}
.stanford-jumpstart-home-lomita.style-custom-styles-cardinal .content-top .block {
  background: #f2f1eb;
  color: #ffffff;
}
.stanford-jumpstart-home-lomita.style-custom-styles-cardinal .site-footer {
  background: #8c1515;
}

.stanford-jumpstart-home-lomita.style-custom-styles-contrast .navbar {
  background: #333333;
}
.stanford-jumpstart-home-lomita.style-custom-styles-contrast .content-top .block {
  background: #333333;
  color: #ffffff;
}
.stanford-jumpstart-home-lomita.style-custom-styles-contrast .site-footer {
  background: #333333;
}

.stanford-jumpstart-home-lomita.style-custom-styles-dark .navbar {
  background: #282724;
}
.stanford-jumpstart-home-lomita.style-custom-styles-dark .content-top .block {
  background: #232220;
  color: #2e2d29;
}
.stanford-jumpstart-home-lomita.style-custom-styles-dark .site-footer {
  background: #282724;
}

.stanford-jumpstart-home-lomita.style-custom-styles-light .navbar {
  background: #f8f7f2;
}
.stanford-jumpstart-home-lomita.style-custom-styles-light .content-top .block {
  background: #e9e6df;
  color: #fbfbf9;
}
.stanford-jumpstart-home-lomita.style-custom-styles-light .site-footer {
  background: #f8f7f2;
}

.stanford-jumpstart-home-lomita.style-custom-styles-plain .navbar {
  background: #ffffff;
}
.stanford-jumpstart-home-lomita.style-custom-styles-plain .content-top .block {
  background: #e9e9e9;
  color: #ffffff;
}
.stanford-jumpstart-home-lomita.style-custom-styles-plain .site-footer {
  background: #ffffff;
}

.stanford-jumpstart-home-lomita.style-custom-styles-rich .navbar {
  background: #d5d0c0;
}
.stanford-jumpstart-home-lomita.style-custom-styles-rich .content-top .block {
  background: #d5d0c0;
  color: #fbfbf9;
}
.stanford-jumpstart-home-lomita.style-custom-styles-rich .site-footer {
  background: #5e3032;
}

.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu {
  background: #0f6c91;
}
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a {
  color: #ffffff;
  padding: 0.25em 0;
  margin: 0 0.5em;
}
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a,
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a:hover,
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a:focus,
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:focus,
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:hover,
.not-front.header-bkg.header-bkg-style-frontbleed.stanford-jumpstart-home-lomita.style-custom-styles-vivid .site-main-menu .navbar .nav > .active-trail > a {
  border-bottom: 2px solid #ffffff;
  background: transparent;
}

.stanford-jumpstart-home-mayfield #block-bean-jumpstart-lead-text-with-body {
  padding-right: 2em;
}
.stanford-jumpstart-home-mayfield .bean-stanford-testimonial-block {
  margin-left: 2em;
}
@media (max-width: 767px) {
  .stanford-jumpstart-home-mayfield .bean-stanford-testimonial-block .postcard-right > div {
    display: block;
  }
  .stanford-jumpstart-home-mayfield .bean-stanford-testimonial-block .postcard-right > div:first-child {
    float: none;
  }
  .stanford-jumpstart-home-mayfield .bean-stanford-testimonial-block .postcard-right > div:first-child img {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .stanford-jumpstart-home-mayfield #block-bean-jumpstart-lead-text-with-body {
    padding-right: 0;
  }
  .stanford-jumpstart-home-mayfield .bean-stanford-testimonial-block {
    margin-left: 0;
  }
}

.stanford-jumpstart-home-palm .site-main-menu {
  background: transparent;
  border: 0;
}
.stanford-jumpstart-home-palm .navbar {
  padding: 0.5em;
  margin: 0;
}
.stanford-jumpstart-home-palm .navbar .nav > li > a {
  padding: 0.25em 0.5em;
  border: 0;
  margin-right: 0.5em;
}
.stanford-jumpstart-home-palm .header {
  background: transparent;
}

.front.stanford-jumpstart-home-palm .main {
  padding-top: 0;
}

.stanford-jumpstart-home-palm.style-custom-styles-bright .navbar {
  background: #53284f;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #53284f;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-name a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-name a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-first-line a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-first-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-first-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-second-line a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-second-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-second-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line3 a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line3 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line3 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line4 a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line4 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line4 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line5 a,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line5 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-bright #site-title-line5 a:focus {
  color: #333333;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #header #logo {
  border-right: 1px solid #333333;
  background-image: url("../../../../themes/stanford_framework/logo.png");
  background-repeat: no-repeat;
  background-size: 180px auto;
  background-position: left bottom;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #header #logo.site-logo {
  border: 0;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #header.line4 #logo {
  background-position: left bottom 30px;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #header #logo a {
  display: inline-block;
}
.stanford-jumpstart-home-palm.style-custom-styles-bright #header #logo img {
  left: -1000px;
  position: relative;
  top: -1000px;
}

.stanford-jumpstart-home-palm.style-custom-styles-cardinal .navbar {
  background: #8c1515;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #8c1515;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-name a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-name a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-first-line a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-first-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-first-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-second-line a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-second-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-second-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line3 a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line3 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line3 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line4 a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line4 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line4 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line5 a,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line5 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #site-title-line5 a:focus {
  color: #333333;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #header #logo {
  border-right: 1px solid #333333;
  background-image: url("../../../../themes/stanford_framework/logo.png");
  background-repeat: no-repeat;
  background-size: 180px auto;
  background-position: left bottom;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #header #logo.site-logo {
  border: 0;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #header.line4 #logo {
  background-position: left bottom 30px;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #header #logo a {
  display: inline-block;
}
.stanford-jumpstart-home-palm.style-custom-styles-cardinal #header #logo img {
  left: -1000px;
  position: relative;
  top: -1000px;
}

.stanford-jumpstart-home-palm.style-custom-styles-contrast .navbar {
  background: #333333;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #333333;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-name a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-name a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-name a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-first-line a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-first-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-first-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-second-line a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-second-line a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-second-line a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line3 a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line3 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line3 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line4 a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line4 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line4 a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line5 a,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line5 a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-contrast #site-title-line5 a:focus {
  color: #333333;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #header #logo {
  border-right: 1px solid #333333;
  background-image: url("../../../../themes/stanford_framework/logo.png");
  background-repeat: no-repeat;
  background-size: 180px auto;
  background-position: left bottom;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #header #logo.site-logo {
  border: 0;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #header.line4 #logo {
  background-position: left bottom 30px;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #header #logo a {
  display: inline-block;
}
.stanford-jumpstart-home-palm.style-custom-styles-contrast #header #logo img {
  left: -1000px;
  position: relative;
  top: -1000px;
}

.stanford-jumpstart-home-palm.style-custom-styles-dark .navbar {
  background: #282724;
}
.stanford-jumpstart-home-palm.style-custom-styles-dark #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #282724;
}
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > .active > a,
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > .active > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > .active > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > li > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > li > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-dark .site-main-menu .navbar .nav > .active-trail > a {
  color: #282724;
  background: #fbfbf9;
  border: 0;
}

.stanford-jumpstart-home-palm.style-custom-styles-light .navbar {
  background: #f8f7f2;
}
.stanford-jumpstart-home-palm.style-custom-styles-light #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #f8f7f2;
}
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > .active > a,
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > .active > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > .active > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > li > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > li > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-light .site-main-menu .navbar .nav > .active-trail > a {
  color: #333333;
  background: #e9e6df;
  border: 0;
}

.stanford-jumpstart-home-palm.style-custom-styles-plain .navbar {
  background: #e9e9e9;
}
.stanford-jumpstart-home-palm.style-custom-styles-plain #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #e9e9e9;
}
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > .active > a,
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > .active > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > .active > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > li > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > li > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-plain .site-main-menu .navbar .nav > .active-trail > a {
  color: #ffffff;
  background: #333333;
  border: 0;
}

.stanford-jumpstart-home-palm.style-custom-styles-rich .navbar {
  background: #d5d0c0;
}
.stanford-jumpstart-home-palm.style-custom-styles-rich #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #d5d0c0;
}
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > .active > a,
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > .active > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > .active > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > li > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > li > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-rich .site-main-menu .navbar .nav > .active-trail > a {
  color: #fbfbf9;
  background: #5e3032;
  border: 0;
}

.stanford-jumpstart-home-palm.style-custom-styles-vivid .navbar {
  background: #0f6c91;
}
.stanford-jumpstart-home-palm.style-custom-styles-vivid #block-bean-jumpstart-homepage-tall-banner .border-simple img {
  background-color: #0f6c91;
}
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a {
  color: #ffffff;
  padding: 0.25em 0;
  margin: 0 0.5em;
}
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > .active > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:focus,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > li > a:hover,
.stanford-jumpstart-home-palm.style-custom-styles-vivid .site-main-menu .navbar .nav > .active-trail > a {
  border-bottom: 2px solid #ffffff;
}

.stanford-jumpstart-home-serra .site-main-menu,
.stanford-jumpstart-home-serra .navbar {
  background: transparent;
}
.stanford-jumpstart-home-serra .main {
  padding-top: 0;
}
.stanford-jumpstart-home-serra .site-main-menu {
  border: 0;
}
.stanford-jumpstart-home-serra .main-top {
  padding-top: 2em;
  margin-bottom: 2em;
}
.stanford-jumpstart-home-serra .mission-block {
  font-size: 1.3em;
  line-height: 1.4em;
}
.stanford-jumpstart-home-serra #block-bean-jumpstart-info-text-block {
  margin-left: 16%;
}
@media (max-width: 767px) {
  .stanford-jumpstart-home-serra #block-bean-jumpstart-info-text-block {
    margin-left: 0;
  }
}

.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top {
  border-bottom: 1px solid #53284f;
}
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-bright .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-bright .header {
  background: #53284f;
  color: #ffffff;
}
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top .more-link a,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top a.more-link,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top .big-text,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top .infotext {
  color: #ffce49;
}
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top .more-link a:hover,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top .more-link a:focus,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top a.more-link:hover,
.stanford-jumpstart-home-serra.style-custom-styles-bright .main-top a.more-link:focus {
  color: #ffffff;
  text-decoration: underline;
}

.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top {
  border-bottom: 1px solid #8c1515;
}
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .header {
  background: #8c1515;
  color: #ffffff;
}
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top .more-link a,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top a.more-link,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top .big-text,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top .infotext {
  color: #ffffff;
}
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top .more-link a:hover,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top .more-link a:focus,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top a.more-link:hover,
.stanford-jumpstart-home-serra.style-custom-styles-cardinal .main-top a.more-link:focus {
  color: #ffffff;
  text-decoration: underline;
}

.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top {
  border-bottom: 1px solid transparent;
}
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .header {
  background: #333333;
  color: #ffffff;
}
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top .more-link a,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top a.more-link,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top .big-text,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top .infotext {
  color: #b3995d;
}
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top .more-link a:hover,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top .more-link a:focus,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top a.more-link:hover,
.stanford-jumpstart-home-serra.style-custom-styles-contrast .main-top a.more-link:focus {
  color: #ffffff;
  text-decoration: underline;
}

.stanford-jumpstart-home-serra.style-custom-styles-dark .main-top {
  border-bottom: 1px solid #232220;
}
.stanford-jumpstart-home-serra.style-custom-styles-dark .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-dark .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-dark .header {
  background: #282724;
}

.stanford-jumpstart-home-serra.style-custom-styles-light .main-top {
  border-bottom: 1px solid #e9e6df;
}
.stanford-jumpstart-home-serra.style-custom-styles-light .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-light .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-light .header {
  background: #f8f7f2;
}

.stanford-jumpstart-home-serra.style-custom-styles-plain .main-top {
  border-bottom: 1px solid transparent;
}
.stanford-jumpstart-home-serra.style-custom-styles-plain .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-plain .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-plain .header {
  background: #ffffff;
}

.stanford-jumpstart-home-serra.style-custom-styles-rich .main-top {
  border-bottom: 1px solid #d5d0c0;
}
.stanford-jumpstart-home-serra.style-custom-styles-rich .main-top,
.stanford-jumpstart-home-serra.style-custom-styles-rich .site-main-menu,
.stanford-jumpstart-home-serra.style-custom-styles-rich .header {
  background: #d5d0c0;
}
